{% extends 'UserMain.html' %}
{% load static %}
{% load mathfilters %}
{% block title %}My Cart{% endblock title %}
{% block contents %}
<style>
    #toast-container {
        margin: 1rem;
}
#mydiv {
    
    border-radius: 5px;
    position:fixed;
    top: 50%;
    left: 50%;
    width: 20rem;
    height:14em;
    margin-top: -7em; /*set to a negative number 1/2 of your height*/
    margin-left: -10rem; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #fff;
	height: max-content;background-color: black;color: cadetblue;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    z-index: 2;
	
}
.btn-order-cancel{
	width: 100%;
	height: 50px;
	border:none;
	color: black;
	text-transform: uppercase;
	background-color: #17c6aa;
	font-weight: bold;
}
.btn-order-continue{
	width: 100%;
	height: 50px;
	border:none;
	color: black;
	text-transform: uppercase;
	background-color: #17c6aa;
	font-weight: bold;
}
.body-div{
	
	filter: blur(8px);
  -webkit-filter: blur(2px);
}
</style>
<div class="body">
<div style="background-color: black;color: #17c6aa;text-align: center;" id="check_msg"></div>
<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><span>Cart</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="page-title text-center">
                {% include 'messages.html' %}
                <h1>Shopping Cart</h1>
            </div>
       
            <div class="row">
                {% if CartProductVar %}
                <div class="col-sm-8 ">
                    <div class="cart-table">
                        <div class="cart-table-prd cart-table-prd--head py-1 d-none d-md-flex">
                            <div class="cart-table-prd-image text-center">
                                Image
                            </div>
                            <div class="cart-table-prd-content-wrap">
                                <div class="cart-table-prd-info">Name</div>
                                <div class="cart-table-prd-qty">Qty</div>
                                <div class="cart-table-prd-price">Price</div>
                                <div class="cart-table-prd-action">&nbsp;</div>
                            </div>
                        </div>
                        {%for Product in CartProductVar%}
                        <div class="cart-table-prd">
                            <div class="cart-table-prd-image">
                                
                                    <a href="/Categories/viewProduct/?id={{Product.product_id.product_set.first.id}}&cat={{Product.product_id.product_set.first.Product_Category.id}}" class="prd-img"><img class="lazyload fade-up"
                                    src="{{Product.product_id.product_set.first.Thumbnail_image.url}}"
                                    data-src="{{Product.product_id.product_set.first.Thumbnail_image.url}}" alt=""></a>    
                            </div>
                            <div class="cart-table-prd-content-wrap">
                                <div class="cart-table-prd-info">
                                    <div class="cart-table-prd-price">
                                        <div class="price-old">₹{{Product.product_id.Display_Prize}}</div>
                                        <div class="price-new">₹{{Product.product_id.Selling_Prize}}</div>
                                        <div></div>
                                    </div>

                                    <h2 class="cart-table-prd-name"><a href="/Categories/viewProduct/?id={{Product.product_id.product_set.first.id}}&cat={{Product.product_id.product_set.first.Product_Category.id}}">{{Product.product_id.product_set.first}} </a><span style="font-size: smaller;font-weight: lighter;">({{Product.product_id.Varient_Values}})</span>
                                    </h2>
                                    <br>
                                    <span 
                                        {% if Product.product_id.Product_stock > 20 %} 
                                            style="color: green;font-style:italic;" 
                                        {% elif Product.product_id.Product_stock <= 20 and Product.product_id.Product_stock > 0 %}
                                            style="color:rgb(245, 164, 13);font-style:italic;"
                                        {% elif Product.product_id.Product_stock == 0 %}
                                            style="color:red;font-style:italic;"
                                        {% else %}
                                            style="color:red;font-style:italic;"
                                        {%endif%}>
                                        {%if Product.product_id.Product_stock %}
                                            {{Product.product_id.Product_stock}} more left
                                        {% else %} 
                                            Out of stock
                                        {% endif %}
                                    </span>
                                </div>
                               
                                    <div class="cart-table-prd-qty">
                                        <div class="qty qty-changer">
                                            <button class="Qtydecrease" data-id="{{Product.id}}"></button>
                                            <input type="text" name="quantity[]" class="qty-input" value="{{Product.cart_quantity}}" data-min="0" data-max="1000">
                                            <button class="increase" data-id="{{Product.id}}"></button>
                                        </div>
                                    </div>
                                   
                                    <div class="cart-table-prd-price-total">
                                        <p class="PCart" >₹{{Product.Cart_Total_Price}}</p>
                                      
                                        <div>
                                            {% if Product.Cart_offer_price %}
                                            <span style="color: crimson;font-style: italic; font-size:12px;" class="OfferP"> ₹{{Product.Cart_offer_price}} off</span>
                                            {% endif %}
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="cart-table-prd-action">
                                    <a href="/my_Cart/RemoveCart/?pk={{Product.id}}" class="cart-table-prd-remove" data-tooltip="Remove Product"><i
                                            class="icon-recycle"></i></a>
                                </div>
                            </div>
                            {%endfor%}
                        
                    </div>
                    <div class="text-center mt-1"><a href="{% url 'clearCart' %}" class="btn btn--grey">Clear All</a></div>
                    <div class="d-none d-lg-block">
                        <div class="mt-4"></div>
                        
                    </div>
                    
                </div>
                
                <div class="col-sm-4 ">
                    <div class="card-total">
                        <div class="row d-flex">
                            <div class="col card-total-txt">Total</div>
                            <div class="col-auto card-total-price text-right" id="FinalCart">₹ {{TotalCart.Total_Final_Price}}</div>
                            <div style="text-align: center;font-size: small;font-style: italic;color: crimson;" id="reduction">₹ {{TotalCart.Total_Offer_Price}} offer</div>
                        </div>
                        <button style="display: none;" type="button" name="checkout" id="disable_btn" class="btn btn--full btn--lg"><span>Checkout</span></button>
                        <!-- <form method="GET" action="{% url 'cart_checkout' %}" id="form_confirm"> -->
                          
                            <button  type="button" name="checkout" id="checkout_btn" class="btn btn--full btn--lg"><span>Checkout</span></button>

                        <!-- </form> -->
                        <div class="card-text-info text-right">
                            <h5>Standart shipping</h5>
                            <p><b>10 - 11 business days</b><br>1 item ships from the U.S. and will be delivered in
                                10 - 11 business days</p>
                        </div>
                    </div>
                    <div class="mt-2"></div>
    
                </div>
                </div>
                </div>
                <div class="holder">
                    <div class="container">
                        
                            <div class="title-wrap text-center">
                                <h2 class="h1-style">You may also like</h2>
                                <div class="carousel-arrows carousel-arrows--center">
                                
                            </div>
                           
                            <div class="prd-grid prd-carousel js-prd-carousel slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2"
                                data-slick='{"slidesToShow": 4, "slidesToScroll": 2, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 3, "slidesToScroll": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 2, "slidesToScroll": 2}},{"breakpoint": 480,"settings": {% if cat_list_count == 1 %}{"slidesToShow": 1, "slidesToScroll": 1}{% else %}{"slidesToShow": 2, "slidesToScroll": 1}{% endif %}}]}'>
                                {% if cat_list %}                    
                                {% for Product in cat_list %}
                            <div class="prd prd--style2 prd-labels--max prd-labels-shadow listProduct">
                                <div class="prd-inside">
            
                                    <div class="prd-img-area">
            
                                        <a href="/Categories/viewProduct/?id={{Product.id}}&cat={{CatDetails.id}}"
                                            class="prd-img image-hover-scale image-container">
                                            <img src="{{Product.Thumbnail_image.url}}"
                                                data-src="{{Product.Thumbnail_image.url}}" alt="Oversize Cotton Dress"
                                                class="js-prd-img lazyload fade-up">
                                                <div class="prd-big-squared-labels" id="offPercent{{Product.id}}">
                                             
                                                    {% with ProductPriceDiff=Product.Product_Items.first.Display_Prize|sub:Product.Product_Items.first.Selling_Prize%}
                                                    {% with numerator=ProductPriceDiff|mul:100 denominator=Product.Product_Items.first.Display_Prize %}
                                                    {% load post_tag %}
                                                    {% with percent_offer=numerator|div:denominator|to_int %}
                                                    {% if percent_offer > 20|to_int %}
                                                    <div class="label-sale" style="background-color: #17c6aa;" ><span>{{ numerator|div:denominator|floatformat:0 }}%<span class="sale-text">off</span></span>
                                                        <div class="countdown-circle">	
                                                        </div>
													</div>
                                                    {% endif %}

                                                    {% endwith %}
                                                    {% endwith %}
                                                    {% endwith %}
											
                                                    
												</div>
                                        </a>
                                        <div class="prd-circle-labels">
                                            <div class="pb-2 wishlistClass">
                                                <a href="#" class="circle-label-compare mt-0 Wishlist_add_like"
                                                    data-id="{{Product.id}}" title="Add To Wishlist">
                                                    
                                                    {% if Product.id in wishlist %}
                                                    <i class="icon-heart-hover"></i>
                                                    {% else %}
                                                    <i class="icon-heart-stroke"></i>
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <!-- <a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile"
                                                data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
                                                    VIEW</span>
                                            </a> -->
                                            <div
                                            class="colorswatch-label colorswatch-label--variants js-prd-colorswatch">
                                            <i class="icon-palette"><span class="path1"></span><span
                                                    class="path2"></span><span class="path3"></span><span
                                                    class="path4"></span><span class="path5"></span><span
                                                    class="path6"></span><span class="path7"></span><span
                                                    class="path8"></span><span class="path9"></span><span
                                                    class="path10"></span></i>
                                            <ul>
                                                {% for i in Product.Product_Items.all %}
                                                <li>
                                                    <a class="getPrice btn-light btn--sm p-1" data-toggle="tooltip"
                                                        data-placement="left" title="{{i.Varient_Values}}" data-id="{{i.id}}" data-product="{{Product.id}}"><span>{{i.Varient_Values}}</span></a>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-info-wrap">
                                            {%if Product.Product_Items.first.Product_stock == 0 %}<div class="prd-tag" style="color: crimson;">Out Of Stock</div>{%else%}<div class="prd-tag"><br></div> {% endif %}
                                            <h2 class="prd-title"  style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap; text-align: center;font-weight: unset;"><a href="#">{{Product}}</a>
                                            </h2>
                                            <div class="row" style="padding: auto; text-align: center;">
                                            </div>
                                            
                                            <div class="prd-action">
                                                <form action="#">
                                                    
                                                    <button class="btn js-prd-addtocart addcartobject"
                                                        data-product='{"name": "Leather Pegged Pants", "path":"/static/User/images/skins/fashion/products/product-01-1.jpg", "url":"product.html", "aspect_ratio":0.778}'>Add
                                                        To Cart</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="prd-hovers">
                                            <div class="prd-circle-labels">
                                                <div class="prd-hide-mobile"><a href="#"
                                                        class="circle-label-qview js-prd-quickview"
                                                        data-src="ajax/ajax-quickview.html"><i
                                                            class="icon-eye"></i><span>QUICK VIEW</span></a></div>
                                            </div>
                                            <div class="prd-price row">
            
                                                <div class="price-old col-12 text-center"><span
                                                        style="color: rgb(190, 167, 167); font-size: small;" id="prizeD{{Product.id}}">
                                                        ₹ {{Product.Product_Items.first.Display_Prize}}
                                                    </span>
                                                </div>
                                                <div class="price-new col-12 text-center"><span class="price_new"
                                                        style="color: rgb(93, 93, 93); font-size: small;" id="prize{{Product.id}}">
                                                        ₹ {{Product.Product_Items.first.Selling_Prize}} ({{Product.Product_Items.first.Varient_Values}})
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="prd-action">
                                                <div class="prd-action-left">
                                                    {% if Product.Product_Items.first.id in CartExistance %}
                                                    <a href="#" id="CartBtn{{Product.id}}" class="btn btn--sm AddToCartSimilar disabled" data-id="{{Product.Product_Items.first.id}}">Add To Cart</a>
                                                    {% else %}
                                                    <a href="#" id="CartBtn{{Product.id}}" class="btn btn--sm AddToCartSimilar {%if Product.Product_Items.first.Product_stock == 0 %}disabled{%endif%}" data-id="{{Product.Product_Items.first.id}}">Add To Cart</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                           
                            
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="empty-wishlist js-empty-wishlist text-center py-3 py-sm-5" style="opacity: .5;">
                    <h3>Your Shopping cart is empty</h3>
                    <div class="mt-5">
                        <a href="/" class="btn">Continue shopping</a>
                    </div>
                </div>
                {% endif %}
            </div>
   
        </div>
    </div>

</div>
</div>
<div class="card"  id="mydiv" style="display: none;">
	<div class="card-body">
		<p style="color: #fff;">some of the product are out of stock continue without it?</p>
	</div>
	<div class="card-footer">
		<div class="row">
			<div class="col-6">
				<button class="btn-order-cancel" id="btn-cancel">cancel</button>
			</div>
			<div class="col-6" >
				
				<button   class="btn-order-continue" id="btn-continue" >continue</button>
			</div>
		</div>
		
	</div>
</div>


<script>
    $('.Qtydecrease').click(function(){
        var QntyInput = $(this).siblings('.qty-input').val();
        if(parseInt(QntyInput)>1){
            $(this).siblings('.qty-input').val(parseInt(QntyInput)-1)
            //Cart update for Change Total Values
            var CartId = $(this).data('id')
      
            $.ajax({
                type:'GET',
                url:"{% url 'DecreaseQty' %}",
                data:{
                    'CartId':CartId,
                    'QntyInput':QntyInput,
                },
                success:(res)=>{
                    $(this).parent().parent().siblings().children().children('.OfferP').html(`₹${res.cartOffer} off`)
                    $(this).parent().parent().siblings().children('.PCart').html(`₹${res.Cart_Total_Price}`)
                    $('#FinalCart').html('₹ '+res.Final_Price)
                    $('#reduction').html(`₹ ${res.Final_Offer_Price} offer`)
                    location.reload();
                },

            })
        }else{
            $(this).siblings('.qty-input').val(1);
            alert('limited')
        }
    })
    $('.increase').click(function(){
        var QntyInput = $(this).siblings('.qty-input').val();
        var CartId = $(this).data('id')
        $.ajax({
                type:'GET',
                url:"{% url 'IncreaseQty' %}",
                data:{
                    'CartId':CartId,
                },
                success:(res)=>{
                    //console.log(res)
                    if(res.stocks){
                        $(this).siblings('.qty-input').val(parseInt(QntyInput)+1)
                        $(this).parent().parent().siblings().children().children('.OfferP').html(`₹${res.cartOffer} off`)
                        $(this).parent().parent().siblings().children('.PCart').html(`₹${res.Cart_Total_Price}`)
                        $('#FinalCart').html('₹ '+res.Final_Price)
                        $('#reduction').html(`₹ ${res.Final_Offer_Price} offer`)
                        location.reload();
                    }else{
                        $(this).siblings('.qty-input').val(parseInt(QntyInput))
                        toastr.error("Sorry We Don't have any more units for this item")
                        location.reload();
                        //alert('Sorry Out of stock')
                    }

                },

            })
    })
    $(document).ready(function(){
        
        $.ajax({
            url : "{% url 'check_btn_count' %}",
            success : function(data){
           
                if(data.cart_count == 0){

                }else{

                
                if(data.count.includes(0)){
                    const allEqual = arr=>arr.every(val=>val === arr[0]);
                    const x = allEqual(data.count)
                    
                    if(x){
                      
                        $('#checkout_btn').remove()
                        $('#disable_btn').show()
                        $('#disable_btn').click(function(){
                            
                            toastr.error("products in your cart are currently out of stock")
                        })
                     
                
                        
                    }else{
                        
                            $('#checkout_btn').click(function(){
                            // if(confirm("some of the product are out of stock continue without it")){
                                
                            // }
                            // else{
                            //     var x = $('#form_confirm').removeAttr("method")

                            // }
                            $('#mydiv').show(200)
                            
                        }) 
                        $('#btn-cancel').click(function(){
                            $('#mydiv').hide(200) 
                        })
                        $('#btn-continue').click(function(){
                            window.location.href = "{% url 'cart_checkout' %}"
                        }) 
                        }
                        
                                                            
                    }
                else if(data.count.includes(0)){
                    
                    toastr.error("Sorry We Don't have any more units for this item")
                }else{
                    $('#checkout_btn').click(function(){
                        window.location.href = "{% url 'cart_checkout' %}"
                    })
                }
                
                }
            },
            error:function(){
                
            }
        })

    $('.Wishlist_add_like').click(function(){
        
        var proId = $(this).data('id')
        $.ajax({
            url : "{% url 'wishList' %}",
            data : {'subject_id':proId},
            success:function(data){
                window.location.href = "{% url 'my_Cart' %}"
            }
        })
    })
    $('.AddToCartSimilar').click(function(){
        var varId = $(this).data('id')
        
        $.ajax({
            url : "{% url 'Add_To_Cart' %}",
            data : {'VarientId':varId} ,
            success : function(data){
                window.location.href = "{% url 'my_Cart' %}" 
            }
        })
    })
    $('.getPrice').click(function(){
        var VarientId = $(this).data('id')
        var y = $(this).data('product')
       
        console.log(y)
        $.ajax({
            type :"GET",
            url: '{% url "get_Prize" %}',
            data: {
                'subject_id': VarientId,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success:function(data){
                var offerPrice = ((data.DisplayPrice - data.sellingPrice)*100)/data.DisplayPrice
                console.log(offerPrice,"price offfer")
                $('#prize'+y).html(`${data.sellingPrice}(${data.Value})`)
                $('#prizeD'+y).html(`${data.DisplayPrice}`)
                $('#CartBtn'+y).attr('data-id',`${data.Varientid}`)
                const offer = $(this).parent().parent().parent().parent().parent().children('.prd-img').children('.prd-big-squared-labels')
                if(offerPrice.toFixed(0) > 20){
                    console.log("yes")
                console.log(offer,"html")
                offer.html(`<div class="label-sale" style="background-color: #17c6aa;;">
                            <span>
                                ${offerPrice.toFixed(0)}%
                                <span class="sale-text">off</span>
                            </span>
                            <div class="countdown-circle">
                            </div>`)
            }else{
                offer.html('')
            }
            }
        })
    })
        
    })
  
</script>



{% endblock contents %}