{% extends 'main.html' %}
{% block title%} Region {% endblock title%}
{% block contents %}


<div class="row">
    <div class="col-md-6 col-sm-6 col-xl-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="ml-auto">
                            <h3 class="card-title">Add Pincode</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'addPincode' %}">{% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputUsername1">{{form.Post_Office.label}}</label>
                                {{form.Post_Office}}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputEmail1">{{form.Pincode.label}}</label>
                                {{form.Pincode}}
                            </div>
                        </div>
                        {{form.Owner.as_hidden}}
                    </div>
                    <hr>
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="submit" class="btn btn-primary mr-2">Add</button>
                        <a href="{% url 'Region' %}" class="btn btn-light">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xl-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="ml-auto">
                            <h3 class="card-title">Pincode</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>NAME</th>
                                <th>PINCODE</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% if pincode %}
                        {% for data in pincode %}
                        <tbody>
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{data.Post_Office}}</td>
                                <td>{{data.Pincode}}</td>
                                <td>
                                    <a href="" class="del btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Disable"
                                    data-description="{{data.id}}">Disable</a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                        {% endif %}
                    </table>
                    {% if pincode.paginator.num_pages > 1 %}
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-12">
                            {% if pincode.has_previous %}
                            <a href="?page=1">&laquo; First</a>
                            <a href="?page={{pincode.previous_page_number}}">Previous</a>
                            {% endif %}
                            Page {{pincode.number}} of {{ pincode.paginator.num_pages }}
                            {% if pincode.has_next %}
                            <a href="?page={{pincode.next_page_number}}">Next</a>
                            <a href="?page={{pincode.paginator.num_pages}}">Last &raquo; </a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disablePincode' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId2">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contents %}