{% extends 'main.html' %}
{% block title%} Edit Region {% endblock title%}
{% block contents %}
<div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Edit Region</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'editRegion' regionid %}">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Region_name.label}}</label>
                            {{form.Region_name}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.status.label}}</label>
                            {{form.status}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Short_code.label}}</label>
                            {{form.Short_code}}
                        </div>
                    </div>
                    {{form.Region_message.as_hidden}}
                </div>
                <hr>
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="{% url 'Region' %}" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock contents %}