{% extends 'UserMain.html' %}
{% load static %}
{% block title %}{{offer}}{% endblock title %}
{% block contents %}
{% load mathfilters %}

<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><span>Offers</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="page-title text-center">
                <h1>{{offer}}</h1>
            </div>
            <div class="row">
                <div id="filter-menubar" class="col-lg-4 aside aside--left filter-col filter-mobile-col filter-col--sticky js-filter-col filter-col--init filter-col--opened custom-dash"
                    data-grid-tab-content id="filter-Container">
                    <div class="filter-col-content filter-mobile-content">
                        <div class="sidebar-block">
                            <div class="sidebar-block_content">
                                <div class="selected-filters-wrap">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <a href="/offerWise/{{offer.id}}/" class="clear-filters"><span>Clear
                                                All</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- category -->

                        <div class="sidebar-block filter-group-block open">
                            <div class="sidebar-block_title">
                                <span id="catColab">Categories</span>
                            </div>

                            <div class="sidebar-block_content" id="catshow">
                                <ul class="category-list" style="padding-left: 1rem;">
                                    {% if Categories %}
                                    {% for i in Categories %}
                                    {% if i.Parent == None %}
                                    <input id="{{i}}" class="filter-checkbox" name="checkbox2" type="checkbox"
                                        data-filter="Category" value="{{i.id}}" data-offer="{{offer.id}}">
                                    <label for="{{i}}">{{i}}</label>
                                    <ul class="category-list p-3" id="childCat">
                                        {% for child in Categories%}
                                        {% if child.Parent.id == i.id %}
                                        <li>
                                            <div class="">
                                                <input id="{{child}}" class="filter-checkbox" name="checkbox2"
                                                    type="checkbox" data-filter="Category" value="{{child.id}}"
                                                    data-offer="{{offer.id}}">
                                                <label for="{{child}}">{{child}}</label>
                                                <ul class="category-list p-3" id="childCat">
                                                    <li>
                                                        {% for Grandchild in Categories%}
                                                        {% if Grandchild.Parent.id == child.id %}
                                                        <div class="">
                                                            <input id="{{Grandchild}}" class="filter-checkbox"
                                                                name="checkbox2" type="checkbox" data-filter="Category"
                                                                value="{{Grandchild.id}}" data-offer="{{offer.id}}">
                                                            <label for="{{Grandchild}}">{{Grandchild}}</label>
                                                        </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        {% endif %}
                                        {% endfor %}

                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                            
                        </div>
                        <div class="sidebar-block filter-group-block open">
                            <div class="sidebar-block_title">
                                <span id="Brands">Brand</span>
                            </div>
                            <div class="sidebar-block_content" style="display: none;" id="brandshow">
                                <ul class="category-list p-3">
                                    {% for brand in brands %}
                                    <div class="">
                                        <input id="{{brand}}" class="filter-checkbox" name="checkbox2" type="checkbox"
                                            data-filter="Brand" value="{{brand.id}}" data-offer="{{offer.id}}">
                                        <label for="{{brand}}">{{brand}}</label>
                                    </div>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="sidebar-block">
                            <div class="sidebar-block_title">
                                <span id="VarientCat">Varients</span>
                            </div>
                        </div>

                        {% for Varient in VarientTypes %}
                        <div class="sidebar-block filter-group-block open VarientShow" style="display: none;">
                            <div class="sidebar-block_content ">
                                <ul class="category-list p-3">
                                    {% for values in Varients %}
                                    {% if Varient.id == values.Varient_Type.id %}
                                    <div class="varientChild">
                                        <input id="{{values}}" class="filter-checkbox " name="checkbox2" type="checkbox"
                                            data-filter="Varients" value="{{values.id}}" data-offer="{{offer.id}}">
                                        <label for="{{values}}">{{values}}</label>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <div style="text-align: center;cursor: pointer;padding: 0;" class="row">
                                    <div class="col-12">

                                    </div>
                                    <div class="col-12">
                                        <p style="opacity:.2;">{{Varient}}</p>
                                    </div>

                                </div>

                            </div>
                        </div>
                        {% endfor %}

                        <!--prize-->



                        <div class="sidebar-block filter-group-block open">
                            <div class="sidebar-block">
                                <div class="sidebar-block_title">
                                    <span id="priceColaps">Price</span>
                                </div>
                            </div>
                            <div class="sidebar-block_content" id='priceChildColaps'>
                                <link rel="stylesheet" href="/static/css/slider/style.css">
                                <div slider id="slider-distance">
                                    <div>
                                        <div inverse-left style="width:100%;"></div>
                                        <div inverse-right style="width:100%;"></div>
                                        <div range style="left:0%;right:0%;"></div>
                                        <span thumb style="left:0%;"></span>
                                        <span thumb style="left:100%;"></span>
                                        {% load post_tag %}
                                        <div sign style="left:0%;">
                                            <span id="value">0</span>
                                        </div>
                                        <div sign style="left:100%;">
                                            <span id="value">{{maxMinPrice.Selling_Prize__max|to_int}}</span>
                                        </div>
                                    </div>
                                    <input type="range" tabindex="0" value="0" max="{{maxMinPrice.Selling_Prize__max|to_int}}" min="0" step="1" id="min-slider" data-offer="{{offer.id}}" oninput="
                                        this.value=Math.min(this.value,this.parentNode.childNodes[5].value-1);
                                        var value=(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.value)-(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.min);
                                        var children = this.parentNode.childNodes[1].childNodes;
                                        children[1].style.width=value+'%';
                                        children[5].style.left=value+'%';
                                        children[7].style.left=value+'%';children[11].style.left=value+'%';
                                        children[11].childNodes[1].innerHTML=this.value;" />
            
                                    <input type="range" tabindex="0" value="{{maxMinPrice.Selling_Prize__max|to_int}}" max="{{maxMinPrice.Selling_Prize__max|to_int}}" min="0" step="1" id= "max-slider" data-offer="{{offer.id}}" oninput="
                                        this.value=Math.max(this.value,this.parentNode.childNodes[3].value-(-1));
                                        var value=(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.value)-(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.min);
                                        var children = this.parentNode.childNodes[1].childNodes;
                                        children[3].style.width=(100-value)+'%';
                                        children[5].style.right=(100-value)+'%';
                                        children[9].style.left=value+'%';children[13].style.left=value+'%';
                                        children[13].childNodes[1].innerHTML=this.value;" />
                                </div>


                            </div>
                        </div>
                        <div class="sidebar-block filter-group-block open">
                            <div class="sidebar-block">
                                <div class="sidebar-block_title">
                                    <span
                                        style="font-size: large;font-weight: bold;cursor: pointer;">{{offer}}</span>
                                </div>
                            </div>
                            <div class="sidebar-block_content">
                                <a href="/offerWise/{{offer.id}}/" class="bnr image-hover-scale bnr--bottom bnr--left"
                                    data-fontratio="3.95">
                                    <div class="bnr-img">
                                        <img src="{{offer.image.url}}" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="filter-toggle js-filter-toggle">
                    <div class="loader-horizontal js-loader-horizontal">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <span class="filter-toggle-icons js-filter-btn"><i class="icon-filter"></i><i
                            class="icon-filter-close"></i></span>
                    <span class="filter-toggle-text"><a href="#" class="filter-btn-open js-filter-btn" id="refine-filter">REFINE &
                        SORT</a><a href="#" class="filter-btn-close js-filter-btn">RESET</a><a href="#"
                        class="filter-btn-apply js-filter-btn" id="apply-clo">APPLY & CLOSE</a></span>
                </div>
                <div class="col-lg aside">

                    <div class="prd-grid-wrap">
                        <!-- Products Grid -->
                        <div class="prd-grid product-listing data-to-show-5 data-to-show-md-4 data-to-show-sm-2 js-category-grid Product-container"
                            id="ProdCantainer">

                            {% if Products %}
                            {% for Product in Products %}
                            <div class="prd prd--style2 prd-labels--max prd-labels-shadow listProduct">
                                <div class="prd-inside">

                                    <div class="prd-img-area">
                                        <a href="/Categories/viewProduct/?id={{Product.id}}&cat={{Product.Product_Category.id}}"
                                            class="prd-img image-hover-scale image-container">
                                            <img src="{{Product.Thumbnail_image.url}}"
                                                data-src="{{Product.Thumbnail_image.url}}" alt="Oversize Cotton Dress"
                                                class="js-prd-img lazyload fade-up">
                                                <div class="prd-big-squared-labels" id="offPercent{{Product.id}}">
                                             
                                                    {% with ProductPriceDiff=Product.Product_Items.first.Display_Prize|sub:Product.Product_Items.first.Selling_Prize%}
                                                    {% with numerator=ProductPriceDiff|mul:100 denominator=Product.Product_Items.first.Display_Prize %}
                                                    {% load post_tag %}
                                                    {% with percent_offer=numerator|div:denominator|to_int %}
                                                    {% if percent_offer > 20|to_int %}
                                                    <div class="label-sale" style="background-color: #17c6aa;" ><span>{{ numerator|div:denominator|floatformat:0 }}%<span class="sale-text">off</span></span>
                                                        <div class="countdown-circle">	
                                                        </div>
													</div>
                                                    {% endif %}

                                                    {% endwith %}
                                                    {% endwith %}
                                                    {% endwith %}
											
                                                    
												</div>
                                        </a>
                                        <div class="prd-circle-labels">
                                            <div class="pb-2 wishlistClass">
                                                <a href="#" class="circle-label-compare mt-0 Wishlist_add"
                                                    data-id="{{Product.id}}" title="Add To Wishlist">
                                                    {% if Product.id in wishlist %}
                                                    <i class="icon-heart-hover"></i>
                                                    {% else %}
                                                    <i class="icon-heart-stroke"></i>
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div
                                                class="colorswatch-label colorswatch-label--variants js-prd-colorswatch">
                                                <i class="icon-palette"><span class="path1"></span><span
                                                        class="path2"></span><span class="path3"></span><span
                                                        class="path4"></span><span class="path5"></span><span
                                                        class="path6"></span><span class="path7"></span><span
                                                        class="path8"></span><span class="path9"></span><span
                                                        class="path10"></span></i>
                                                <ul>
                                                    {% for i in Product.Product_Items.all %}
                                                    <li>
                                                        <a class="getPrice btn-light btn--sm p-1" data-toggle="tooltip"
                                                            data-placement="left" title="{{i.Varient_Values}}"
                                                            data-id="{{i.id}}"
                                                            data-product="{{Product.id}}"><span>{{i.Varient_Values}}</span></a>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-info-wrap">
                                            {%if Product.Product_Items.first.Product_stock == 0 %}<div class="prd-tag"
                                                style="color: crimson;">Out Of Stock</div>{%else%}<div class="prd-tag">
                                                <br></div> {% endif %}
                                            <h2 class="prd-title"><a href="#">{{Product}}</a>
                                            </h2>
                                            <div class="row" style="padding: auto; text-align: center;">
                                            </div>
                                            <div class="prd-action">
                                                <form action="#">
                                                    <button class="btn js-prd-addtocart"
                                                        data-product='{"name": "Leather Pegged Pants", "path":"/static/User/images/skins/fashion/products/product-01-1.jpg", "url":"product.html", "aspect_ratio":0.778}'>Add
                                                        To Cart</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="prd-hovers">
                                            <div class="prd-circle-labels">
                                                <!-- <div class="prd-hide-mobile"><a href="#"
                                                        class="circle-label-qview js-prd-quickview"
                                                        data-src="ajax/ajax-quickview.html"><i
                                                            class="icon-eye"></i><span>QUICK VIEW</span></a></div> -->
                                            </div>
                                            <div class="prd-price row">

                                                <div class="price-old col-12 text-center"><span
                                                        style="color: rgb(190, 167, 167); font-size: small;"
                                                        id="prizeD{{Product.id}}">
                                                        ₹ {{Product.Product_Items.first.Display_Prize}}
                                                    </span>
                                                </div>
                                                <div class="price-new col-12 text-center"><span
                                                        style="color: rgb(93, 93, 93); font-size: small;"
                                                        id="prize{{Product.id}}">
                                                        ₹ {{Product.Product_Items.first.Selling_Prize}}
                                                        ({{Product.Product_Items.first.Varient_Values}})
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="prd-action">
                                                <div class="prd-action-left">
                                                    {% if Product.Product_Items.first.id in CartExistance %}
                                                    <a href="" id="CartBtn{{Product.id}}"
                                                        class="btn btn--sm AddToCart disabled"
                                                        data-id="{{Product.Product_Items.first.id}}">Add To Cart</a>
                                                    {% else %}
                                                    <a href="" id="CartBtn{{Product.id}}"
                                                        class="btn btn--sm AddToCart {%if Product.Product_Items.first.Product_stock == 0 %}disabled{%endif%}"
                                                        data-id="{{Product.Product_Items.first.id}}">Add To Cart</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <div class="col-lg aside text-center">
                                <div class="prd-grid-wrap" style="text-align: center;margin-top: 2rem;">
                                    <h1>Nothing Find!!</h1>
                                </div>
                            </div>
                            {% endif %}
                        </div>

                        {% if Products %}
                        <div class="text-center mt-5">
                            <button class="btn" type="button" id="loadMore" data-offer="{{offer.id}}"
                                data-url="{% url 'offer_Load_More' %}" data-token="{{csrf_token}}">
                                <span class="spinner-grow-sm" role="status" aria-hidden="true"></span>
                                <span class="span-text"> Load More</span>
                            </button>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contents %}

{%block script%}
<script src="/static/User/js/offer/custom.js"></script>
<script>
    $(document).on('change',"#max-slider",function(){
        console.log($(this).val()+'max')
        console.log($("#min-slider").val()+'min')
        var filterObj = {};
        $('.filter-checkbox').each(function(){
            var filterKey = $(this).data('filter');
            filterObj[filterKey] = Array.from(document.querySelectorAll('input[data-filter='+filterKey+']:checked')).map(function(e){
                 return e.value;
            });
        });
        filterObj['offer'] = $(this).attr('data-offer')
        filterObj['max_price'] = $(this).val()
        filterObj['min_price'] = $("#min-slider").val()
        console.log(filterObj);
        $.ajax({
            url:"/filter_offer_products/",
            data:filterObj,
            dataType:'json',
            beforeSend:()=>{
                console.log('Loading...')
            },
            success:(res)=>{
                console.log(res);
                $('#ProdCantainer').html(res.data) ;                
                //loadbtn removed
                $('#loadMore').remove();
                $('.prd:not([class*="prd-w"])').css({'opacity':1})
            },
            error:(e)=>{
                alert(e);
            },
        });
    })
    $(document).on('change',"#min-slider",function(){
        var filterObj = {};
        $('.filter-checkbox').each(function(){
            var filterKey = $(this).data('filter');
            filterObj[filterKey] = Array.from(document.querySelectorAll('input[data-filter='+filterKey+']:checked')).map(function(e){
                 return e.value;
            });
        });
        filterObj['offer'] = $(this).attr('data-offer')
        filterObj['min_price'] = $(this).val()
        filterObj['max_price'] = $("#max-slider").val()

        $.ajax({
            url:"/filter_offer_products/",
            data:filterObj,
            dataType:'json',
            beforeSend:()=>{
                console.log('Loading...')
            },
            success:(res)=>{
                console.log(res);
                $('#ProdCantainer').html(res.data) ;                
                //loadbtn removed
                $('#loadMore').remove();
                $('.prd:not([class*="prd-w"])').css({'opacity':1})
            },
            error:(e)=>{
                alert(e);
            },
        });
    })
</script>
{%endblock script%}