{% extends 'main.html' %}
{% block title %}Add Admin{% endblock title %}
{% block contents %}
<div class="container-fluid">
    <div class="col-12 grid-margin">
        <form class="form-sample" method="POST">
        {% csrf_token %}
            <div class="card">
                <div class="card-header" style="background: white;">
                    <h4 class="card-title">Add Admin</h4>
                </div>
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Code<span class="danger" style="color: red;"> *</span></label>
                            <div class="col-sm-9">
                            {{form.code}}
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Role<span class="danger" style="color: red;"> *</span></label>
                            <div class="col-sm-9">
                                {{form.role}}
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name<span class="danger" style="color: red;"> *</span></label>
                                <div class="col-sm-9">
                                    {{form.name}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Username<span class="danger" style="color: red;"> *</span></label>
                                <div class="col-sm-9">
                                    {{form.username}}
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">E mail<span class="danger" style="color: red;"> *</span></label>
                                <div class="col-sm-9">
                                    {{form.email}}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                            <div class="form-group row">
                                
                                <label class="col-sm-3 col-form-label">Phone<span class="danger" style="color: red;"> *</span></label>
                                <div class="col-sm-9">
                                    
                                    {{form.phone}}
                                    <p id="phone_msg" style="font-size:smaller;font-style:italic"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Password<span class="danger" style="color: red;"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="password" name="password" class="form-control">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Region<span class="danger" style="color: red;"> *</span></label>
                                <div class="col-sm-9">
                                    {{form.region}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Status<span class="danger" style="color: red;"> *</span></label>
                                <div class="col-sm-9">
                                    {{form.status}}
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="card-footer " style="text-align: center;background-color: white;">
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="submit" class="btn btn-primary mr-2" id="submit_button">Submit</button>
                        <button type="button" class="btn btn-primary mr-2" style="display:none" id="submit_err_button">Submit</button>
                        <a href="{% url 'admins' %}" class="btn btn-light">Cancel</a>
                    </div>
                   
                </div>
                
            </div>
        </form>
    </div>
</div>
<script>
    $('#id_phone').on('input',function(){
       var phone = $('#id_phone').val()
       var pattern = /^[6-9].+$/;
        if(phone.length === 10){
            if(!pattern.test(phone)){
                $('#phone_msg').text("invalid phone number")
                $('#phone_msg').css('color','red')
                $('#submit_button').hide()
                $('#submit_err_button').show()
            }else{
                $('#phone_msg').text("valid")
                $('#phone_msg').css('color','green')
                $('#submit_button').show()
                $('#submit_err_button').hide()
            }
        }else if(phone.length != 10){
            console.log("inavluid")
            $('#phone_msg').text("invalid phone number")
            $('#phone_msg').css('color','red')
            $('#submit_button').hide()
            $('#submit_err_button').show()
        }
       
    })
</script>
{% endblock contents %}