{% extends 'main.html' %}
{% block title %}Admins{% endblock title %}
{% block contents %}
<script>
  $(document).ready(function () {
    $('#filter-btn').click(function () {
      $('#filterContent').toggle(400)
    })
  })
</script>


<div class="col-lg-12 grid-margin stretch-card" id="filterContent">
  <div class="card">
    <div class="card-body">
      <form method="post" action="{% url 'admins' %}">{% csrf_token %}
        <div class="row">
          <div class="col-sm-2">
            <div class="form-group">
              <label for="exampleInputUsername1">Name</label>
              <input type="text" class="form-control form-control-sm" placeholder="" name="byName">
            </div>
          </div>


          <div class="col-sm-2">
            <div class="form-group">
              <label for="exampleInputUsername1">Status</label>
              <select class="form-control form-control-sm" name="byStatus" id="">
                <option value="">Select</option>
                <option value="active">Active</option>
                <option value="suspended">Suspended</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
          </div>
          <div class="col-sm-2">
          </div>
          <div class="col-sm-2 text-center">
            <div class="form-group">
              <a href="" class="btn btn-primary ml-auto" ><i class="fas fa-undo-alt"
                style="font-size: small;"></i></a>
              <button type="submit" class="btn btn-primary" data-toggle="tooltip" title=""
                data-original-title="Apply">Filter</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<br>

{% include 'messages.html' %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">

    <div class="card-header">
      <div class="row">
        <div class="col-4">
          <h3 class="card-title" style="float: left;">Admins</h3>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
          <div class="ml-auto" style="float: right;">
            <button id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter"><i
                class="fa fa-filter"></i></button>
            <a href="{% url 'add_admin' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Admin</a>
          </div>
        </div>


      </div>
    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap">
        <thead>
          <tr>
            <th><b>#</b></th>
            <th><b>NAME</b></th>
            <th><b>EMAIL</b></th>
            <th><b>ROLE</b></th>
            <th><b>STATUS</b></th>
            <th></th>

          </tr>
        </thead>
        <tbody>
          {% for i in admin %}

          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.username }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.role.role_name }}</td>
            <td>{% if i.status == 'active' %}<label class="badge badge-success">{{ i.status }}</label>{% else %}<label
                class="badge badge-warning">{{ i.status }}{% endif %}</label></td>

            <td class="text-left">
              <a href="{% url 'change_password' i.pk %}" class="btn btn-primary btn-sm">Change Password</a>
            </td>
            <td class="text-right">
              <a href="{% url 'view_admins' i.pk %}" class="btn btn-secondary btn-sm">View</a>
              <a href="{% url 'edit_admins' i.pk %}" class="btn btn-secondary btn-sm">Edit</a>
              {% if i.status == 'active' %}
              <!-- disable -->
              <a href="" class="dis btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Disable"
              data-description="{{i.id}}">Disable</a>
              {% else %}
              <!-- enable -->
              <a href="" class="ena btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Enable"
              data-description="{{i.id}}">
              Enable</a>
              {% endif %}
            </td>
          </tr>

          {% endfor %}

        </tbody>
      </table>
      <hr>
      {% if admin.paginator.num_pages > 1 %}
      <div class="row" style="text-align: center;">
          <div class="col-sm-12">
              {% if admin.has_previous %}
              <a href="?page=1">&laquo; First</a>
              <a href="?page={{admin.previous_page_number}}">Previous</a>
              {% endif %}
              Page {{admin.number}} of {{ admin.paginator.num_pages }}
              {% if admin.has_next %}
              <a href="?page={{admin.next_page_number}}">Next</a>
              <a href="?page={{admin.paginator.num_pages}}">Last &raquo; </a>
              {% endif %}
          </div>
      </div>
      {% endif %}
    </div>
  </div>


  <div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disable_admin' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disable_admin' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>

  <script>

    $(document).ready(function () {
      $("#filter-btn").click(function () {
        $("filter").show();
      });

    });
  </script>

  {% endblock contents %}