{% extends 'main.html' %}
{% block title %}Admin Change Password{% endblock title %}
{% block contents %}

    <div class="container-fluid">
        <form method=POST class="forms-sample">
            {% csrf_token %}
            <div class="card">
                <div class="card-header" style="background: white;">
                    <div class="card-title">
                        Change Password
                    </div>
                </div>
                <div class="card-body">
                    {% include 'messages.html' %}
                    <div class="row">
                        <div class="col-6">
                            <!-- <div class="form-group row">
                                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Old Password<span class="danger" style="color: red;"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="old_password">
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">New Password <span class="danger" style="color: red;"> *</span></label>
                                
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="new_password" id="password" style="display: inline">
                                    <i class="far fa-eye-slash" id="togglePassword" style="
                                        position: absolute;
                                        right: 24px;
                                        bottom: 4px;
                                        top: 17px;
                                      "></i>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">New Password Confirmation<span class="danger" style="color: red;"> *</span></label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="new_password_confirmation">
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                <div class="card-footer" style="background: white;">
                    
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a href="{% url 'admins' %}" class="btn btn-light">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="/static/vendors/base/vendor.bundle.base.js"></script>
    <script src="/static/js/template.js"></script>
    <script src="/static/js/timeout.js"></script>
      <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            if("fa-eye" == this.classList[1]){
                this.classList.add("fa-eye-slash");
                this.classList.remove("fa-eye");
                console.log("hi")
            }else{
                console.log("hino")
                this.classList.add("fa-eye");
                this.classList.remove("fa-eye-slash");
            }
            // this.classList.toggle("fa-eye");
            
        });

        // prevent form submit

  </script>


{% endblock contents %}