{% extends 'main.html' %}
{% block title %}Edit Admins{% endblock title %}
{% block contents %}
<div class="container-fluid">
    <div class="col-12 grid-margin">
        <form class="form-sample" method="POST">
        {% csrf_token %}
            <div class="card">
                <div class="card-header" style="background: white;">
                    <h4 class="card-title">Edit Admin</h4>
                </div>
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Code</label>
                            <div class="col-sm-9">
                                {{ form.code }}
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Role</label>
                                <div class="col-sm-9">
                                    {{ form.role }}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    {{form.name}}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Username</label>
                                <div class="col-sm-9">
                                    {{form.username}}
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">E mail</label>
                                <div class="col-sm-9">
                                    {{form.email}}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-9">
                                    {{form.phone}}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Status</label>
                                <div class="col-sm-9">
                                    {{form.status}}
                                    
                                </div>
                            </div> 
                        </div>
                        
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Region</label>
                                <div class="col-sm-9">
                                    {{form.region}}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        
                                    {{form.password.as_hidden}}
                                    
                            
                        <div class="col-md-6">
                            <!-- <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Region</label>
                                <div class="col-sm-9">
                                    <select name="status"  class="form-control">
                                        {% for i in region %}
                                        <option value="{{form.region}}"{% if value == 'form.region' %} selected {% endif %}>{{i.Region_name}}</option>
                                        {% endfor %}
                                       </select>
                                    
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <!-- <div class="row">
                        
                                    <input hidden type="password" class="form-control" value="{{form.password}}">
        
                        
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Area</label>
                                <div class="col-sm-9">
                                    {{form.area}}
                                </div>
                            </div>
                        </div>
                    </div> -->
                    
                    
                </div>
                <div class="card-footer " style="text-align: center;background-color: white;">
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a href="{% url 'admins' %}" class="btn btn-light">Cancel</a>
                    </div>
                   
                </div>
            </div>
        </form>
    </div>

{% endblock contents %}