{% extends 'main.html' %}

{% block title %}View admin{% endblock title %}
{% block contents %}
<br>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header" style="background: white;">
            
              <div class="ml-auto" >
                <h3 class="card-title"style="float: left;">View Admin</h3>
                
         
              </div>
        </div>
        
      <div class="card-body">
  
        {% include 'messages.html' %}
        
        <div class="table-responsive">
          <div class="card-body">
            
            <div class="row">
                <div class="col-6">
                    <table id="example2">
                        <thead>
                            <tr>
                                <th>Code</th>
                            </tr>
                            <tr>
                                <td>{{ form.code }}</td>
                            </tr>
                    </table><br>
                    <table id="example2">
                        <thead>
                            <tr>
                                <th> Name</th>
                            </tr>
                            <tr>
                                <td>{{ form.name }}</td>
                            </tr>
                    </table><br>
                    <table id="example2">
                        <thead>
                            <tr>
                                <th>Email</th>
                            </tr>
                            <tr>
                                <td>{{ form.email }}</td>
                            </tr>
                    </table><br>
                    <table>
                        <thead>
                            <tr>
                                <th>Phone</th>
                            </tr>
                            <tr>
                                <td>{{ form.phone }}</td>
                            </tr>
                    </table><br>
                    <table>
                        <thead>
                            <tr>
                                <th>Role</th>
                            </tr>
                            <tr>
                                <td>{{ form.role.role_name }}</td>
                            </tr>
                    </table><br>
                    <table>
                      <thead>
                          <tr>
                              <th>Username</th>
                          </tr>
                          <tr>
                              <td>{{ form.username }}</td>
                          </tr>
                  </table><br>
                    <table>
                        <tr>
                            <th></th>
                        </tr>
                    </table>

                </div>
                <div class="col-6">
                    <table>
                        <thead>
                            <tr>
                                <th>Country</th>
                            </tr>
                            <tr>
                                <td>{{ form.country }}</td>
                            </tr>
                    </table><br>
                    <table>
                        <thead>
                            <tr>
                                <th>Zone</th>
                            </tr>
                            <tr>
                                <td>{{ form.zone }}</td>
                            </tr>
                    </table><br>
                    <table>
                        <thead>
                            <tr>
                                <th>Subzone</th>
                            </tr>
                            <tr>
                                <td>{{ form.subzone }}</td>
                            </tr>
                    </table><br>
                    <table>
                        <thead>
                            <tr>
                                <th>Division</th>
                            </tr>
                            <tr>
                                <td>{{ form.division }}</td>
                            </tr>
                    </table><br>
                    <table>
                        <thead>
                            <tr>
                                <th>Region</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ form.region }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div >
          </div>
        </div>
      
      </div>
      <div class="card-footer" style="background: white;">
        <a class="btn btn-light" href="{% url 'admins' %}">Go Back</a>
      </div>
      
    </div>
  </div>
{% endblock contents %}