{% extends 'UserMain.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block contents %}
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="/">Home</a></li>
			<li><span>Account Login</span></li>
		</ul>
	</div>
</div>
	<div class="holder">
	<div class="container p-2" >
		<div class="row justify-content-center p-3">
			<div class="card  pt-5 pb-5 justify-content-center" style="align-content: center;width: max-content;border:solid #17c6aa 1px;" id="login_page">
				{% include 'messages.html' %}
				<h2 class="text-center" style="color: #17c6aa;">LOGIN TO MOMOOZ</h2>
				<div class="form-wrapper pl-2 pr-2">
				
					<form method = "POST" action="{% url 'loginpage' %}">
                        {% csrf_token %}
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="text" name="username" class="form-control"  placeholder="Enter Username/Email ID" required>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="password" name="password" class="form-control" placeholder="Enter Password" required>
								</div>
							</div>
						</div>
						<div class="clearfix" >
						
							<a href="#" class="custom-color" id="forgot_pass">forgot password ?</a>
						</div>
						<div class="text-center">
							<button class="btn btn-lg" style="width: 50%;" type="submit">login</button>
						</div>
					</form>
					<div class="clearfix" style="text-align: center;">
						
						<label for="checkbox1">Dont have an account ?<a href="{% url 'registerpage' %}" class="custom-color" >Create account</a></label>
					</div>
				</div>
			</div>
			<div class="card pt-5 pb-5 justify-content-center" id="forgot_pass_page" style="display: none;align-content: center;width: max-content;border:solid #17c6aa 1px;">
				<!-- <form action="{% url 'forgot_pass' %}">
					{% csrf_token %} -->	
					<div class="card-body" >
						
						<h3 style="text-align: center;font-weight: bold;">Please enter your phone number to reset password</h3>
						<input type="text" class="form-control" name="forgot_pass_input" placeholder="Enter Phone" style="height: min-content;background-color:#d1e4e0;" id="mail_data" required>
						<div class="pt-4 ">
							<p style="text-align: center;"><button type="submit" class="btn btn-primary" style="text-transform: uppercase;" id="submit_button">send otp to me</button></p>
						</div>
						<p id="status" style="background-color: #192421;margin-top: 20px;padding: 15px;text-align: center;color: #C4C4C4;display: none;font-weight: bold;"></p>
					</div>
				<!-- </form> -->
				
			</div>
			
			<div class="h-screen  py-20 px-3" id="email_sent" style="display:none;">
				<div class="container mx-auto" >
					<div class="max-w-sm mx-auto md:max-w-lg" style="border:solid #17c6aa 1px;">
						<div class="card" >
							<div class=" h-64 py-3 rounded text-center" >
								<h1 class="text-2xl font-bold">OTP Verification</h1>
								
								<div class="flex flex-col mt-4"> <span>Enter the OTP you received at</span> <span class="font-bold">+91 ******876</span> </div>
								<div id="otp" class="flex flex-row justify-center text-center px-2 mt-5"> 
									<input class="m-2 border h-10 w-10 text-center  rounded" name="otp_list[]" type="text" id="first" maxlength="1" style="background-color:#C4C4C4;font-size: large;font-weight: bold;"> 
									<input class="m-2 border h-10 w-10 text-center  rounded" name="otp_list[]" type="text" id="second" maxlength="1" style="background-color:#C4C4C4;font-size: large;font-weight: bold;"/> 
									<input class="m-2 border h-10 w-10 text-center  rounded" name="otp_list[]" type="text" id="third" maxlength="1" style="background-color:#C4C4C4;font-size: large;font-weight: bold;"/> 
									<input class="m-2 border h-10 w-10 text-center  rounded" name="otp_list[]" type="text" id="fourth" maxlength="1" style="background-color:#C4C4C4;font-size: large;font-weight: bold;"/> 
									<input class="m-2 border h-10 w-10 text-center  rounded" name="otp_list[]" type="text" id="fifth" maxlength="1" style="background-color:#C4C4C4;font-size: large;font-weight: bold;"/> 
									<!-- <input class="m-2 border h-10 w-10 text-center  rounded" name="otp_list[]" type="text" id="sixth" maxlength="1" style="background-color:#C4C4C4"/>  -->
								</div>
								<p style="text-align: center;"><button type="button" class="btn btn-primary" style="text-transform: uppercase;" id="continue">Continue</button></p>
								<p id="resent_otp" style="background-color: #192421;margin-top: 20px;padding: 15px;text-align: center;color: #C4C4C4;display: none;font-weight: bold;">otp is expired&nbsp;<a href="#" >Resend OTP</a></p>
								<div id="hide_resent" class="flex justify-center text-center mt-5"> <a class="flex items-center text-blue-700 hover:text-blue-900 cursor-pointer" style="color:#17c6aa"><span class="font-bold">OTP expire in &nbsp;<span id="time"> 00</span></span><i class='bx bx-caret-right ml-1'></i></a> </div>
								<p id="status_otp" style="background-color: #192421;margin-top: 20px;padding: 15px;text-align: center;color: #C4C4C4;display: none;font-weight: bold;"></p>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
</div>
<script>document.addEventListener("DOMContentLoaded", function(event) {

function OTPInput() {
const inputs = document.querySelectorAll('#otp > *[id]');
for (let i = 0; i < inputs.length; i++) { inputs[i].addEventListener('keydown', function(event) { if (event.key==="Backspace" ) { inputs[i].value='' ; if (i !==0) inputs[i - 1].focus(); } else { if (i===inputs.length - 1 && inputs[i].value !=='' ) { return true; } else if (event.keyCode> 47 && event.keyCode < 58) { inputs[i].value=event.key; if (i !==inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } else if (event.keyCode> 64 && event.keyCode < 91) { inputs[i].value=String.fromCharCode(event.keyCode); if (i !==inputs.length - 1) inputs[i + 1].focus(); event.preventDefault(); } } }); } } OTPInput(); });</script>
<script>
	$(document).ready(function(){
		$('#forgot_pass').click(function(){
		
			$('#forgot_pass_page').show()
			$('#login_page').hide()
			
		})
		
			$('#submit_button').click(function(){
			
			data_email = $('#mail_data').val()	

			$.ajax({
				url : "{% url 'send_mail_view' %}",
				data : {'data':data_email,'action':'send'},
				
				success:function(data){
					if(data.status==0 && data_email != ""){
						$('#status').show()
						$('#status').text('Please check your Phone number')
					}else{
						$('#email_sent').show()
						$('#forgot_pass_page').hide()
						$('#login_page').hide()	
					
					
					times = 50; // how many times to run
					(function run(){
						// do your stuff, like print the iteration
						document.getElementById('time').innerHTML = times;

						if( --times  ) // 200 * 20 = 4 seconds
						setTimeout(run, 1000);
						if(times == 0){
							$('#time').hide()
							$('#resent_otp').show()
							$('#hide_resent').hide()
							// $('#status_otp').text("otp is expired")
							$.ajax({
							url :"{% url 'send_mail_view' %}",
							data : {'expiry':'expired','data':data_email},
							success : function(data){

							}
						})
							
						}
						
					
					})();
					}	

					
						

					
					$('#mail_data').on('input',function(){
						var x = $('#mail_data').val()
						if(x == ""){
							$('#status').hide()
						}
						
					})	
						
					
				},
				
			})
		})
		$('#continue').click(function(){
		
		
			var values = document.getElementsByName('otp_list[]')
			var arr = new Array()
			for (var i = 0; i < values.length; i++) {
                var a = values[i];
				// otp = a.value
				arr.push(a.value)
				
			}
			
			
			
			otp = arr[0]+arr[1]+arr[2]+arr[3]+arr[4]
			window.location = `http://9pc.in/set_new_pass/${otp}/`
			console.log
			// $.ajax({
			// 	url:"{% url 'otp_validation' %}",
			// 	data:{'otp':otp},
			// 	success:function(data){
			// 		console.log(data.msg)
			// 		if(data.msg==1){
			// 			window.location = `http://127.0.0.1:8000/set_new_pass/${otp}/`
			// 		}else{
			// 			$('#status_otp').show()
			// 			$('#status_otp').text("ivalid otp code")
			// 		}
			// 	}
			// })
		})
		
		
	})
</script>

{% endblock contents %}