{% extends 'UserMain.html' %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block contents %}
<!--//header-->


<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="index.html">Home</a></li>
			<li><span>Create account</span></li>
		</ul>
	</div>
</div>
	<div class="holder">
	<div class="container pl-2 pr-2">
		<div class="row justify-content-center">
			<div class="card pt-5 pb-5 justify-content-center" style="align-content: center;width: max-content;border:solid #17c6aa 1px;">
				<h2 class="text-center" style="color: #17c6aa;">REGISTER TO MOMOOZ</h2>
				<div class="form-wrapper pl-2 pr-2">
					<p>To access your whishlist, address book and contact preferences and to take advantage of our speedy checkout, create an account with us now.</p>
					<form method = "POST">
                        {% csrf_token %}
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group" >
									
									{{form.name}}
									<p id="username" style="font-style: italic;font-size:smaller"></p>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									{{form.mail}}
									<p id="mail" style="font-style: italic;font-size:smaller"></p>
								</div>
							</div>
						</div>
						<div class="form-group">
							{{form.phone}}
							<p id="phone" style="font-style: italic;font-size:smaller"></p>
						</div>
                        <div >
							{{form.registered_date.as_hidden}}
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<input type="password" name="password" class="form-control" placeholder="password">
									<!-- {{form.password}} -->
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<input type="password" name="password_confirmation" class="form-control" placeholder="confirm password">
									<!-- {{form.password_confirmation}} -->
								</div>
							</div>
							<p id="password_val" style="font-style: italic;font-size:smaller"></p>
						</div>
                        <div class="clearfix">
							{{form.status.as_hidden}}
						</div>
                       
						<div class="clearfix">
							<input id="checkbox1" name="checkbox1" type="checkbox" checked="checked">
							<label for="checkbox1">By registering your details you agree to our <a href="#" class="custom-color" data-fancybox data-src="#modalTerms">Terms and Conditions</a> and <a href="#" class="custom-color" data-fancybox data-src="#modalCookies">Cookie Policy</a></label>
						</div>
						<div class="text-center">
							<button class="btn" type="submit" id="register">create an account</button>
						</div>
					</form>
					<div class="clearfix" style="text-align: center;">
						
						<label for="checkbox1">Already have an account ?<a href="{% url 'loginpage' %}" class="custom-color" >Login</a></label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<div id="modalTerms" style="display: none;" class="modal-info-content modal-info-content-lg">
	<div class="modal-info-heading">
		<h2>Terms and Conditions</h2>
	</div>
	<p>This website is operated by a.season. Throughout the site, the terms “we”, “us” and “our” refer to a.season. a.season offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.</p>
	<p>By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.</p>
	<p>Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.</p>
	<p>Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.</p>
	<p>Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.</p>
</div>
<div id="modalCookies" style="display: none;" class="modal-info-content modal-info-content-lg">
	<div class="modal-info-heading">
		<h2>Cookie Policy</h2>
	</div>
	<p>This website is operated by a.season. Throughout the site, the terms “we”, “us” and “our” refer to a.season. a.season offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.</p>
	<p>By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.</p>
	<p>Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.</p>
	<p>Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.</p>
	<p>Our store is hosted on Shopify Inc. They provide us with the online e-commerce platform that allows us to sell our products and services to you.</p>
</div>
<script>
	$(document).ready(function(){
		$('#id_name').on('input',function(){
			var username = $('#id_name').val();
			if(username == ""){
				$('#username').text("")
			}
			else{
				$.ajax({
				url:"{% url 'validation' %}",
				data : {'username':username},
				success : function(data){
					if(data.msg=="valid"){
						$('#username').css("color","green");	
						document.getElementById("register").disabled = false;
					}
					else{
						$('#username').css("color","red");
						$('#register').prop('disabled','true')
					}
					$('#username').text(data.msg)
				}
			})
			}
			
		})
		$('#id_password,#id_password_confirmation').on("input",function(){
			var x = $('#id_password').val()
			var y = $('#id_password_confirmation').val();
			if(y == ""){
				
				$('#password_val').text("")
			}
			else{
				if(x != y){
					$('#password_val').css("color","red");
					
					$('#password_val').text("password not matching")
					$('#register').prop('disabled','true')
				}
				else{
					
					$("#password_val").text("")
					document.getElementById("register").disabled = false;
				}
			}
			
		})
		$('#id_mail').on('input',function(){
			// console.log($('#id_mail').val())
			var email = $("#id_mail").val()
			var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
			if(email == ""){
				$('#mail').text("")
			}
			else{
				if(!pattern.test(email)){
					$('#mail').css("color","red");
					$('#mail').text("invalid email");
					$('#register').prop('disabled','true')
				}
				else{
			
					$.ajax({
					url:"{% url 'validation' %}",
					data : {'email':email},
					success : function(data){
						if(data.msg == "valid"){
							$('#mail').css("color","green")
							document.getElementById("register").disabled = false;
						}
						else{
							
							$('#register').prop('disabled','true')
							$('#mail').css("color","red")
							
						}
						$('#mail').text(data.msg)
						
					}
				})
				}
			}
			
		})
		$('#id_phone').on('input',function(){
			var phone = $('#id_phone').val()
			var re_phone = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im
		
			if(phone == ""){
				$('#phone').text("")
			}else{
				if(phone.length>10 || phone.length<10){
					$('#phone').css("color","red");
					$('#phone').text("invalid email");
					$('#register').prop('disabled','true')
				}else{
					$.ajax({
					url:"{% url 'validation' %}",
					data : {'phone':phone},
					success : function(data){
						if(data.msg=="valid"){
							console.log(data.msg)
							$('#phone').css("color","green");
							$('#phone').text(data.msg)	
							
							document.getElementById("register").disabled = false;
							
						}else{
							$('#phone').css("color","red");
							$('#phone').text(data.msg)
							$('#register').prop('disabled','true')	
						}
						
						
						
						
					}
				})
				}
			}
		})
		// $('#id_mail').on('input',function(){
		// 	var pattern = /^\b[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}\b$/i
		// 	var email = $('#id_mail').val()
		// 	if(!pattern.test(email)){
		// 		console.log("ivalid")
		// 	}
		// 	else{
		// 		console.log("valid")
		// 	}
		// })
	})
</script>
{% endblock contents %}