{% extends 'UserMain.html' %}
{% load static %}
{% block title %}Forgot Password{% endblock title %}
{% block contents %}
<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="/">Home</a></li>
			<li><span>Account Login</span></li>
		</ul>
	</div>
</div>
	<div class="holder">
	<div class="container p-2" >
		<div class="row justify-content-center p-3">
			<div class="card  pt-5 pb-5 justify-content-center" style="align-content: center;width: 30rem;border:solid #17c6aa 1px;" id="login_page">
				{% include 'messages.html' %}
				<h2 class="text-center" style="color: #17c6aa;">Set New Password</h2>
				<div class="form-wrapper pl-2 pr-2">
					
					<p id="password_msg" style="background-color: #192421;margin-top: 20px;padding: 15px;text-align: center;color: #C4C4C4;display: none;font-weight: bold;"></p>
					<form method = "POST" >
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="password" name="password" class="form-control"  placeholder="Enter New Password" id="password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password_confirm" class="form-control" placeholder="Enter New Password Confirm" id="new_password_conf">
                        </div>
						
						
						<div class="text-center">
							<button class="btn btn-lg" style="width: 50%;" type="submit" id="set_pass_btn">Set Password</button>
							<button class="btn btn-lg" style="width: 50%;display: none;" type="button" id="set_pass_err_btn">Set Password</button>
						</div>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<script>
	$(document).ready(function(){
		$('#forgot_pass').click(function(){
			$('#forgot_pass_page').show()
			$('#login_page').hide()
			
		})
		$('#password,#new_password_conf').on('input',function(){
			password = $('#password').val();
			console.log(password)
            password_confirm = $('#new_password_conf').val()
			if(password != "" && password_confirm != ""){
				if(password != password_confirm){
					
					
					$('#set_pass_err_btn').show()
					$('#set_pass_btn').hide()
				}else{
					// $('#password_msg').hide()
					$('#password_msg').text("")
					$('#set_pass_err_btn').hide()
					$('#set_pass_btn').show()
				}	
			}else{
				
			}
		})
		$('#set_pass_err_btn').on('click',function(){
			$('#password_msg').text("password not matching")
			$('#password_msg'). show()
			setTimeout(function () {
				$('#password_msg'). hide();
		}, 4000);
		
		})
		
      
	})
</script>

{% endblock contents %}