{% extends 'main.html' %}
{% block title%} Category {% endblock title%}
{% block contents %}
<div class="col-lg-12 grid-margin stretch-card" id="filterContent">
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'CategoryView' %}">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="eg: Fruits & Vegitables"
                                name="byName">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Parents</label>
                            <input type="text" class="form-control form-control-sm" placeholder="eg: Fruits & Vegitables" name="byParents">
                        </div>
                    </div>

                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Status</label>
                            <select name="byStatus" id="" class="form-control">
                                <option value="">Select</option>
                                <option value="Active"> Active</option>
                                <option value="Suspended"> Suspended</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <!-- <button type="reset"  class="btn btn-primary ml-auto"><i class="fas fa-undo-alt" style="font-size: small;"></i></button> -->
                            <a href="" class="btn btn-primary ml-auto"><i class="fas fa-undo-alt" style="font-size: small;"></i></a>
                            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title=""
                                data-original-title="Apply">Filter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Category</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <a href="#" id="filter" class="btn btn-primary ml-auto"><i class="fas fa-filter"
                            style="font-size: small;"></i></a>
                    <a href="{% url 'addCategory' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Category</a>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            <th>PARENT</th>
                            <th>IMAGE</th>
                            <th>DISPLAY ORDER</th>
                            <th>STATUS</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if Categories %}
                        {% for Category in Categories %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{Category.Category_Name}}</td>
                            <td>{{Category.Parent}}</td>
                            <td><img src="{{Category.Category_img.url}}" alt="">
                                
                            </td>
                            <td>{{Category.Display_Order}}</td>
                            <td><label
                                    class="badge {% if Category.status == 'Active' %}badge-success{% elif Category.status == 'Pending' %}badge-warning{%else%}badge-danger{%endif%}">{{Category.status}}</label>
                            </td>
                            <td>
                                <div class='row'>
                                    <div class="col-sm-6 col-xl-12">
                                        {% if Category.status == 'Active' %}
                                        <!-- edit -->
                                        <a href="{% url 'editCategory' Category.id %}" class="btn-sm btn-light"
                                            style="text-decoration: none;width: 100;">Edit</a>
                                        <!-- disable -->
                                        <a href="" class="dis btn-sm btn-light" style="text-decoration: none;"
                                            data-toggle="modal" data-target="#Disable"
                                            data-description="{{Category.id}}">Disable</a>
                                        {% else %}
                                        <!-- enable -->
                                        <a href="" class="ena btn-sm btn-light" style="text-decoration: none;"
                                            data-toggle="modal" data-target="#Enable" data-description="{{Category.id}}">
                                            Enable</a>
                                        {% endif %}
                                    </div>

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Nothing Find</th>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <hr>
                {% if Categories.paginator.num_pages > 1 %}
                <div class="row" style="text-align: center;">
                    <div class="col-sm-12">
                        {% if Categories.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{Categories.previous_page_number}}">Previous</a>
                        {% endif %}
                        Page {{Categories.number}} of {{ Categories.paginator.num_pages }}
                        {% if Categories.has_next %}
                        <a href="?page={{Categories.next_page_number}}">Next</a>
                        <a href="?page={{Categories.paginator.num_pages}}">Last &raquo; </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableCategory' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableCategory' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock contents %}