{% extends 'main.html' %}
{% block title%} Index {% endblock title%}
{% block contents %}
<!-- <div class="col-lg-12 "> -->
<div style="margin: 15px;">
    <div class="page-header"style="margin:28px">
        <h1 class="title">
        Dashboard
        </h1>
    </div>
    <div class="row m-2">


        <div class="col-lg-2" style="margin-bottom:10px;">
        <div class="card">
            <div class="card-body p-3 text-center">
            <div class="text-right text-green">
                <i class="fa fa-cubes"></i>
            </div>
            <div class="h1 m-0"><a href="{% url 'new_orders' %}">{{new_order_count}}</a></div>
            <div class="text-muted mb-4">New Orders</div>
            </div>
        </div>
        </div>

        <div class="col-lg-2" style="margin-bottom:10px;">
        <div class="card">
            <div class="card-body p-3 text-center">
            <div class="text-right text-primary">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="h1 m-0"><a href="{% url 'orders' %}">{{total_order}}</a>
            </div>
            <div class="text-muted mb-4">Total Orders</div>
            </div>
        </div>
        </div>

        <div class="col-lg-2" style="margin-bottom:10px;">
        <div class="card">
            <div class="card-body p-3 text-center">
            <div class="text-right text-red">
                <i class="fa fa-cube"></i>
            </div>
            <div class="h1 m-0"><a href="/admin/Inventory/itemsList/?Active">{{itemsCount}}</a></div>
            <div class="text-muted mb-4">Items </div>
            </div>
        </div>
        </div>



        <div class="col-lg-2" style="margin-bottom:10px;">
        <div class="card">
            <div class="card-body p-3 text-center">
            <div class="text-right text-red">
                <i class="fa fa-cube"></i>
            </div>
            <div class="h1 m-0"><a href="/admin/Inventory/itemsList/?Pending">{{pendingItemCount}}</a></div>
            <div class="text-muted mb-4">Items for approval</div>
            </div>
        </div>
        </div>



        <div class="col-lg-2" style="margin-bottom:10px;">
        <div class="card">
            <div class="card-body p-3 text-center">
            <div class="text-right text-green">
                <i class="fa fa-inr" aria-hidden="true"></i>

            </div>
            <div class="h1 m-0"><a href="#">
                {{saleCount}}

                </a>
            </div>
            <div class="text-muted mb-4">Sale of the day</div>
            </div>
        </div>
        </div>
    </div>
    
    <div class="card m-2" >
        <div class="card-body">
        </div>
    </div>
              
</div>
{% endblock contents %}