{% extends 'main.html' %}
{% block title%} Add Banner {% endblock title%}
{% block contents %}
<div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Add Banner</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'addBanner' %}" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Banner_name.label}}</label>
                            {{form.Banner_name}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Banner_image.label}}</label><span style="font-size: smaller;font-style: italic;color: crimson;"> (Upload an image with 1350*400px size)</span>
                            {{form.Banner_image}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Banner_Display_Order.label}}</label>
                            {{form.Banner_Display_Order}}
                            <div id="orderData"></div>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Banner_URL.label}}</label>
                            {{form.Banner_URL}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.App_Banner_image.label}}</label><span style="font-size: smaller;font-style: italic;color: crimson;"> (Upload an image with 1024*512px size) </span>
                            {{form.App_Banner_image}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.status.label}}</label>
                            <select name="Status" class="form-control form-control-sm" id="id_status" disabled>
                                <option value="">{{form.status.value}}</option>
                            </select>
                            {{form.status.as_hidden}}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="{% url 'Banner' %}" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


<script>

    $(document).ready(function () {
        $('#id_Banner_Display_Order').change(() => {
            var order = $('#id_Banner_Display_Order').val()
            $.ajax({
                data: { 'p': order },
                url: "{% url 'Banner_Display_Order' %}",
                success: function (response) {
                    console.log(response.data)
                    if (response.data == true) {
                        let html_data = '<span style="font-size:smaller;font-style: italic;color: red">Display order already taken</span>'

                        $("#orderData").html(html_data);
                        $('#id_Banner_Display_Order').val('');
                    } else {
                        $("#orderData").html('');
                    }
                },
                error: function (response) {
                    alert('error')
                },
            })
        })

        //validayion

        //id_Banner_image
        $('#id_Banner_image').on('change', function () {
            var get_image = getSelectedFile('id_Banner_image')
            isGoodImage(get_image,1350,400,'id_Banner_image');
            
        });

        //id_App_Banner_image
        $('#id_App_Banner_image').on('change', function () {
            var get_image = getSelectedFile('id_App_Banner_image')
            isGoodImage(get_image,1024,512,'id_App_Banner_image');
        });


        var _URL = window.URL || window.webkitURL;
        function isSupportedBrowser() {
            return window.File && window.FileReader && window.FileList && window.Image;
        }

        function getSelectedFile(subjectId) {
            var fileInput = document.getElementById(subjectId);
            var fileIsSelected = fileInput && fileInput.files && fileInput.files[0];
            if (fileIsSelected)
                return fileInput.files[0];
            else
                return false;
        }

        function isGoodImage(file,cWidth,cHeight,subjectId) {
            var deferred = jQuery.Deferred();
            var Resolution
            var image = new Image();
            image.onload = function () {
                
                // Check if image is bad/invalid
                if (this.width + this.height === 0) {
                    this.onerror();
                    return;
                }

                // Check the image resolution
                if (parseInt(this.width) === parseInt(cWidth)&&parseInt(this.height) === parseInt(cHeight)) {
                    deferred.resolve(true);
                } else {
                    deferred.resolve(false);  
                    alert('Image Resolution is not adaptable')
                    document.getElementById(subjectId).value=''
                }
            };

            image.onerror = function () {
                alert("Invalid image. Please select an image file.");
                deferred.resolve(false);
            }

            image.src = _URL.createObjectURL(file);

            return deferred.promise();
        }
    })

</script>


{% endblock contents %}