{% extends 'main.html' %}
{% block title%} Banners {% endblock title%}
{% block contents %}
<div class="col-lg-12 grid-margin stretch-card" id="filterContent">
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'Banner' %}">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="eg: Fruits"
                                name="byName">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Status</label>
                            <select class="form-control form-control-sm" name="byStatus" id="">
                                <option value="Active">Active</option>
                                <option value="Suspended">Suspended</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-2 text-center">
                        <div class="form-group">
                            <a href="" class="btn btn-primary ml-auto"><i class="fas fa-undo-alt"
                                style="font-size: small;"></i></a>
                            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title=""
                                data-original-title="Apply">Filter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Banner</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <a href="#" id="filter" class="btn btn-primary ml-auto"><i class="fas fa-filter"
                            style="font-size: small;"></i></a>
                    <a href="{% url 'addBanner' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Banner</a>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            <th>URL</th>
                            <th>DISPLAY ORDER</th>
                            <th>IMAGE</th>
                            <th>STATUS</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if Banners %}
                        {% for banner in Banners %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{banner.Banner_name}}</td>
                            <td>{{banner.Banner_URL}}</td>
                            <td>{{banner.Banner_Display_Order}}</td>
                            <td><img src="{{ banner.Banner_image.url }}" alt=""></td>
                            <td><label
                                    class="badge {% if banner.status == 'Active' %}badge-success{% elif banner.status == 'Pending' %}badge-warning{%else%}badge-danger{%endif%}">{{banner.status}}</label>
                            </td>
                            <td>
                                <div class='row'>
                                    <div class="col-sm-6 col-xl-12">
                                        {% if banner.status == 'Active' %}
                                        <!-- edit -->
                                        <a href="{% url 'editBanner' banner.id %}" class="btn-sm btn-light"
                                            style="text-decoration: none;width: 100;">Edit</a>
                                        <!-- disable -->
                                        <a href="" class="dis btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Disable"
                                        data-description="{{banner.id}}">Disable</a>
                                        {% else %}
                                        <!-- enable -->
                                        <a href="" class="ena btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Enable"
                                        data-description="{{banner.id}}">
                                        Enable</a>
                                        {% endif %}
                                    </div>

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Nothing Find</th>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <hr>
                {% if Banners.paginator.num_pages > 1 %}
                <div class="row" style="text-align: center;">
                    <div class="col-sm-12">
                        {% if Banners.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{Banners.previous_page_number}}">Previous</a>
                        {% endif %}
                        Page {{Banners.number}} of {{ Banners.paginator.num_pages }}
                        {% if Banners.has_next %}
                        <a href="?page={{Banners.next_page_number}}">Next</a>
                        <a href="?page={{Banners.paginator.num_pages}}">Last &raquo; </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableBanner' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableBanner' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contents %}