{% extends 'main.html' %}
{% block title %}Admin roles{% endblock title %}
{% block contents %}
<script>
  $(document).ready(function () {
    $('#filter-btn').click(function () {
      $('#filter').toggle(400)
    })
  })
</script>
<script>
  $(document).ready(function () {
    $('#status').click(function () {
      console.log("x")
      var x = $('#status_val').attr('value');
      var y = $('#stat_id').attr('value')
      console.log(y, x)
      // console.log(x)


    })
  })
</script>
<div class="col-lg-12 grid-margin stretch-card" id="filter">
  <form action="{% url 'customers' %}" method="post" class="card filter" autocomplete="off">{% csrf_token %}
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Customer Name</label>
            <input type="text" class="form-control" name="filter_name" id="filter_name"
              autocomplete="disable">
          </div>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" name="filter_phone" id="filter_phone" >
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Registered From</label>
            <input type="date" class="form-control" name="filter_from_date" id="filter_from_date"
              placeholder="eg: admin@example.com">
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Registered To</label>
            <input type="date" class="form-control" name="filter_to_date" id="filter_to_date"
              placeholder="eg: admin@example.com">
          </div>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Status</label>
            <select name="byStatus" id="" class="form-control">
              <option value="">Select</option>
              <option value="active">Active</option>
              <option value="inactive">Suspended</option>
            </select>
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="form-group" style="margin-top: 1.5rem;text-align: right;">

            <a href="" class="btn btn-secondary"><i class="fas fa-undo-alt"></i></a>

            <!-- <button type="reset" class="btn btn-secondary" data-toggle="tooltip" title="Reset"><i class="fa fa-refresh"></i></button> -->
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="" data-original-title="Apply"><i
                class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="col-lg-12 grid-margin stretch-card">

  <div class="card">

    <div class="card-header">
      <div class="row">
        <div class="col-4">
          <h3 class="card-title" style="float: left;">Customers</h3>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
          <div class="ml-auto" style="float: right;">
            <button id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter"><i
                class="fa fa-filter"></i></button>
            <a href="/admin/generateReportCSV/?Customer" id="add-role-btn" class="btn btn-primary ml-auto">Export</a>
          </div>
        </div>


      </div>

    </div>
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap">
        {% include 'messages.html' %}
        <thead>

          <tr>
            <th class="w-1">#</th>
            <th>Customer</th>
            <!-- <th>Email</th> -->
            <th>Phone</th>
            <!-- <th>State</th> -->

            <th>Registered Date</th>
            <th>Total Orders</th>
            <th>Total Order Amount</th>
            <th>Platform</th>

            <th>Status</th>
            <!--<th>District/ State</th>-->
            <!--<th>Pincode</th>-->
            <!--<th>Address</th>-->
          </tr>
        </thead>
        <tbody>
          {% for i in customer_obj %}
          <tr>

            <td><span class="text-muted">{{forloop.counter}}</span></td>
            <td style="text-transform: capitalize;">{{i.name}}</td>
            <td>+91-{{i.phone}}</td>
            <td>{{i.registered_date}}</td>
            <td>3</td>

            <td><span class="status-icon bg-default"></span> Web</td>
            <td>0</td>
            <td>{% if i.status == 'active' %}<label class="badge badge-success">active</label>{% elif i.status == 'deleted' %}<label
                class="badge badge-danger">deleted</label>{% else %}<label class="badge badge-warning">Suspended</label>{% endif %}

            <td>
              {% if i.status == 'active' %}

              <a href="" class="dis btn-sm btn-light" style="text-decoration: none;" data-toggle="modal"
                data-target="#Disable" data-name="{{district.district_name}}" data-description="{{i.id}}">Disable</a>
                <a href="{% url 'edit_customer' i.pk %}" class="dis btn-sm btn-light">Edit</a>
              {% elif i.status == 'inactive' %}
              <a href="" class="ena btn-sm btn-light" style="text-decoration: none;" data-toggle="modal"
                data-target="#Enable" data-name="{{district.district_name}}" data-description="{{i.id}}">
                Enable</a>
                <a href="{% url 'edit_customer' i.pk %}" class="dis btn-sm btn-light">Edit</a>
              {% else %}
              <a href="{% url 'edit_customer' i.pk %}" class="dis btn-sm btn-light">Edit</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
      {% if customer_obj.paginator.num_pages > 1 %}
      <div class="row" style="text-align: center;">
          <div class="col-sm-12">
              {% if customer_obj.has_previous %}
              <a href="?page=1">&laquo; First</a>
              <a href="?page={{customer_obj.previous_page_number}}">Previous</a>
              {% endif %}
              Page {{customer_obj.number}} of {{ customer_obj.paginator.num_pages }}
              {% if customer_obj.has_next %}
              <a href="?page={{customer_obj.next_page_number}}">Next</a>
              <a href="?page={{customer_obj.paginator.num_pages}}">Last &raquo; </a>
              {% endif %}
          </div>
      </div>
      {% endif %}
      <!-- Button trigger modal -->



    </div>
    <!-- Modal -->
    <div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="{% url 'customers_enable' %}" method="post">{% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure to continue?</p>
              <input hidden type="text" name="getById" id="orgId1">
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form action="{% url 'customers_disable' %}" method="post">{% csrf_token %}
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure to continue?</p>
              <input hidden type="text" name="getById" id="orgId">
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
              <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="pagination">
      <ul>
      </ul>
    </div>
  </div>
</div>

{% endblock contents %}