{% extends 'main.html' %}
{% block title %}Edit Customers{% endblock title %}
{% block contents %}
<div class="container-fluid">
    <div class="col-12 grid-margin">
        <form class="form-sample" method="POST">
        {% csrf_token %}
            <div class="card">
                <div class="card-header" style="background: white;">
                    <h4 class="card-title">Edit Customers</h4>
                </div>
                <div class="card-body">
                    
                    <div class="row">
                        <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                {{ edit_form.name }}
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mail</label>
                                <div class="col-sm-9">
                                    {{ edit_form.mail }}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-9">
                                    {{edit_form.phone}}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Password</label>
                                <div class="col-sm-9">
                                    {{edit_form.password}}
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Status</label>
                                <div class="col-sm-9">
                                    {{edit_form.status}}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    {{edit_form.password_confirmation.as_hidden}}
                  

                    
                   
                    
                    
                </div>
                <div class="card-footer " style="text-align: center;background-color: white;">
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a href="{% url 'customers' %}" class="btn btn-light">Cancel</a>
                    </div>
                   
                </div>
            </div>
        </form>
    </div>

{% endblock contents %}