{% extends 'main.html' %}
{% block title%} Offers in Product {% endblock title%}
{% block contents %}
<div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Add Product Items To {{offer_data}}</h3>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="/admin/add-product-to-offers/?offer={{offer_data.id}}" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Products</label>
                            <select name="items" class="form-control form-control-sm" id="id_status" multiple>
                                <option value="">Select</option>
                                {% for item in Items %}
                                <option value="{{item.id}}" {% if item.id in item_list %}selected{% endif %}>{{item.product_set.first.Name}}({{item.Varient_Values}})</option>
                                {% endfor %}
                            </select>
                            
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="{% url 'offers' %}" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


{% endblock contents %}