{% extends 'main.html' %}
{% block title %}Edit Offers{% endblock title %}
{% block contents %}

<div class="col-lg-12 grid-margin stretch-card">
    
            
        
          
  
  
         
            

            
         
  
        <div id="add-role-form" class="col-12" style = "">
          <form  enctype="multipart/form-data" method="POST" class="card" id="add" name="add">
              {% csrf_token %}
            <div class="card-header">
              <h3 class="card-title">Add Offer</h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <div class="form-group">
                    <label class="form-label">Offer Name<span class="danger" style="color: red;"> *</span></label>
                    {{form.offer_name}}
                  </div>
             
                  <!--   <div class="form-group">
                    <label class="form-label">Offer Type<span class="danger" style="color: red;"> *</span></label>
                    <select class="form-control" name="dis_position" id="dis_position" required onchange="return size_alert(this.value);">
                      <option selected="selected" disabled value="">Select</option>
                      <option value="1">Admin</option>
                    
                    </select>
                  </div> -->
                    
  
                    <!--  <div class="form-group offer_vendor" style="display: none;">
                    <label class="form-label">Offer Link (add a valid momooz url)<span class="danger" style="color: red;"> *</span></label>
                    <input type="text" class="form-control" name="offer_link" id="offer_link" placeholder="Enter URL (Eg:http://momooz.in/web/vendorurl)" >
                  </div> -->
  
  
                   <!--  <div class="form-group offer_vendor" style="display: none;">
                    <label class="form-label">Vendor<span class="danger" style="color: red;"> *</span></label>
                  <select class="form-control" name="offer_vendor" id="offer_vendor" >
                      <option selected="selected" disabled value="">Select</option>
                      <option value="18" style="text-transform:capitalize">clone  vendor</option><option value="3" style="text-transform:capitalize">Fresh House</option><option value="14" style="text-transform:capitalize">ghghghgh</option><option value="6" style="text-transform:capitalize">Meen Time T Thrissur</option><option value="13" style="text-transform:capitalize">Metrofresh</option><option value="9" style="text-transform:capitalize">MoMoOZ Main</option><option value="10" style="text-transform:capitalize">MoMoOZ Pathiripala</option><option value="8" style="text-transform:capitalize">Momooz Viyyur</option><option value="17" style="text-transform:capitalize">myvend</option><option value="16" style="text-transform:capitalize">newvendor</option><option value="15" style="text-transform:capitalize">Primalvendor</option><option value="5" style="text-transform:capitalize">SBJ Associates</option><option value="7" style="text-transform:capitalize">Tirur</option><option value="4" style="text-transform:capitalize">wimbis Cakes and Bakery</option>                  </select>
                    </div> -->
  
                    
                  
  
                 
  
  
                  <div class="form-group">
                      <label class="form-label">Set as Amazing</label>
                      <div class="col-2">
                        <span>{{form.status}}</span>
                        <label class="form-label">Active</label>
                        
                      </div>
                      
                      
                  </div>
  
                  <div class="form-group" id="count_div" style="display: none;">
                      <label class="form-label">Usable Count<span class="danger" style="color: red;"> *</span></label>
                      <input type="text" class="form-control" name="usable_count" id="usable_count">
                  </div>
  
                 <!--  <div class="form-group" id="display_order">
                      <label class="form-label">Display Order<span class="danger" style="color: red;"> *</span></label>
                      <input type="number" class="form-control" name="display_order" id="display_order" required>
                  </div> -->
  
                
                </div>
                <div class="col-md-6 col-lg-6">
  
                  <div class="form-group">
                    <label class="form-label">Image<span class="danger" style="color: red;"> *</span></label>
                    {{form.image}}
  <!--                   <div id="offer_size"></div>
   -->                   <div id="offer_size"></div>
                       <div>Upload image of exactly 235*145 px</div>
  
  
  
                     
                  </div>
                  
                  <div class="form-group">
                    <label class="form-label">App BannerImage<span class="danger" style="color: red;"> *</span></label>
                    {{form.App_banar_image}}
  <!--                   <div id="offer_size"></div>
   -->                   <div>Upload image of exactly 900*450 px</div>
  
  
                     
                  </div>
                     <!-- <div class="form-group">
                    <label class="form-label">Valid Till</label>
                     <input type="text" class="form-control expiry-datepicker"  name="offer_expiry" id="offer_expiry" placeholder="Expiry Date" required min="2021-11-27">
                  </div> -->
  
  
                    
  

                 
  
                </div>
                
              </div>
            </div>
            
            <div class="card-footer " style="text-align: center;background-color: white;">
              <div class="col-sm-12" style="text-align: center;">
                  <button type="submit" class="btn btn-primary mr-2">Submit</button>
                  <a href="{% url 'offers' %}" class="btn btn-light">Cancel</a>
              </div>
             
          </div>
          </form>
        </div>
            </div>
        </div>
    
{% endblock contents %}