{% extends 'main.html' %}
{% block title %}Offers{% endblock title %}
{% block contents %}
<script>
  $(document).ready(function(){
    $('#filter-btn').click(function(){
      $('#filter').toggle(400)
    })
  })
</script>
<div class="col-lg-12 grid-margin stretch-card" id="filter">
  <form action="{% url 'offers' %}" method="post" class="card filter">{% csrf_token %}
    <div class="card-body">
      <div class="row">
        <div class=" col-lg-2">
          <div class="form-group">
            <label class="form-label">Offer Name</label>
            <input type="text" class="form-control" name="byOffer" id="filter_name">
          </div>
        </div>
        <div class=" col-lg-2">
          <div class="form-group">
            <label class="form-label">Status</label>
            <select name="byStatus" id="" class="form-control">
              <option value="">Select</option>
              <option value="True">Active</option>
              <option value="False">Suspended</option>
            </select>
          </div>
        </div>      
        <div class=" col-lg-2"></div>
        <div class=" col-lg-2"></div>
        <div class=" col-lg-2"></div>
        <div class="col-md-2 col-lg-2">
          <div class="form-group" style="margin-top: 1.5rem;text-align: right;">
            <!-- <button type="reset" class="btn btn-secondary" data-toggle="tooltip" title="" data-original-title="Reset"><i class="fas fa-undo-alt" ></i></button> -->
            <a href=""class="btn btn-secondary"><i class="fas fa-undo-alt" ></i></a>
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="" data-original-title="Apply"><i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
              <h3 class="card-title" style="float: left;">Offers</h3>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <div class="ml-auto" style="float: right;">
                <button id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter"><i class="fa fa-filter"></i></button>

                <a href="{% url 'add_offers' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Offers</a>
                
              </div>
            </div>
            
            
          </div>
      <!-- <a href="#" id="add-role-btn" class="btn btn-primary ml-auto">Add Tag</a> -->
    </div>
    {% include 'messages.html' %}
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap">
        <thead>
          <tr>
            <th class="w-1">#</th>
            <th>Name</th>
            
             <th style="width: 25%">Image</th>
            <!-- <th>Expiry</th> -->
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% if offer %}
            {% for i in offer %}
                          <tr>
            <td><span class="text-muted">{{forloop.counter}}</span></td>
            <td>{{i.offer_name}}</td>
            
            
            <td style="width: 25%">
              <img src="{{i.image.url}}" style="width: 20%;height:20%">
            </td>
            <td>{% if i.status  %}<label class="badge badge-success">Active</label>{% else %}<label class="badge badge-danger">Suspended{% endif %}</label></td>
            <td class="text-right">
              <a href="/admin/add-product-to-offers/?offer={{i.pk}}" id="add-role-btn" class="btn btn-primary btn-sm ml-auto">Add Products</a>
               <a href="{% url 'edit_offers' i.pk %}" class="btn btn-secondary btn-sm">Edit</a>
               {% if i.status %}
               <!-- disable -->
               <a href="" class="dis btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Disable"
               data-description="{{i.id}}">Disable</a>
               {% else %}
               <!-- enable -->
               <a href="" class="ena btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Enable"
               data-description="{{i.id}}">
               Enable</a>
               {% endif %}
            </td>
          </tr>
                          <tr>
            
          {% endfor %}
          {% else %}
          <tr><td></td><td></td><td>Nothing Find !!</td></tr>
          {% endif %}
        </tbody>
      </table>
      <hr>
      {% if offer.paginator.num_pages > 1 %}
      <div class="row" style="text-align: center;">
          <div class="col-sm-12">
              {% if offer.has_previous %}
              <a href="?page=1">&laquo; First</a>
              <a href="?page={{offer.previous_page_number}}">Previous</a>
              {% endif %}
              Page {{offer.number}} of {{ offer.paginator.num_pages }}
              {% if offer.has_next %}
              <a href="?page={{offer.next_page_number}}">Next</a>
              <a href="?page={{offer.paginator.num_pages}}">Last &raquo; </a>
              {% endif %}
          </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'delete_offers' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'delete_offers' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock contents %}