{% extends 'main.html' %}
{% block title %}Orders{% endblock title %}

{% block contents %}
<script>
    $(document).ready(function(){
      $('#filter-btn').click(function(){
        $('#filter').toggle(400)
      })
    })

  </script>

  {% if permission %}

{% load post_tag %}

{{"heloo hai helo"|wrap:"1 span big"}}

  <div class="col-lg-12 grid-margin stretch-card"  id="filter">
  <form  method="POST" action="{% url 'orders' %}" class="card filter" >
    {% csrf_token %}
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label class="form-label">Customer</label>
            <input type="text" class="form-control form-control-sm" name="customer" id="filter_name" placeholder="customer">
          </div>
        </div>
        <input type="hidden" name="filter_or_not" value="filter">
        <div class="col-2">
          <div class="form-group">
            <label class="form-label">Order status</label>
            <select class="form-control" id="inlineFormCustomSelect" name="order_status">
              <option value="" >Select</option>
              <option value="pending">pending</option>
              <option value="failed">failed</option>
              <option value="processing">processing</option>
              <option value="shipped">shipped</option>
              <option value="out for delivery">out for delivery</option>
              <option value="delivered">delivered</option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label class="form-label">Payment Status</label>
            <select class="form-control" id="inlineFormCustomSelect" name="payment_status">
              <option value="" >Select</option>
              <option value="pending">pending</option>
              <option value="failed">failed</option>
              <option value="received">received</option>
              
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label class="form-label">Date From</label>
            <input name="dateFrom" type="date" class="form-control form-control-sm" >
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label class="form-label">Date To</label>
            <input name="dateTo" type="date" class="form-control form-control-sm" >
          </div>
        </div>
        
        <div class="col-md-2 col-lg-2">
          <div class="form-group" style="margin-top: 1.5rem;text-align: right;">
      
  
  <a href="" class="btn btn-secondary" > <i class="fa fa-undo-alt"></i></a>
  
           
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="" data-original-title="Apply"><i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </div>
  </form>
  </div>
<div class="col-lg-12 grid-margin stretch-card">

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                  <h3 class="card-title" style="float: left;">Orders</h3>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                  <div class="ml-auto" style="float: right;">
                    <button  id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter"><i class="fa fa-filter"></i></button>
                    <a href="{% url 'new_orders' %}" id="add-role-btn" class="btn btn-primary ml-auto">New Order Requests</a>
                  </div>
                </div>
                
                
              </div>
        </div>
        <div class="table-responsive">
          {% include 'messages.html' %}
        <table class="table card-table table-vcenter text-nowrap" id="table_search">
            <thead>
            <tr>
                <th class="w-1">#</th>
                <th class="w-1">Order Number</th>
                <th>Customer</th>
                <th>Order Date&time</th>
                
                <th>Order Status</th>
                <th>Platform</th>
                <th>Payment Status / Mode</th>
                
                <th></th>
            </tr>
            </thead>
        <tbody>
                    
            {% for i in order %}
            {% if i.order_status == 'delivered' and i.payment_status == 'received' %}
                <tr style="background-color: rgb(181, 233, 181);" >
                <td>{{forloop.counter}}</td>
                <td>{{i.order_id_m}}</td>
                <td>{{i.user.name}}</a></td>
                   
               
                <td>{{i.order_date}}</td>
                                     
               
                                    
                <td>{% if i.order_status == 'delivered' %}<label class="badge badge-success">{{i.order_status}}</label>{% elif i.order_status == 'cancelled' %}<label class="badge badge-danger">{{i.order_status}}</label>{% else %}<label class="badge badge-warning">{{i.order_status}}</label>{% endif %}</td>
                <td><span class="status-icon bg-default"></span> Web</td>    
                <!-- <td><label class="badge badge-warning">{{i.payment_status}}</label></td>  -->
                <td>{% if i.payment_status == 'received' %}<label class="badge badge-success">{{i.payment_status}}</label>{% else %}<label class="badge badge-warning">{{i.payment_status}}</label>{% endif %}: {{i.order_details_set.first.mode}}</td>
                 
                <td> 
                  
                    
                  
                  <button type="button" id="viewdetails{{i.id}}" name="value" class="btn btn-secondary btn-sm" ng-model="myVar" value="{{i.id}}" onclick="order_detail(this)" >view</button>
                  <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary btn-sm order-edit-btn" value="{{i.id}}" onclick="myfunction(this)">Change Status</button> 
                    <a href="{% url 'Print_invoice' i.pk %}" title="Print Invoice" target="_blank">
                      <button type="button" class="btn btn-primary ml-auto btn-sm">Print Invoice</button></a>
                </td>
                
              
                
              <!-- <tr class="card" style="display: none;" id="tablehide"> -->
               
                  
              </tr>
              <tr class="viewdetails{{i.id}}" id="heading{{i.id}}" name="value" style="display:none ;background-color: gainsboro;" ng-show="myVar">
                <!-- <td></td> -->
                <th colspan="3">Item</th>
               
                <th>Quantity</th>
                <th>Cost</th>
                <th>Discount</th>
               
                <td></td>
                <td></td>
                
              </tr>
              
              <tr class="viewdetails{{i.id}}" id="body{{i.id}}"  style="display:none ;background-color: ghostwhite;">
              
                <td colspan="3">{% for j in i.order_details_set.all %}<ol style="padding-bottom: 15px;">{{j.product.product_set.first.Name}}</ol>{% endfor %}</td>
                <td>{% for j in i.order_details_set.all %}<ol style="padding-bottom: 15px;">{{j.count}}Nos</ol>{% endfor %}</td>
                <td>{% for j in i.order_details_set.all %}<ol style="padding-bottom: 15px;">{{j.amount}}</ol>{% endfor %}</td>
                <td><i class="fa fa-inr"></i></td>
                
                
                <p>
                <td colspan="1" rowspan="1">
                  
                    <div class="col-md-4" >
                      <h5>Delivery Details</h5>
                      {{i.order_details_set.first.address.address}},<br>
                      {{i.order_details_set.first.address.locality}},<br>
                      {{i.order_details_set.first.address.state}},<br>
                      {{i.order_details_set.first.address.country}}<br>
                       {{i.order_details_set.first.address.landmark}},{{i.order_details_set.first.address.pin}}
                      </p>
                      <div class="table-bordered" style="padding:5px;">
                        <h5>Delivery Charge</h5>
                        <i class="fa fa-inr"></i>0                      <br>
                          <h5>Convenient Charge</h5>
                        <i class="fa fa-inr"></i>0                      
                
                      </div>
        

                    </div>
                    
                    </td>
                    <td>
                      <div class="col-md-6" >

                      <div class="table-bordered" style="padding:5px;background-color: rgb(235, 235, 235);">
                        <h3 style="color: black;text-align: center;">Grand Total</h3>
                        <i class="fa fa-inr"></i><p style="color: black; font-size: 20px;text-align: center;">{{i.order_total}}  </p>                  <br>
                                           
                
                      </div>
                    </div>
                    </td>
                    
            </tr>
              </div>
               {% else %} 
                <td>{{forloop.counter}}</td>
                <td>{{i.order_id_m}}</td>
                <td>{{i.user.name}}</a></td>
                   
               
                <td>{{i.order_date}}</td>
                                     
               
                                    
                <td>{% if i.order_status == 'delivered' %}<label class="badge badge-success">{{i.order_status}}</label>{% elif i.order_status == 'cancelled' %}<label class="badge badge-danger">{{i.order_status}}</label>{% else %}<label class="badge badge-warning">{{i.order_status}}</label>{% endif %}</td>
                <td><span class="status-icon bg-default"></span> Web</td>    
                <!-- <td><label class="badge badge-warning">{{i.payment_status}}</label></td>  -->
                <td>{% if i.payment_status == 'received' %}<label class="badge badge-success">{{i.payment_status}}</label>{% else %}<label class="badge badge-warning">{{i.payment_status}}</label>{% endif %}: {{i.order_details_set.first.mode}}</td>
                 
                <td> 
                  
                    
                  
                  <button type="button" id="viewdetails{{i.id}}" name="value" class="btn btn-secondary btn-sm" ng-model="myVar" value="{{i.id}}" onclick="order_detail(this)" >view</button>
                  <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-secondary btn-sm order-edit-btn" value="{{i.id}}" onclick="myfunction(this)">Change Status</button> 
                    <a href="{% url 'Print_invoice' i.pk %}" title="Print Invoice" target="_blank">
                      <button type="button" class="btn btn-primary ml-auto btn-sm">Print Invoice</button></a>
                </td>
                
              
                
              <!-- <tr class="card" style="display: none;" id="tablehide"> -->
               
                  
              
                </tr>
                <tr class="viewdetails{{i.id}}" id="heading{{i.id}}" name="value" style="display:none ;background-color: gainsboro;" ng-show="myVar">
                  <!-- <td></td> -->
                  <th colspan="3">Item</th>
                 
                  <th>Quantity</th>
                  <th>Cost</th>
                  <th>Discount</th>
                 
                  <td></td>
                  <td></td>
                  
                </tr>
                
                <tr class="viewdetails{{i.id}}" id="body{{i.id}}"  style="display:none ;background-color: ghostwhite;">
                
                  <td colspan="3">{% for j in i.order_details_set.all %}<ol style="padding-bottom: 15px;">{{j.product.product_set.first.Name}}</ol>{% endfor %}</td>
                  <td>{% for j in i.order_details_set.all %}<ol style="padding-bottom: 15px;">{{j.count}}Nos</ol>{% endfor %}</td>
                  <td>{% for j in i.order_details_set.all %}<ol style="padding-bottom: 15px;">{{j.amount}}</ol>{% endfor %}</td>
                  <td><i class="fa fa-inr"></i></td>
                  
                  
                  <p>
                  <td colspan="1" rowspan="1">
                    
                      <div class="col-md-4" >
                        <h5>Delivery Details</h5>
                        {{i.order_details_set.first.address.address}},{{i.order_details_set.first.address.locality}},{{i.order_details_set.first.address.state}},{{i.order_details_set.first.address.country}}<br>
                         {{i.order_details_set.first.address.landmark}},{{i.order_details_set.first.address.pin}}
                        </p>
                        <div class="table-bordered" style="padding:5px;">
                          <h5>Delivery Charge</h5>
                          <i class="fa fa-inr"></i>0                      <br>
                            <h5>Convenient Charge</h5>
                          <i class="fa fa-inr"></i>0                      
                  
                        </div>
          

                      </div>
                      
                      </td>
                      <td>
                        <div class="col-md-6" >

                        <div class="table-bordered" style="padding:5px;background-color: rgb(235, 235, 235);">
                          <h3 style="color: black;text-align: center;">Grand Total</h3>
                          <i class="fa fa-inr"></i><p style="color: black; font-size: 20px;text-align: center;">{{i.order_total}}  </p>                  <br>
                                             
                  
                        </div>
                      </div>
                      </td>
                      
              </tr>
              {% endif %}
                {% endfor %} 
                
                
              </div>
            </table>
            
            <hr>

            
            {% if order.paginator.num_pages > 1 %}
            <div class="row" style="text-align: center;">
                <div class="col-sm-12">
                    {% if order.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{order.previous_page_number}}">Previous</a>
                    {% endif %}
                    Page {{order.number}} of {{ order.paginator.num_pages }}
                    {% if order.has_next %}
                    <a href="?page={{order.next_page_number}}">Next</a>
                    <a href="?page={{order.paginator.num_pages}}">Last &raquo; </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        
        
    </div>
    
</div>



<!-- Modal -->
<form method="POST">
  {% csrf_token %}
<div class="modal fade bd-example-modal-lg" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="width: 100%;">
  
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change Status</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
        <div class="row">
          <div class="col-5">
            
            <label class="mr-sm-2" for="inlineFormCustomSelect">Order Status<span class="danger" style="color: red;"> *</span></label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="order_status">
              
              <option value="" >Choose...</option>
              <option value="pending">pending</option>
              <option value="processing">processing</option>
              <option value="shipped">shipped</option>
              <option value="out for delivery">out for delivery</option>
              <option value="delivered">delivered</option>
            </select>
          </div>
          <div class="col-5">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Payment Status<span class="danger" style="color: red;"> *</span></label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="payment_status">
              <option value="" >Choose...</option>
              <option value="pending">pending</option>
              <option value="received">received</option>
              
            </select>
          </div>
          <div class="col-2">
            <input hidden  type="text" id="answer" name="value_id">
          </div>
                
             
        </div>
         
        
          
    
      </div>
      <div class="modal-footer">
        
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  
  </div>

</div>
</form>
{% else %}
{% endif %}
        <script>
          
          
              function myfunction(e){
                var x = e.value;
                console.log(x,"saye")
                document.getElementById("answer").value = x

              }
             
           
              function order_detail(a){
                console.log(a)
                var x =a.id
                var y = document.getElementsByName("value")
                console.log(y.length)
                for(i=0;i<y.length;i++){
                  var z = y[i].getAttribute( 'id' )
                  console.log(z)
                  if(x == z){
                  $('.'+z).fadeToggle(400)
                }
                }
                
                
                
              }
            

          
        </script>
        <script>
          $('#search_order').submit(function(){
            $.ajax({
              url : "{% url 'search_admin' %}",
              type : $('#search_order').attr('type'),
              data :{'search_name' : $('#filter_name').val()},
              success :function(data){
                alert(data.search_result)
                $('#table_search').html(data)
              }
            })
          })
        </script>
  {% endblock contents %}