<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/images/logo/logo.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <style>
      #togglePassword {
      margin-left: -30px;
      cursor: pointer;
  }
    </style>
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="main-panel">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                  <img src="/static/images/logo/login.png" alt="logo">
                </div>
                {% include 'messages.html' %}
                <h4>Change Password</h4>
                <h6 class="font-weight-light">{{admin.username}} Are You Sure?</h6>
                <form class="pt-3" action="{% url 'forgot_password' %}" method="post">{% csrf_token %}


                  <div class="form-group">
                      <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Password" style="display: inline"/>
                      <i class="bi bi-eye-slash" id="togglePassword"></i> 
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control form-control-lg" name="Confirmpassword"  placeholder="Confirm Password" style="display: inline"/>
                  </div>
                  <input type="hidden" name="admin" value="{{admin.id}}">
                  <div class="mt-3">
                    <input type="submit" name="conform-reset-password" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Change Password">
                  </div>
                  <div class="my-2 d-flex justify-content-between align-items-center">
                  </div>
                </form>      
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/vendors/base/vendor.bundle.base.js"></script>
  <script src="/static/js/template.js"></script>
  <script src="/static/js/timeout.js"></script>
  <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit

  </script>
</body>

</html>
