<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login</title>
  <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/images/logo/logo.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <style>
      #togglePassword {
      margin-left: -30px;
      cursor: pointer;
  }
    </style>
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="main-panel">
        <div class="content-wrapper d-flex align-items-center auth px-0">
          <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
              <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                  <img src="/static/images/logo/login.png" alt="logo">
                </div>
                {% include 'messages.html' %}
                <h4>Hello! let's get started</h4>
                <h6 class="font-weight-light">Admin Sign in to continue.</h6>
                <form class="pt-3" action="{% url 'login' %}" method="post">{% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username" name="username">
                  </div>

                  <div class="form-group">
                      <input type="password" class="form-control form-control-lg" name="password" id="password" placeholder="Password" style="display: inline"/>
                      <i class="bi bi-eye-slash" id="togglePassword"></i>
                    
                  </div>

                  <div class="mt-3">
                    <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="Login">
                  </div>
                  <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                      <label class="form-check-label text-muted">
                        <input type="checkbox" class="form-check-input" required>
                        Keep me signed in
                      </label>
                    </div>
                    <a href="#" data-target="#pwdModal" data-toggle="modal" class="auth-link text-black">Forgot password?</a>
                  </div>
                </form>
                  <!-- <div class="mb-2">
                    <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                      <i class="mdi mdi-facebook mr-2"></i>Connect using facebook
                    </button>
                  </div> -->
                  <!-- <div class="text-center mt-4 font-weight-light">
                    Don't have an account? <a href="register.html" class="text-primary">Create</a>
                  </div> -->
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .modal-footer {   border-top: 0px; }
  </style>
  <div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

      <div class="modal-header text-center">
        <h1 class="text-center"> Reset My Password?</h1>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
          <div class="modal-body">
              <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="text-center">
                              
                              <p style="font-style: italic; font-size: small;">If you have forgotten your password you can reset it here.</p>
                              <hr style="font-weight: lighter;">
                                <div class="panel-body">
                                    <fieldset>
                                      <form action="{% url 'forgot_password' %}" method="post">{% csrf_token %}
                                        <div class="form-group">
                                            <input class="form-control input-lg" placeholder="Username" name="Username" type="text">
                                            <p style="font-style: italic; font-size:x-small">Registered Mobile Number Only Acceptable</p>
                                            <input class="form-control input-lg" placeholder="Mobile" name="Contact" type="tel" value="">
                                        </div>
                                        <input class="btn btn-lg btn-primary btn-block" value="Reset My Password" type="submit" name="reset-password">
                                      </form>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
              <div class="col-md-12">
              <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>	
          </div>
      </div>
    </div>
  </div>

  <script src="/static/vendors/base/vendor.bundle.base.js"></script>
  <script src="/static/js/template.js"></script>
  <script src="/static/js/timeout.js"></script>
  <script>
        const togglePassword = document.querySelector("#togglePassword");
        const password = document.querySelector("#password");

        togglePassword.addEventListener("click", function () {
            // toggle the type attribute
            const type = password.getAttribute("type") === "password" ? "text" : "password";
            password.setAttribute("type", type);
            
            // toggle the icon
            this.classList.toggle("bi-eye");
        });

        // prevent form submit

  </script>
</body>

</html>
