{% extends 'main.html' %}
{% block title%} Add Varient Values {% endblock title%}
{% block contents %}
<div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Add Values</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'addValues' valueId %}" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Varient_Values.label}}</label>
                            {{form.Varient_Values}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.status.label}}</label>
                            <select name="Status" class="form-control form-control-sm" id="id_status" disabled>
                                <option value="">{{form.status.value}}</option>
                            </select>
                            {{form.status.as_hidden}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Display_Order.label}}</label>
                            {{form.Display_Order}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Varient_Type.label}}</label>
                            <select class="form-control form-control-sm" id="id_status" disabled>
                                <option value="">{{Varient.Varient_Name}}</option>
                            </select>
                            {{form.Varient_Type.as_hidden}}
                        </div>
                        <!-- <div class="form-group">
                            <label for="exampleInputEmail1">Parent</label>
                            <select name="Parent" class="form-control form-control-sm" id="id_Parent">
                                <option value="null">None</option>
                            </select>
                        </div> -->

                    </div>
                </div>
                <hr>
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="{% url 'Varient' %}" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>





{% endblock contents %}