{% extends 'main.html' %}
{% block title%} Add Varient {% endblock title%}
{% block contents %}
<div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Add Varient</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'addVarient' %}" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Varient_Name.label}}</label>
                            {{form.Varient_Name}}
                            <div id="varientData"></div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.status.label}}</label>
                            <select name="Status" class="form-control form-control-sm" id="id_status" disabled>
                                <option value="">{{form.status.value}}</option>
                            </select>
                            {{form.status.as_hidden}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Display_Order.label}}</label>
                            {{form.Display_Order}}
                            <div id="orderData"></div>
                        </div>
                        <!-- <div class="form-group">
                            <label for="exampleInputEmail1">Parent</label>
                            <select name="Parent" class="form-control form-control-sm" id="id_Parent">
                                <option value="null">None</option>
                            </select>
                        </div> -->

                    </div>
                </div>
                <hr>
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="{% url 'Varient' %}" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#id_Display_Order').change(()=>{
            var order = $('#id_Display_Order').val()
            $.ajax({
                data:{'p':order},
                url:"{% url 'Display_Order_Varient' %}",
                success: function (response) {
                    console.log(response.data)
                    if(response.data==true){
                        let html_data = '<span style="font-size:smaller;font-style: italic;color: red">Display order already taken</span>'

                        $("#orderData").html(html_data);
                        $('#id_Display_Order').val('');
                    }else{
                        $("#orderData").html('');
                    }  
                },
                error:function (response) {
                    alert('error')
                },
            })
        })
    })

</script>
<script>
    $(document).ready(function () {
        $('#id_Varient_Name').change(()=>{
            var Varient = $('#id_Varient_Name').val()
            $.ajax({
                data:{'p':Varient},
                url:"{% url 'VarientName_Check' %}",
                success: function (response) {
                    console.log(response.data)
                    if(response.data==true){
                        let html_data = '<span style="font-size:smaller;font-style: italic;color: red">Varient Already Exist</span>'
                        $("#varientData").html(html_data);
                        $('#id_Varient_Name').val('');
                    }else{
                        $("#varientData").html('');
                    }  
                },
                error:function (response) {
                    alert('error')
                },
            })
        })
    })

</script>


{% endblock contents %}