{% extends 'main.html' %}
{% block title%} Edit Varient {% endblock title%}
{% block contents %}
<div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Edit Varient</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'editVarient' valueId %}" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Varient_Name.label}}</label>
                            {{form.Varient_Name}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.status.label}}</label>
                            {{form.status}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Display_Order.label}}</label>
                            {{form.Display_Order}}
                        </div>
                        <!-- <div class="form-group">
                            <label for="exampleInputEmail1">Parent</label>
                            <select name="Parent" class="form-control form-control-sm" id="id_Parent">
                                <option value="null">None</option>
                            </select>
                        </div> -->

                    </div>
                </div>
                <hr>
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="{% url 'Varient' %}" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Varient Values</h3>
                    </div>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>VALUES</th>
                            <th>DISPLAY ORDER</th>
                            <th>STATUS</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if VarientsValues %}
                        {% for Value in VarientsValues %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{Value.Varient_Values}}</td>
                            <td>{{Value.Display_Order}}</td>
                            <td><label
                                    class="badge {% if Value.status == 'Active' %}badge-success{% elif Value.status == 'Pending' %}badge-warning{%else%}badge-danger{%endif%}">{{Value.status}}</label>
                            </td>
                            <td>
                                <div class='row'>
                                    <div class="col-sm-6 col-xl-12">
                                        {% if Value.status == 'Active' %}
                                        <a href="" class="dis btn-sm btn-light" style="text-decoration: none;"
                                            data-toggle="modal" data-target="#Disable"
                                            data-description="{{Value.id}}">Disable</a>
                                        {% else %}
                                        <!-- enable -->
                                        <a href="" class="ena btn-sm btn-light" style="text-decoration: none;"
                                            data-toggle="modal" data-target="#Enable" data-description="{{Value.id}}">
                                            Enable</a>
                                        {% endif %}
                                    </div>

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <th>Nothing Find</th>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <hr>
                {% if VarientsValues.paginator.num_pages > 1 %}
                <div class="row" style="text-align: center;">
                    <div class="col-sm-12">
                        {% if VarientsValues.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{VarientsValues.previous_page_number}}">Previous</a>
                        {% endif %}
                        Page {{VarientsValues.number}} of {{ VarientsValues.paginator.num_pages }}
                        {% if VarientsValues.has_next %}
                        <a href="?page={{VarientsValues.next_page_number}}">Next</a>
                        <a href="?page={{VarientsValues.paginator.num_pages}}">Last &raquo; </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            </div>
            <div class="col-sm-12" style="text-align: center;">
                <a href="{% url 'Varient' %}" class="btn btn-light">Cancel</a>
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableVarientValues' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableVarientValues' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock contents %}