{% extends 'main.html' %}
{% block title%} Varient values {% endblock title%}
{% block contents %}
<div class="col-lg-12 grid-margin stretch-card" id="filterContent">
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'Varient' %}">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Varient</label>
                            <input type="text" class="form-control form-control-sm" placeholder="eg: Weight"
                                name="byVarient">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Varient Values</label>
                            <input type="text" class="form-control form-control-sm" placeholder="eg: 1 KG" name="byValues">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Status</label>
                            <select name="byStatus" id="" class="form-control">
                                <option value="">Select</option>
                                <option value="Active"> Active</option>
                                <option value="Suspended"> Suspended</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <a href="" class="btn btn-primary ml-auto"><i class="fas fa-undo-alt"
                                style="font-size: small;"></i></a>
                            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title=""
                                data-original-title="Apply">Filter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Varient Values</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <a href="#" id="filter" class="btn btn-primary ml-auto"><i class="fas fa-filter"
                            style="font-size: small;"></i></a>
                    <a href="{% url 'addVarient' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Varient</a>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>VARIENT</th>
                            <th>VALUES</th>
                            <th>DISPLAY ORDER</th>
                            <th>STATUS</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if Varients %}
                        {% for Varient in Varients %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{Varient.Varient_Name}}</td>
                            <td><a href="" class="View btn-sm btn-primary" style="text-decoration: none;"
                                    data-toggle="modal" data-target="#ViewValue" data-id="{{Varient.id}}">Varient Values</a>
                            <td>{{Varient.Display_Order}}</td>
                            <td><label
                                    class="badge {% if Varient.status == 'Active' %}badge-success{% elif Varient.status == 'Pending' %}badge-warning{%else%}badge-danger{%endif%}">{{Varient.status}}</label>
                            </td>
                            <td>
                                <div class='row'>
                                    <div class="col-sm-6 col-xl-12">
                                        {% if Varient.status == 'Active' %}
                                        <!-- edit -->
                                        <a href="{% url 'editVarient' Varient.id %}" class="btn-sm btn-light"
                                            style="text-decoration: none;width: 100;">Edit</a>
                                        <a href="{% url 'addValues' Varient.id %}" class="btn-sm btn-light"
                                            style="text-decoration: none;width: 100;">Add Values</a>
                                        <!-- disable -->
                                        <a href="" class="dis btn-sm btn-light" style="text-decoration: none;"
                                            data-toggle="modal" data-target="#Disable"
                                            data-description="{{Varient.id}}">Disable</a>
                                        {% else %}
                                        <!-- enable -->
                                        <a href="" class="ena btn-sm btn-light" style="text-decoration: none;"
                                            data-toggle="modal" data-target="#Enable" data-description="{{Varient.id}}">
                                            Enable</a>
                                        {% endif %}
                                    </div>

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Nothing Find</th>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <hr>
                {% if Varients.paginator.num_pages > 1 %}
                <div class="row" style="text-align: center;">
                    <div class="col-sm-12">
                        {% if Varients.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{Varients.previous_page_number}}">Previous</a>
                        {% endif %}
                        Page {{Varients.number}} of {{ Varients.paginator.num_pages }}
                        {% if Varients.has_next %}
                        <a href="?page={{Varients.next_page_number}}">Next</a>
                        <a href="?page={{Varients.paginator.num_pages}}">Last &raquo; </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableVarient' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableVarient' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ViewValue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableVarient' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Varient Values</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="myDiv" ></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('.View').click(function () {
        var varient=$(this).data('id');
        $.ajax({
            url: "{% url 'ViewValues' %}",
            type: "GET",
            dataType: "json",
            data:{'varient':varient},
            success: (data) => {
                console.log(data.item.length);
                console.log($.type(data))
                var val = data.item[0]
                for(var i = 1;i < data.item.length;i++){
                    console.log(i)
                    var val = val+"<br>"+data.item[i]
                }
                $('#myDiv').html("<div id='mySecondDiv'>"+val+"</div>");
            },
            error: (error) => {
                console.log(error);
            }
        });
        
    });
</script>

{% endblock contents %}