<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load mathfilters %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/User/images/favicon.ico" />
    <!-- Vendor CSS -->
    <link href="/static/User/css/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="/static/User/css/vendor/vendor.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/static/User/css/style.css" rel="stylesheet">
   
    <!-- Custom font -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    
    <link href="/static/User/fonts/icomoon/icons.css" rel="stylesheet">
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open%20Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>

<body class="has-smround-btns has-loader-bg equal-height win documentLoad has-hdr_sticky no-loader is-fixed is-filters-opened">
    <!--header-->
    <header class="hdr-wrap">
        <div class="hdr-content hdr-content-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-auto show-mobile">
                        <!-- Menu Toggle -->
                        <div class="menu-toggle"> <a href="#" class="mobilemenu-toggle"><i class="icon-menu"></i></a>
                        </div>
                        <!-- /Menu Toggle -->
                    </div>
                    <div class="col-auto hdr-logo">
                        <a href="{% url 'userIndex' %}" class="logo"><img style="width: 60%;"
                                srcset="/static/User/images/logo.png" alt="Logo"></a>
                    </div>
                    <!--navigation-->
                    <div class="hdr-nav hide-mobile nav-holder-s">
                    </div>
                    <!--//navigation-->
                    <div class="hdr-links-wrap col-auto ml-auto">
                        <div class="hdr-inline-link">
                            <!-- Header Search -->
                            <div class="search_container_desktop">
                                <div class="dropdn dropdn_search dropdn_fullwidth">
                                    <a href="#" class="dropdn-link  js-dropdn-link only-icon"><i
                                            class="icon-search"></i><span class="dropdn-link-txt">Search</span></a>
                                    <div class="dropdn-content">
                                        <div class="container">
                                            <form method="POST" action="{% url 'search_product' %}" class="search search-off-popular">
                                                {% csrf_token %}
                                                <input name="search" type="text" class="search-input input-empty"
                                                    placeholder="What are you looking for?">
                                                <button type="submit" class="search-button"><i
                                                        class="icon-search"></i></button>
                                                <a href="#" class="search-close js-dropdn-close"><i
                                                        class="icon-close-thin"></i></a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Header Search -->
                            <!-- Header Wishlist -->
                            <div class="dropdn dropdn_wishlist">
                                {% if customerlogin %}
                                <a href="{% url 'my_wishlist' %}" class="dropdn-link only-icon wishlist-link ">
                                    <i class="icon-heart"></i><span class="dropdn-link-txt">Wishlist</span><span
                                        class="wishlist-qty" id="W_Count1">{{wlCount}}</span>
                                </a>
                                {% else %}
                                <a href="{% url 'loginpage' %}" class="dropdn-link only-icon wishlist-link" title="Need To Login">
                                    <i class="icon-heart"></i><span class="dropdn-link-txt">Wishlist</span><span
                                        class="wishlist-qty"></span>
                                </a>
                                {% endif %}
                            </div>
                            <!-- /Header Wishlist -->
                            <!-- Header Account -->
                            <div class="dropdn dropdn_account dropdn_fullheight">
                                {% if customerlogin %}
                                <a href="{% url 'my_Cart' %}" class="dropdn-link minicart-link"
                                    data-panel="#dropdnMinicart">
                                    <i class="icon-shopping-cart"></i>
                                    <span class="minicart-qty" id="CartCount1">{{CartCount}}</span>
                                    <span class="minicart-total hide-mobile" id="finalPrize1">{% if totalCartPrize %}₹{{totalCartPrize.Total_Final_Price}}{% else %}₹0.00{%endif%}</span>
                                </a>
                                {% else %}
                                <a href="{% url 'loginpage' %}" class="dropdn-link js-dropdn-link minicart-link"
                                data-panel="#dropdnMinicart">
                                <i class="icon-shopping-cart"></i>
                                <!-- <span class="minicart-total hide-mobile">$34.99</span> -->
                                </a>
                                {% endif %}
                            </div>
                            {% if customerlogin %}
                            {% else %}
                            <div class="dropdn dropdn_account dropdn_fullheight">
                                <a href="{% url 'loginpage' %}" class="dropdn-link js-dropdn-link" data-panel="#dropdnAccount"><i
                                        class="icon-user"></i><span class="dropdn-link-txt"></span></a>
                            </div>
                            {% endif %}
                            <!-- /Header Account -->

                            <div class="dropdn dropdn_fullheight minicart">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hdr">
            <div class="hdr-topline hdr-topline--dark js-hdr-top">
                <div class="container">
                    <div class="row flex-nowrap">
                        <div class="col hdr-topline-left hide-mobile">
                            <!-- Header Social -->
                            <div class="hdr-line-separate">
                                <ul class="social-list list-unstyled">
                                    <li>
                                        <a href="#"><i class="icon-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-vimeo"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="icon-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /Header Social -->
                        </div>
                        <!-- notifications -->
                        <div class="col hdr-topline-center">
                            <div class="custom-text js-custom-text-carousel"
                                data-slick='{"speed": 1000, "autoplaySpeed": 3000}'>
                                {%for noti in notifications %}
                                <div class="custom-text-item"><i class="icon-gift"></i><span>{{noti.title}}</span>{{noti.description}}</div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="col hdr-topline-right hide-mobile">
                            <div class="hdr-inline-link">


                                <!-- /Header Currency -->
                                <div class="hdr_container_desktop">
                                    <!-- Header Account -->
                                    <!-- <div class="dropdn dropdn_account dropdn_fullheight">
                                        
                                                
                                    </div> -->
                                    <div class="dropdn_currency">
                                        <div class="dropdn dropdn_caret">
                                            <a href="tel:{{Phone}}" style="color: gainsboro;" ><i class="icon-phone">&nbsp;{{Phone}}</i></a>
                                        </div>
                                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% if customerlogin %}
                                    <div class="dropdn_currency">
                                        <div class="dropdn dropdn_caret">
                                                <a href="#" class="dropdn-link js-dropdn-link">[Hello,{{customerlogin.name}}]<i class="icon-angle-down"></i></a>
                                                <div class="dropdn-content">
                                                        <ul>
                                                            <li><a href="{% url 'my_account' %}"><span>My account</span></a></li>
                                                            <li><a href="{% url 'logoutcustomer' %}"><span>Log Out</span></a></li>
                                                            
                                    
                                                        </ul>
                                                </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="dropdn dropdn_account dropdn_fullheight">
                                        <a href="{% url 'loginpage' %}" class="btn-primary btn-sm" style="background-color: #17c6aa;font-weight: bolder;">LOGIN</a>
                                                
                                    </div>
                                    {% endif %}
                                    
                    
                                   
                                    <!-- /Header Account -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hdr-content">
                <div class="container">
                    <div class="row">
                        <div class="col-auto show-mobile">
                            <!-- Menu Toggle -->
                            <div class="menu-toggle"> <a href="#" class="mobilemenu-toggle"><i
                                        class="icon-menu"></i></a> </div>
                            <!-- /Menu Toggle -->
                        </div>
                        <div class="col-auto hdr-logo">
                            <a href="{% url 'userIndex' %}" class="logo"><img style="width: 50%;"
                                    srcset="/static/User/images/logo.png" alt="Logo"></a>
                        </div>
                        <!--navigation-->
                        <div class="hdr-nav hide-mobile nav-holder justify-content-center px-4">
                            <!--mmenu-->
                            <ul class="mmenu mmenu-js">
                                <li class="mmenu-item--simple"><a href="#" {%if catAct %}class="active" {%endif%}>Categories</a>
                                    <div class="mmenu-submenu">
                                        <ul class="submenu-list">
                                            {% for Parent in Categories %}
                                            {% if Parent.Parent == None %}
                                            <li><a href="/Categories/?pk={{Parent.id}}" class="MobilParent"
                                                    data-id="{{Parent.id}}">{{Parent}}</a>
                                                {% if Parent.category_table_set.first != None %}
                                                <ul class="nav-level-2">
                                                    {% for Child in Categories %}
                                                    {% if Child.Parent.id == Parent.id%}
                                                    <li>
                                                        <a href="/Categories/?pk={{Child.id}}" class="MobilParent"
                                                            data-id="{{Child.id}}">{{Child}}
                                                        </a>
                                                        {% if Child.category_table_set.first != None %}
                                                            <ul class="nav-level-4">
                                                                {% for grandChild in Categories %}
                                                                {% if grandChild.Parent.id == Child.id %}
                                                                <li>
                                                                    <a href="/Categories/?pk={{grandChild.id}}" class="MobilParent"
                                                                        data-id="{{grandChild.id}}">{{grandChild}}
                                                                </a>
                                                                </li>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        {% endif %}
                                                    </li>
                                                    {% endif %}
                                                    {% endfor %}
                                                </ul>
                                                {% endif %}
        
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                <!-- <li class="mmenu-item--simple"><a href="#" {%if offAct %} class="active" {%endif%}>Offers</a>
                                    <div class="mmenu-submenu d-flex">
                                        <ul class="submenu-list mt-0">
                                            {% for offer in Offers %}
                                            <li><a href="{% url 'offerWise' offer.id %}">{{offer.offer_name}}</a><span class="submenu-link-image"><img src="{{offer.image.url}}" alt=""></span></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li> -->
<!-- 
                                <li class="mmenu-item--mega"><a href="category.html">Men</a>
									<div class="mmenu-submenu mmenu-submenu--has-bottom">
										<div class="mmenu-submenu-inside">
											<div class="container">
												<div class="mmenu-left width-25">
													<div class="mmenu-bnr-wrap">
														<a href="#" class="image-hover-scale"><img
																src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
																data-srcset="images/menu/mmenu-bnr-01.png"
																class="lazyload fade-up" alt=""></a>
													</div>
													<h3 class="submenu-title"><a
															href="category.html">Pre-Collection<br>Spring-Summer
															2021</a></h3>
												</div>
												<div class="mmenu-cols column-4">
													<div class="mmenu-col">
														<h3 class="submenu-title"><a
																href="category.html">Collections</a></h3>
														<ul class="submenu-list">
															<li><a href="category.html">Martins d'Art 2020/21<span
																		class="submenu-link-txt">Available in boutiques
																		from June 2019</span></a></li>
															<li><a href="category.html">Spring-Summer 2021<span
																		class="submenu-link-txt">Available in boutiques
																		from March 2019</span></a></li>
															<li><a href="category.html">Spring-Summer 2021
																	Pre-Collection<span class="submenu-link-txt">In
																		boutiques</span></a></li>
															<li><a href="category.html">Cruise 2020/21<span
																		class="submenu-link-txt">In boutiques</span></a>
															</li>
															<li><a href="category.html">Fall-Winter 2020/21</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a
																href="category.html">Ready-to-wear</a></h3>
														<ul class="submenu-list">
															<li><a href="category.html" class="active">Jackets</a>
																<ul class="sub-level">
																	<li><a href="category.html">Bomber Jackets</a></li>
																	<li><a href="category.html">Biker Jacket</a></li>
																	<li><a href="category.html">Trucker Jacket</a></li>
																	<li><a href="category.html">Denim Jackets</a></li>
																	<li><a href="category.html">Blouson Jacket<span
																				class="menu-label">SALE</span></a></li>
																	<li><a href="category.html">Overcoat</a></li>
																	<li><a href="category.html">Trench Coat</a></li>
																</ul>
															</li>
															<li><a href="category.html">Dresses<span
																		class="menu-label menu-label--color3">SALE</span></a>
															</li>
															<li><a href="category.html">Blouses & Tops</a></li>
															<li><a href="category.html">Cardigans & Pullovers</a></li>
															<li><a href="category.html">Skirts</a></li>
															<li><a href="category.html">Pants & Shorts</a></li>
															<li><a href="category.html">Outerwear</a></li>
															<li><a href="category.html">Swimwear</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a
																href="category.html">Accessories</a></h3>
														<ul class="submenu-list">
															<li><a href="category.html">Jackets</a></li>
															<li><a href="category.html">Dresses</a></li>
															<li><a href="category.html">Blouses & Tops</a></li>
															<li><a href="category.html">Cardigans & Pullovers</a></li>
															<li><a href="category.html">Skirts<span
																		class="menu-label">SALE</span></a></li>
															<li><a href="category.html">Pants & Shorts</a></li>
															<li><a href="category.html">Outerwear</a></li>
														</ul>
													</div>
													<div class="mmenu-col">
														<h3 class="submenu-title"><a href="category.html">Brands</a>
														</h3>
														<ul class="submenu-list">
															<li><a href="category.html">Jackets</a></li>
															<li><a href="category.html">Dresses</a></li>
															<li><a href="category.html">Blouses & Tops</a></li>
															<li><a href="category.html">Cardigans & Pullovers</a></li>
															<li><a href="category.html">Skirts<span
																		class="menu-label menu-label--color1">SALE</span></a>
															</li>
															<li><a href="category.html">Pants & Shorts</a></li>
															<li><a href="category.html">Outerwear</a></li>
														</ul>
													</div>
													<div class="mmenu-bottom justify-content-center">
														<a href="#"><i class="icon-fox icon--lg"></i><b>FOXshop
																News</b><i class="icon-arrow-right"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</li> -->
                                
                                <!--TODO: sree Navigations as categories and Childs-->
                                {% for Child in Categories_child %}
                                    {% if forloop.counter <= 4 %}
                                    <li class="mmenu-item--simple"><a href="/Categories/?pk={{Child.id}}" {%if aboutAct %} class="active" {%endif%}>{{Child}}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <!--/mmenu-->
                        </div>
                        <!--//navigation-->
                        <div class="hdr-links-wrap col-auto ml-auto">
                            <div class="hdr-inline-link">
                                <!-- Header Search -->
                                <div class="search_container_desktop">
                                    <div class="dropdn dropdn_search dropdn_fullwidth">
                                        <a href="#" class="dropdn-link  js-dropdn-link only-icon"><i
                                                class="icon-search"></i><span class="dropdn-link-txt">Search</span></a>
                                        <div class="dropdn-content">
                                            <div class="container">
                                                <form method="POST" action="{% url 'search_product' %}" class="search search-off-popular">
                                                    {% csrf_token %}
                                                    <input name="search" type="text" class="search-input input-empty"
                                                        placeholder="What are you looking for?">
                                                    <button type="submit" class="search-button"><i
                                                            class="icon-search"></i></button>
                                                    <a href="#" class="search-close js-dropdn-close"><i
                                                            class="icon-close-thin"></i></a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Header Search -->
                                <!-- Header Wishlist -->
                                <div class="dropdn dropdn_wishlist">
                                    {% if customerlogin %}
                                    <a href="{% url 'my_wishlist' %}" class="dropdn-link only-icon wishlist-link ">
                                        <i class="icon-heart"></i><span class="dropdn-link-txt">Wishlist</span><span
                                            class="wishlist-qty" id="W_Count">{{wlCount}}</span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'loginpage' %}" class="dropdn-link only-icon wishlist-link" title="Need To Login">
                                        <i class="icon-heart"></i><span class="dropdn-link-txt">Wishlist</span><span
                                            class="wishlist-qty"></span>
                                    </a>
                                    {% endif %}
                                </div>
                                <!-- /Header Wishlist -->
                                <div class="hdr_container_mobile show-mobile">
                                </div>
                                <div class="dropdn dropdn_fullheight minicart">
                                    {% if customerlogin %}
                                    <a href="{% url 'my_Cart' %}" class="dropdn-link minicart-link"
                                        data-panel="#dropdnMinicart">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="minicart-qty" id="CartCount">{{CartCount}}</span>
                                        <span class="minicart-total hide-mobile" id="finalPrize">{% if totalCartPrize %}₹{{totalCartPrize.Total_Final_Price}}{% else %}₹0.00{%endif%}</span>
                                    </a>
                                    {% else %}
                                    <a href="{% url 'loginpage' %}" class="dropdn-link minicart-link"
                                    data-panel="#dropdnMinicart">
                                    <i class="icon-shopping-cart"></i>
                                    <!-- <span class="minicart-total hide-mobile">$34.99</span> -->
                                    </a>
                                    {% endif %}
                                </div>
                                {% if customerlogin %}
                                <div class="dropdn dropdn_account dropdn_fullheight">
                                    <a href="{% url 'my_account' %}" class="dropdn-link " ><i
                                            class="icon-user"></i><span class="dropdn-link-txt"></span></a>
                                </div>
                                {% else %}
                                <div class="dropdn dropdn_account dropdn_fullheight">
                                    <a href="{% url 'loginpage' %}" class="dropdn-link " ><i
                                            class="icon-user"></i><span class="dropdn-link-txt"></span></a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="header-side-panel">
        <!-- Mobile Menu -->
        <div class="mobilemenu js-push-mbmenu">
            <div class="mobilemenu-content">
                <div class="mobilemenu-close mobilemenu-toggle">Close</div>
                <div class="mobilemenu-scroll">
                    <div class="mobilemenu-search"></div>
                    <div class="nav-wrapper show-menu">
                        <div class="nav-toggle">
                            <span class="nav-back"><i class="icon-angle-left"></i></span>
                            <span class="nav-title"></span>
                            <!-- <a href="#" class="nav-viewall">view all</a> -->
                        </div>
                        {% if customerlogin %}
                        <ul class="nav nav-level-1">
                            <li><a href="#">Account<span class="arrow"><i class="icon-angle-right"></i></span></a>
                                <ul class="nav-level-2" style="padding-top: 34px;">
                                    <li><a href="{% url 'my_account' %}">Account Details</a></li>
                                    <li><a href="{% url 'address' %}">My Addresses</a></li>
                                    <li><a href="{% url 'my_wishlist' %}">My Wishlist</a></li>
                                    <li><a href="{% url 'my_orders' %}">My Order History</a></li>
                                    <li><a href="account-history.html">Log out</a></li>
                                  
                                </ul>
                            </li>
                        </ul>
                        {% else %}
                        {% endif %}
                    </div>
                    <div class=" nav-toggle" style="padding-bottom: 10px;">
                        <span id="catColab" style="font-size: large;font-weight: lighter;">Categories</span>
                       
                    </div>
                    <div class="sidebar-block_content" id="childColab" style="display: none;">
                        <ul class="tags-list">
                            {% for Parent in Categories %}
                            <li><a href="/Categories/?pk={{Parent.id}}">{{Parent}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="mobilemenu-bottom">
                        
                         

                    <div class="nav-toggle" style="padding-bottom: 10px;">
                        <span id="catColab1" style="font-size: large;font-weight: lighter;">Offers</span>
                    </div>
                    <div class="sidebar-block_content" id="childColab1" style="display: none;">
                        <ul class="tags-list">
                            {% for offer in Offers %}
                            <li><a href="{% url 'offerWise' offer.id %}">{{offer}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="mobilemenu-bottom">

                        

                    </div>
                    <hr>
                    {% if customerlogin %}
                        <div>
                            <ul class="nav nav-level-1">

                                <li>
                                    <a href="{% url 'my_account' %}" class="MobilParent"
                                        data-id="{{Child.id}}">My Account
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'logoutcustomer' %}" class="MobilParent"> logout </a>
                                </li>
                            </ul>
                        </div> 
                        {% else %}
                        <div class="container pl-3 pr-3" >
                            <div >
                                <div>
                                    <h2 style="text-align: center;">MY ACCOUNT</h2><br>
                                    <p style="text-align: center;">Already have an account?</p>
                                    <p style="text-align: center;"><a href="{% url 'loginpage' %}" style="width: 100%;" class="btn btn-primary">SIGN IN NOW</a></p>
                                </div>
                                
                                <div>
                                    <p style="text-align: center;">NEW TO MOMOOZ ONLINE SUPERMARKET ?Register now to get unlimited offers</p>
                                <p style="text-align: center;"><a href="{% url 'registerpage' %}" style="width: 100%;" class="btn btn-primary">REGISTER</a></p>
                                </div>
                            </div>
                        </div> 
                        {% endif %}
                </div>
                
            </div>
        </div>      
        </div>
    </div> 
    {% block contents %}
    {% endblock contents %}

    <footer class="page-footer footer-style-6 ">
        <div class="holder ">
            <div class="footer-shop-info">
            </div>
        </div>
        <div class="footer-top" style="background-color: #dfebeb62;" >
            <div class="container">
                <div class="row mt-1">
                    <div class="col-lg col-xl last-mobile">
                        <div class="footer-block">
                            <div class="footer-logo">
                                <!-- <img src="http://openweathermap.org/img/w/{{weather.icon}}.png" alt="">
                                <p>
                                    <span title="">{{weather.city}}</span>
                                    <br>
                                    <span>{{weather.temp}}° C</span>
                                    <br>
                                    <span>{{weather.description}}</span>
                                </p> -->
                                <a href="{% url 'userIndex' %}" class="logo"><img style="width: 50%;"
                                    srcset="/static/User/images/logo.png" alt="Logo"></a>

                            </div>
                            <div class="collapsed-content">
                            </div>
                            <ul class="social-list">
                                <li>
                                    <a href="#" class="icon icon-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-google"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-vimeo"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-youtube"></a>
                                </li>
                                <li>
                                    <a href="#" class="icon icon-pinterest"></a>
                                </li>
                            </ul>
                        </div>
                    </div> 
                    <div class="col-lg col-xl">
						<div class="footer-block collapsed-mobile">
							<div class="title">
								<h4>Information</h4>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
							<div class="collapsed-content">
								<ul>
									<li><a href="{% url 'about' %}">About Us</a></li>
									<li><a href="{% url 'contact' %}">Contact Us</a></li>
									<li><a href="">Terms & Conditions</a></li>
									<li><a href="">Returns & Exchanges</a></li>
									<li><a href="">Shipping & Delivery</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg col-xl">
						<div class="footer-block collapsed-mobile">
							<div class="title">
								<h4>Account details</h4>
								<span class="toggle-arrow"><span></span><span></span></span>
							</div>
							<div class="collapsed-content">
								<ul>
									<li><a href="{% url 'my_account' %}">My Account</a></li>
									<li><a href="{% url 'my_Cart' %}">View Cart</a></li>
									<li><a href="{% url 'my_wishlist' %}">My Wishlist</a></li>
									<li><a href="{% url 'my_orders' %}">Order Status</a></li>
									<li><a href="#">Track My Order</a></li>
								</ul>
							</div>
						</div>
					</div>
                </div>
            </div>
        </div>
        <div class="footer-bottom footer-bottom--bg" style="background-color: #fafafa;">
            <div class="container">
                <div class="footer-copyright text-center">
                    <a href="#">Momooz</a> ©2022 copyright
                </div>
            </div>
        </div>
    </footer>

    <div class="footer-sticky">
        <!-- back to top -->
        <a class="back-to-top js-back-to-top compensate-for-scrollbar is-visible" href="#" title="Scroll To Top">
            <i class="icon icon-angle-up"></i>
        </a>
        <!-- loader -->
        <div class="loader-horizontal js-loader-horizontal">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
            </div>
        </div>
    </div>


    <script src="/static/User/js/vendor-special/lazysizes.min.js"></script>
    <script src="/static/User/js/vendor-special/ls.bgset.min.js"></script>
    <script src="/static/User/js/vendor-special/ls.aspectratio.min.js"></script>
    <script src="/static/User/js/vendor-special/jquery.min.js"></script>
    <script src="/static/User/js/vendor-special/jquery.ez-plus.js"></script>
    <script src="/static/User/js/vendor-special/instafeed.min.js"></script>
    <script src="/static/User/js/vendor/vendor.min.js"></script>
    <script src="/static/User/js/app-html.js"></script>
    <script src="{% static 'js/timeout.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    {%block script%}
    {%endblock script%}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>
    <script>

        $('#catColab').click(function(){
            $('#childColab').toggle(500)
        })
        $('#catColab1').click(function(){
            $('#childColab1').toggle(500)
        })
        // $(document).ready(() => {
        //     $('[class^="Parent"]').on({
        //         mouseover: function () {
        //             var catId = $(this).data('id')
        //             $.ajax({
        //                 type: "GET",
        //                 url: '{% url "get_subcat" %}',
        //                 data: {
        //                     'subject_id': catId,
        //                     'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        //                 },
        //                 success: (data) => {
        //                     let html_data = '';
        //                     let subdataHtml = '';
        //                     let SubCatId = '';
        //                     if (data.SubCat) {
        //                         data.cat.forEach(function (cat) {
        //                             data.SubCat.forEach((subcat) => {
                                        
        //                                 if (subcat.Parent === cat.id) {
        //                                     subdataHtml += `<li><a href="/Categories/?pk=${subcat.id}"  class="SubParent1">${subcat.Category_Name}</a></li>`
        //                                     SubCatId = subcat.Parent
        //                                 }
        //                             })
    
        //                             if (cat.id === SubCatId) {
        //                                 html_data += `<li><a href="/Categories/?pk=${cat.id}" class="SubParent1">${cat.Category_Name}</a><ul>${subdataHtml}</ul></li>`
        //                                 subdataHtml = ''
        //                             } else {
        //                                 html_data += `<li><a href="/Categories/?pk=${cat.id}" class="SubParent1">${cat.Category_Name}</a></li>`
        //                             }
        //                         })
        //                         $('.sub-cat').html(html_data)
        //                     } else {
        //                         html_data = ''
        //                         console.log(data.cat.length)
        //                         if(data.cat.length!==0){
        //                             console.log(data.cat)

        //                             data.cat.forEach(function (cat) {
        //                                 html_data += `<li><a href="/Categories/?pk=${cat.id}" class="SubParent1">${cat.Category_Name}</a></li>`
        //                             })
        //                             console.log('hi',html_data)
        //                             $('.sub-cat').html(html_data)
        //                         }else{
        //                             $('.sub-cat').html('')
        //                         }
        //                     }

        //                 }
        //             })

        //         }
        //     })
        // })
    </script>
    <script>
        $(document).ready(() => {
            
            if($(window).width()===360){
                //$('#close-appply').click()

            }else{
                
                
            }
            

            $('[class^="MobilParent"]').on({
                click: function () {
                    var catId = $(this).data('id')
                    $.ajax({
                        type: "GET",
                        url: '{% url "get_subcat" %}',
                        data: {
                            'subject_id': catId,
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: (data) => {
                            let html_data = '';
                            data.cat.forEach(function (data) {
                                html_data += `<li><a href="">${data.Category_Name}</a></li>`
                            });
                            $('.mobi-sub-cat').html(html_data)
                        }
                    })

                }
            })
        })
    </script>

    <script>
        $('[class^="SubParent1"]').on({
            mouseover: function () {
                alert('hi')
                console.log('hi')
                var catId = $(this).data('id')
                $.ajax({
                    type: "GET",
                    url: '{% url "get_subcat" %}',
                    data: {
                        'subject_id': catId,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                    },
                    success: (data) => {
                        console.log(data)
                        let html_data = '';
                        data.cat.forEach(function (data) {
                            html_data += `<li><a href="" data-id="${data.id}">${data.Category_Name}</a></li>`
                        });
                        var finalHtmlData =
                            $('.sub-cat').html(html_data)
                    }
                })

            }
        })
    </script>
</body>

</html>