{% extends 'UserMain.html' %}
{% load static %}
{% load humanize %}
{% block title %}about{% endblock title %}
{% block contents %}
<div class="page-content">
	<div class="holder mt-0 py-3 py-sm-5 py-md-10 bg-cover lazyload" data-bgset="https://www.symbiotec.in/wp-content/uploads/2021/09/aboutus-banner.jpg">
	<div class="container">
		<div class="row">
			<div class="col-11 col-md-9 col-xl-9">
				<div class="page-title-bg py-md-3 py-xl-6">
					<h1>ABOUT US</h1>
					<p class="d-none d-md-block">Founded in 2010, Fox shop is the one stop shop for the barbering world.<br>
						We provide barbers with the necessary tools to progress their craft and push the industry as far forward as possible.</p>
					<p>Based in Cardiff, South Wales, Fox shop operates primarily in the UK, but international sales are welcomed and dispatched daily. We have a trade counter with a shop front and we encourage you to come in and see us!</p>
					<p class="d-none d-md-block"><i><b>Our support is available 10.00 – 18.00 GMT + 2 (Monday – Friday).<br>
						We usually get back to you within 24 hours.</b></i></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="holder">
	<div class="container">
		<div class="title-wrap text-center">
			<h2 class="h1-style">Why Shop With Us?</h2>
		</div>
		<div class="text-icn-blocks-row">
			<div class="text-icn-block">
				<div class="icn">
					<i class="icon-shopping-1"></i>
				</div>
				<div class="text">
					Complete buyer supply store
				</div>
			</div>
			<div class="text-icn-block">
				<div class="icn">
					<i class="icon-box-1"></i>
				</div>
				<div class="text">
					Same day dispatch on all orders
				</div>
			</div>
			<div class="text-icn-block">
				<div class="icn">
					<i class="icon-delivery-truck"></i>
				</div>
				<div class="text">
					Free delivery on all orders
				</div>
			</div>
			<div class="text-icn-block">
				<div class="icn">
					<i class="icon-call-center"></i>
				</div>
				<div class="text">
					Professional advice and great support
				</div>
			</div>
			<div class="text-icn-block d-none d-sm-block">
				<div class="icn">
					<i class="icon-tag"></i>
				</div>
				<div class="text">
					Fall savings are in the air
				</div>
			</div>
		</div>
	</div>
</div>
<div class="holder py-4 py-md-7 bgcolor">
	<div class="container">
		<div class="row fact-blocks-row lazyload">
			<div class="col-sm-6">
				<div class="fact-block">
					<div class="number"><span data-count="90">0</span>%</div>
					<div class="title">Of excellent reviews</div>
					<div class="text">Nor again is there anyone who loves or pursues or desires
						to obtain pain of itself, because it is pain, but because occasionally in which toil and pain can procure
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="fact-block">
					<div class="number js-count-to"><span data-count="1545">0</span></div>
					<div class="title">More sales</div>
					<div class="text">Nor again is there anyone who loves or pursues or desires
						to obtain pain of itself, because it is pain, but because occasionally in which toil and pain can procure
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="fact-block">
					<div class="number js-count-to"><span data-count="100">0</span>%</div>
					<div class="title">Happy customers</div>
					<div class="text">Nor again is there anyone who loves or pursues or desires
						to obtain pain of itself, because it is pain, but because occasionally in which toil and pain can procure
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="holder">
	<div class="container">
		<div class="title-wrap text-center">
			<h2 class="h1-style">Our Team</h2>
		</div>
		<div class="row person-row">
			<div class="person-item image-hover-scale-scale">
				<div class="person-item-image image-container" style="padding-bottom: 141.86%;">
					<img class="lazyload fade-up" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/pages/img-person-01.jpg" alt="">
				</div>
				<div class="person-item-info">
					<div class="person-item-title">
						Markus<br>Whalter
					</div>
					<div class="person-item-post">
						Creative director
					</div>
					<div class="person-item-socials">
						<ul class="social-list list-unstyled">
							<li>
								<a href="#"><i class="icon-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="person-item image-hover-scale-scale">
				<div class="person-item-image image-container" style="padding-bottom: 141.86%;">
					<img class="lazyload fade-up" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/pages/img-person-02.jpg" alt="">
				</div>
				<div class="person-item-info">
					<div class="person-item-title">
						Chen<br>Khoo
					</div>
					<div class="person-item-post">
						Creative director
					</div>
					<div class="person-item-socials">
						<ul class="social-list list-unstyled">
							<li>
								<a href="#"><i class="icon-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="person-item image-hover-scale-scale">
				<div class="person-item-image image-container" style="padding-bottom: 141.86%;">
					<img class="lazyload fade-up" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/pages/img-person-03.jpg" alt="">
				</div>
				<div class="person-item-info">
					<div class="person-item-title">
						Marta<br>Stewart
					</div>
					<div class="person-item-post">
						Creative director
					</div>
					<div class="person-item-socials">
						<ul class="social-list list-unstyled">
							<li>
								<a href="#"><i class="icon-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="person-item image-hover-scale-scale">
				<div class="person-item-image image-container" style="padding-bottom: 141.86%;">
					<img class="lazyload fade-up" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/pages/img-person-04.jpg" alt="">
				</div>
				<div class="person-item-info">
					<div class="person-item-title">
						Sandra<br>Adams
					</div>
					<div class="person-item-post">
						Creative director
					</div>
					<div class="person-item-socials">
						<ul class="social-list list-unstyled">
							<li>
								<a href="#"><i class="icon-twitter"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-instagram"></i></a>
							</li>
							<li>
								<a href="#"><i class="icon-linkedin"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="holder holder-subscribe-full lazyload">
	<div class="circle_decor_wrap">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"viewBox="0 0 150 150" style="enable-background:new 0 0 150 150; " xml:space="preserve" class="circle_decor circle_decor--tl"><defs><filter x="0" y="0" width="100%" height="100%" id="dropshadow_1_003" filterUnits="userSpaceOnUse"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="-3" dy="0" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/><feMergeNode in="SourceGraphic"/></feMerge></filter><filter x="0" y="0" width="100%" height="100%" id="dropshadow_2_003" filterUnits="userSpaceOnUse"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="3" dy="0" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/><feMergeNode in="SourceGraphic"/></feMerge></filter><clipPath id="circle_decor_mask_003"><circle r="73.5" cx="75" cy="75"/></clipPath></defs><path fill="#55C1AE" d="M74.933,148.5c-9.9,0-19.533-1.95-28.583-5.783c-8.75-3.699-16.6-9-23.333-15.734c-6.75-6.731-12.034-14.582-15.733-23.332C3.45,94.6,1.5,84.967,1.5,75.066c0-9.9,1.95-19.533,5.783-28.583c3.7-8.75,9-16.6,15.733-23.333S37.6,11.116,46.35,7.417c9.05-3.833,18.684-5.783,28.583-5.783c9.901,0,19.534,1.95,28.584,5.783c8.75,3.7,16.6,9,23.332,15.733c6.733,6.733,12.032,14.583,15.733,23.333c3.832,9.067,5.783,18.684,5.783,28.583c0,9.9-1.951,19.534-5.783,28.584c-3.701,8.75-9,16.6-15.733,23.332c-6.732,6.733-14.582,12.033-23.332,15.733C94.467,146.55,84.834,148.5,74.933,148.5z M75,13.783C41.25,13.783,13.783,41.25,13.783,75S41.25,136.217,75,136.217S136.217,108.75,136.217,75S108.75,13.783,75,13.783z"/><circle r="5.8" cx="75" cy="7.8" fill-opacity="0.25" style="filter:url(#dropshadow_1_003)" clip-path="url(#circle_decor_mask_003)"/><circle r="5.8" cx="74" cy="142.5" fill-opacity="0.25" style="filter:url(#dropshadow_2_003)" clip-path="url(#circle_decor_mask_003)"/><path fill="#55C1AE" d="M81.101,7.712c0,3.346-2.761,6.059-6.164,6.059l0,0c-3.404,0-6.164-2.713-6.164-6.059l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.34,1.654,81.101,4.367,81.101,7.712L81.101,7.712z"/><path fill="#55C1AE" d="M81.177,142.363c0,3.346-2.761,6.06-6.164,6.06l0,0c-3.404,0-6.164-2.714-6.164-6.06l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.416,136.306,81.177,139.019,81.177,142.363L81.177,142.363z"/></svg>
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"viewBox="0 0 150 150" style="enable-background:new 0 0 150 150; " xml:space="preserve" class="circle_decor circle_decor--br"><defs><filter x="0" y="0" width="100%" height="100%" id="dropshadow_1_004" filterUnits="userSpaceOnUse"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="-3" dy="0" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/><feMergeNode in="SourceGraphic"/></feMerge></filter><filter x="0" y="0" width="100%" height="100%" id="dropshadow_2_004" filterUnits="userSpaceOnUse"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="3" dy="0" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/><feMergeNode in="SourceGraphic"/></feMerge></filter><clipPath id="circle_decor_mask_004"><circle r="73.5" cx="75" cy="75"/></clipPath></defs><path fill="#55C1AE" d="M74.933,148.5c-9.9,0-19.533-1.95-28.583-5.783c-8.75-3.699-16.6-9-23.333-15.734c-6.75-6.731-12.034-14.582-15.733-23.332C3.45,94.6,1.5,84.967,1.5,75.066c0-9.9,1.95-19.533,5.783-28.583c3.7-8.75,9-16.6,15.733-23.333S37.6,11.116,46.35,7.417c9.05-3.833,18.684-5.783,28.583-5.783c9.901,0,19.534,1.95,28.584,5.783c8.75,3.7,16.6,9,23.332,15.733c6.733,6.733,12.032,14.583,15.733,23.333c3.832,9.067,5.783,18.684,5.783,28.583c0,9.9-1.951,19.534-5.783,28.584c-3.701,8.75-9,16.6-15.733,23.332c-6.732,6.733-14.582,12.033-23.332,15.733C94.467,146.55,84.834,148.5,74.933,148.5z M75,13.783C41.25,13.783,13.783,41.25,13.783,75S41.25,136.217,75,136.217S136.217,108.75,136.217,75S108.75,13.783,75,13.783z"/><circle r="5.8" cx="75" cy="7.8" fill-opacity="0.25" style="filter:url(#dropshadow_1_004)" clip-path="url(#circle_decor_mask_004)"/><circle r="5.8" cx="74" cy="142.5" fill-opacity="0.25" style="filter:url(#dropshadow_2_004)" clip-path="url(#circle_decor_mask_004)"/><path fill="#55C1AE" d="M81.101,7.712c0,3.346-2.761,6.059-6.164,6.059l0,0c-3.404,0-6.164-2.713-6.164-6.059l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.34,1.654,81.101,4.367,81.101,7.712L81.101,7.712z"/><path fill="#55C1AE" d="M81.177,142.363c0,3.346-2.761,6.06-6.164,6.06l0,0c-3.404,0-6.164-2.714-6.164-6.06l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.416,136.306,81.177,139.019,81.177,142.363L81.177,142.363z"/></svg>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-auto">
				<div class="subscribe-form-title-lg">Newsletter</div>
				<div class="subscribe-form-title-sm">Subscribe to our weekly newsletter.</div>
			</div>
			<div class="col">
				<div class="subscribe-form">
					<form action="#">
						<div class="form-inline">
							<div class="form-control-wrap">
								<input type="text" class="form-control" placeholder="Type your e-mail...">
								<svg preserveAspectRatio="none"><rect x="2" y="2" rx="6" height="100%" width="100%"></rect></svg>
								<span class="bottom"></span>
							</div>
							<button type="submit" class="btn btn--lg">subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="holder">
	<div class="container">
		<div class="row vert-margin justify-content-md-center">
			<div class="col-sm-6">
				<div class="title-with-arrows">
					<h2>Our Clients Say About Us</h2>
					<div class="carousel-arrows"></div>
				</div>
				<div class="testimonials-carousel-wrap">
					<div class="circle_decor_wrap">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"viewBox="0 0 150 150" style="enable-background:new 0 0 150 150; width: 100%; transform: translate(-81%, -69%) rotate(-50deg); opacity: .5" xml:space="preserve" class="circle_decor circle_decor--tl"><defs><filter x="0" y="0" width="100%" height="100%" id="dropshadow_1_001" filterUnits="userSpaceOnUse"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="-3" dy="0" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/><feMergeNode in="SourceGraphic"/></feMerge></filter><filter x="0" y="0" width="100%" height="100%" id="dropshadow_2_001" filterUnits="userSpaceOnUse"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="3" dy="0" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/><feMergeNode in="SourceGraphic"/></feMerge></filter><clipPath id="circle_decor_mask_001"><circle r="73.5" cx="75" cy="75"/></clipPath></defs><path fill="#55C1AE" d="M74.933,148.5c-9.9,0-19.533-1.95-28.583-5.783c-8.75-3.699-16.6-9-23.333-15.734c-6.75-6.731-12.034-14.582-15.733-23.332C3.45,94.6,1.5,84.967,1.5,75.066c0-9.9,1.95-19.533,5.783-28.583c3.7-8.75,9-16.6,15.733-23.333S37.6,11.116,46.35,7.417c9.05-3.833,18.684-5.783,28.583-5.783c9.901,0,19.534,1.95,28.584,5.783c8.75,3.7,16.6,9,23.332,15.733c6.733,6.733,12.032,14.583,15.733,23.333c3.832,9.067,5.783,18.684,5.783,28.583c0,9.9-1.951,19.534-5.783,28.584c-3.701,8.75-9,16.6-15.733,23.332c-6.732,6.733-14.582,12.033-23.332,15.733C94.467,146.55,84.834,148.5,74.933,148.5z M75,13.783C41.25,13.783,13.783,41.25,13.783,75S41.25,136.217,75,136.217S136.217,108.75,136.217,75S108.75,13.783,75,13.783z"/><circle r="5.8" cx="75" cy="7.8" fill-opacity="0.25" style="filter:url(#dropshadow_1_001)" clip-path="url(#circle_decor_mask_001)"/><circle r="5.8" cx="74" cy="142.5" fill-opacity="0.25" style="filter:url(#dropshadow_2_001)" clip-path="url(#circle_decor_mask_001)"/><path fill="#55C1AE" d="M81.101,7.712c0,3.346-2.761,6.059-6.164,6.059l0,0c-3.404,0-6.164-2.713-6.164-6.059l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.34,1.654,81.101,4.367,81.101,7.712L81.101,7.712z"/><path fill="#55C1AE" d="M81.177,142.363c0,3.346-2.761,6.06-6.164,6.06l0,0c-3.404,0-6.164-2.714-6.164-6.06l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.416,136.306,81.177,139.019,81.177,142.363L81.177,142.363z"/></svg>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"viewBox="0 0 150 150" style="enable-background:new 0 0 150 150; width: 100%; transform: translate(81%, 69%) rotate(-50deg); opacity: .5" xml:space="preserve" class="circle_decor circle_decor--br"><defs><filter x="0" y="0" width="100%" height="100%" id="dropshadow_1_002" filterUnits="userSpaceOnUse"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="-3" dy="0" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/><feMergeNode in="SourceGraphic"/></feMerge></filter><filter x="0" y="0" width="100%" height="100%" id="dropshadow_2_002" filterUnits="userSpaceOnUse"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="3" dy="0" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/><feMergeNode in="SourceGraphic"/></feMerge></filter><clipPath id="circle_decor_mask_002"><circle r="73.5" cx="75" cy="75"/></clipPath></defs><path fill="#55C1AE" d="M74.933,148.5c-9.9,0-19.533-1.95-28.583-5.783c-8.75-3.699-16.6-9-23.333-15.734c-6.75-6.731-12.034-14.582-15.733-23.332C3.45,94.6,1.5,84.967,1.5,75.066c0-9.9,1.95-19.533,5.783-28.583c3.7-8.75,9-16.6,15.733-23.333S37.6,11.116,46.35,7.417c9.05-3.833,18.684-5.783,28.583-5.783c9.901,0,19.534,1.95,28.584,5.783c8.75,3.7,16.6,9,23.332,15.733c6.733,6.733,12.032,14.583,15.733,23.333c3.832,9.067,5.783,18.684,5.783,28.583c0,9.9-1.951,19.534-5.783,28.584c-3.701,8.75-9,16.6-15.733,23.332c-6.732,6.733-14.582,12.033-23.332,15.733C94.467,146.55,84.834,148.5,74.933,148.5z M75,13.783C41.25,13.783,13.783,41.25,13.783,75S41.25,136.217,75,136.217S136.217,108.75,136.217,75S108.75,13.783,75,13.783z"/><circle r="5.8" cx="75" cy="7.8" fill-opacity="0.25" style="filter:url(#dropshadow_1_002)" clip-path="url(#circle_decor_mask_002)"/><circle r="5.8" cx="74" cy="142.5" fill-opacity="0.25" style="filter:url(#dropshadow_2_002)" clip-path="url(#circle_decor_mask_002)"/><path fill="#55C1AE" d="M81.101,7.712c0,3.346-2.761,6.059-6.164,6.059l0,0c-3.404,0-6.164-2.713-6.164-6.059l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.34,1.654,81.101,4.367,81.101,7.712L81.101,7.712z"/><path fill="#55C1AE" d="M81.177,142.363c0,3.346-2.761,6.06-6.164,6.06l0,0c-3.404,0-6.164-2.714-6.164-6.06l0,0c0-3.345,2.76-6.058,6.164-6.058l0,0C78.416,136.306,81.177,139.019,81.177,142.363L81.177,142.363z"/></svg>
					</div>
					<div class="testimonials-carousel js-testimonials-carousel" data-slick='{"slidesToShow": 1, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 1 }},{"breakpoint": 480,"settings": {"slidesToShow": 1 }}]}'>
						<div class="testimonials-item">
	<div class="row vert-margin">
		<div class="col-sm-6 testimonials-item-photo text-center">
			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/review-author.png" alt="" class="rounded-circle lazyload fade-up">
		</div>
		<div class="col-sm-6 testimonials-item-text">
			<h3 class="testimonials-item-name">Clifton C. Garrison</h3>
			<p>Customer support has been excellent, as any small issues, minor bugs or even small requests have all been catered for in a quick, professional and timely manner.</p>
		</div>
	</div>
	<div class="testimonials-item-quote">
		<i class="icon-quotes"></i>
	</div>
</div>
<div class="testimonials-item">
	<div class="row vert-margin">
		<div class="col-sm-6 testimonials-item-photo text-center">
			<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/review-author-02.png" alt="" class="rounded-circle lazyload fade-up">
		</div>
		<div class="col-sm-6 testimonials-item-text">
			<h3 class="testimonials-item-name">Susan E. Davis</h3>
			<p>They have always fulfilled my requests without any hesitation. So i would definitely recommend their them. Plus their theme is fantastic!</p>
		</div>
	</div>
	<div class="testimonials-item-quote">
		<i class="icon-quotes"></i>
	</div>
</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="title-with-arrows">
					<h2>From Our Blog</h2>
					<div class="carousel-arrows"></div>
				</div>
				<div class="post-prws post-prws-carousel js-post-prws-carousel" data-slick='{"slidesToShow": 1, "responsive": [{"breakpoint": 1024,"settings": {"slidesToShow": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 1}},{"breakpoint": 480,"settings": {"slidesToShow": 1}}]}'>
					<div class="post-prw">
	<div class="row vert-margin-middle">
		
		<div class="post-prw-img col-sm-6">
			<a href="blog-post.html" class="d-block image-container" style="padding-bottom: 88.92%">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/blog/blog-07.png" class="lazyload fade-up" alt="Blog Title">
			</a>
		</div>
		
		<div class="post-prw-text col-sm-6">
			
			<h4 class="post-prw-title"><a href="#">Premium Template</a></h4>
			
			<div class="post-prw-links">
			
			<div class="post-prw-date"><i class="icon-calendar1"></i><span>November 17, 2020</span></div>
			
			</div>
			
			<div class="post-prw-btn">
				<a href="#" class="btn btn--md">Read More</a>
			</div>
		</div>
	</div>
</div><div class="post-prw">
	<div class="row vert-margin-middle">
		
		<div class="post-prw-img col-sm-6">
			<a href="blog-post.html" class="d-block image-container" style="padding-bottom: 88.92%">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="images/blog/blog-08.png" class="lazyload fade-up" alt="Blog Title">
			</a>
		</div>
		
		<div class="post-prw-text col-sm-6">
			
			<h4 class="post-prw-title"><a href="#">20+ Awesome Skins</a></h4>
			
			<div class="post-prw-links">
			
			<div class="post-prw-date"><i class="icon-calendar1"></i><span>December 19, 2020</span></div>
			
			</div>
			
			<div class="post-prw-btn">
				<a href="#" class="btn btn--md">Read More</a>
			</div>
		</div>
	</div>
</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

{% endblock contents %}