{% extends 'UserMain.html' %}
{% load static %}
{% load humanize %}
{% block title %}contact{% endblock title %}
{% block contents %}

<div class="page-content">
	<div class="holder mt-0 py-3 py-sm-5 py-md-10 bg-cover lazyload fade-up-fast" style="background-color: #c0eee6;">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 ">
				<div class="page-title-bg py-md-3">
					<h1>Thank You for contacting us !</h1>
                    <h3>we will get back you soon !</h3>
					<p>click here to continue&nbsp;&nbsp;<a href="{% url 'contact' %}" class="btn btn-primary">continue</a></p>
				</div>
                
			</div>
		</div>
	</div>
    </div>
    {% endblock contents %}