{% extends 'UserMain.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block contents %}
    {% load mathfilters %}  
    {% load post_tag %}

    <link rel="stylesheet" href="/static/css/viewmore.css">
    <link rel="stylesheet" href="/static/css/cards/catogory_cards.css">
    <div class="page-content">
        <div class="holder fullwidth full-nopad mt-0">
            <div class="container">
                <div class="bnslider-wrapper">
                    <div class="bnslider bnslider--lg keep-scale" id="bnslider-001" data-slick='{"arrows": true, "dots": true}'
                        data-autoplay="false" data-speed="12000" data-start-width="1917" data-start-height="400"
                        data-start-mwidth="1550" data-start-mheight="564">
                        {% for Banner in Banners %}
                        <a href="{{Banner.Banner_URL}}">
                            <div class="bnslider-slide">
                                <div class="bnslider-image-mobile lazyload" data-bgset="{{Banner.App_Banner_image.url}}" ></div>
                                <div class="bnslider-image lazyload" data-bgset="{{Banner.Banner_image.url}}"></div>
                                <div class="bnslider-text-wrap bnslider-overlay ">
                                    <div class="bnslider-text-content txt-middle txt-right txt-middle-m txt-center-m">
                                        <div class="bnslider-text-content-flex ">
                                            <div class="bnslider-vert w-s-60 w-ms-100" style="padding: 0px">
                                                <div class="bnslider-text order-1 mt-sm bnslider-text--md text-center data-ini"
                                                    data-animation="fadeInUp" data-animation-delay="800"
                                                    data-fontcolor="#ffff" data-fontweight="700" data-fontline="1.5">
                                                    {{Banner.Banner_name}}
                                                </div>
                                                <div class="bnslider-text order-2 mt-sm bnslider-text--xs text-center data-ini"
                                                    data-animation="fadeInUp" data-animation-delay="1000"
                                                    data-fontcolor="#7c7c7c" data-fontweight="400" data-fontline="1.5"></div>
                                                <div class="btn-wrap text-center  order-4 mt-md" data-animation="fadeIn"
                                                    data-animation-delay="2000" style="opacity: 1;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="bnslider-arrows container-fluid">
                        <div></div>
                    </div>
                    <div class="bnslider-dots container-fluid"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="holder">
        <div class="container">
            <div class="title-wrap text-center ">
                <h2 class="h1-style text-center"><a href="" title="View all">Categories</a></h2>
                <div class="carousel-arrows" style="margin:0 auto 65px; width:50px;"></div>
            </div>
            
            <div class="post-prws post-prws-carousel post-prws--row js-post-prws-carousel"
                data-slick='{"slidesToShow": 4, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 2 }},{"breakpoint": 480,"settings": {"slidesToShow": 1 }}]}'>
                {% for Catagory in Categories_Parent %}
                <div class="post-prw-vert col">
                    <a href="/Categories/?pk={{Catagory.id}}" class="post-prw-img image-hover-scale image-container"
                        style="padding-bottom: 54.44%">
                        <img class="fade-up w-100 lazyload" alt="The High-Street Brand Fashion"
                            src="{{Catagory.Category_img.url}}"
                            >
                    </a>
                    <h4 class="post-prw-title"><a href="/Categories/?pk={{Catagory.id}}">{{Catagory.Category_Name}}</a></h4>
                    <div class="post-prw-links">
                        <!-- <div class="post-prw-date"><i class="icon-calendar1"></i>
                            June 9, 2020
                        </div> -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <br>

    <!-- offerlist products -->
    {% for offer in Offers %}
    {% if offer.product_varients_set.all.count%}
    <div class="holder">
        <div class="container">
            <div class="title-wrap text-center">
                <h2 class="h1-style">{{offer}} </h2>
                <div class="h-sub maxW-825" style="text-align: -webkit-center;">
                    <div class="wrapper">
                        <div class="box">
                        <a href="{% url 'offerWise' offer.id %}" class="view-more" style="text-decoration: none;">View More</a>
                        </div>
                    </div>

                </div>
                <div class="carousel-arrows carousel-arrows--center"></div>
            </div>
            
            <div class="prd-grid prd-carousel js-prd-carousel slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2"
                data-slick='{"slidesToShow": 6, "slidesToScroll": 2, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 3, "slidesToScroll": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 2, "slidesToScroll": 1}},{"breakpoint": 480,"settings": {% if Products_count == 1 %}{"slidesToShow": 1, "slidesToScroll": 1}{% else %}{"slidesToShow": 2, "slidesToScroll": 1}{% endif %}}]}'>
                {% for Product in offer.product_varients_set.all|slice:":10"  %}
                <div class="prd prd--style2 prd-labels--max prd-labels-shadow listProduct">
                    <div class="prd-inside">
                
                        <div class="prd-img-area">
                
                            <a href="/Categories/viewProduct/?id={{Product.product_set.first.id}}&cat={{Product.product_set.first.Product_Category.id}}"
                                class="prd-img image-hover-scale image-container">
                                <img src="{{Product.product_set.first.Thumbnail_image.url}}"
                                    data-src="{{Product.product_set.first.Thumbnail_image.url}}" alt="Oversize Cotton Dress"
                                    class="js-prd-img lazyload fade-up">
                                    <div class="prd-big-squared-labels" id="offPercent{{Product.id}}">
                                                            
                                        {% with ProductPriceDiff=Product.Display_Prize|sub:Product.Selling_Prize%}
                                            {% with numerator=ProductPriceDiff|mul:100 denominator=Product.Display_Prize %}
                                                {% load post_tag %}
                                                {% with percent_offer=numerator|div:denominator|to_int %}
                                                    {% if percent_offer > 20|to_int %}
                                                    <div class="label-sale" style="background-color: #17c6aa;" ><span>{{ numerator|div:denominator|floatformat:0 }}%<span class="sale-text">off</span></span>
                                                        <div class="countdown-circle">	
                                                        </div>
                                                    </div>
                                                    {% endif %}
                        
                                                {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                
                                        
                                    </div>
                            </a>
                            <div class="prd-circle-labels">
                                <div class="pb-2 wishlistClass">
                                    <a href="#" class="circle-label-compare mt-0 Wishlist_add"
                                        data-id="{{Product.product_set.first.id}}" title="Add To Wishlist">
                                        {% if Product.product_set.first.id in wishlist %}
                                        <i class="icon-heart-hover"></i>
                                        {% else %}
                                        <i class="icon-heart-stroke"></i>
                                        {% endif %}
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="prd-info">
                            <div class="prd-info-wrap">
                                {%if Product.Product_stock == 0 %}<div class="prd-tag" style="color: crimson;">Out Of Stock</div>
                                {%else%}<div class="prd-tag"><br></div> {% endif %}
                                <h2 class="prd-title"><a href="#">{{Product.product_set.first.Name}}</a>
                                </h2>
                            </div>
                            <div class="prd-hovers">
                                <div class="prd-circle-labels">
                                    <div class="prd-hide-mobile"><a href="#" class="circle-label-qview js-prd-quickview"
                                            data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK VIEW</span></a>
                                    </div>
                                </div>
                                <div class="prd-price row">
                                    <div class="price-old col-12 text-center">
                                        <span style="color: rgb(190, 167, 167); font-size: small;" id="prizeD{{Product.id}}">
                
                                            ₹ {{Product.Display_Prize}}
                                        </span>
                                    </div>
                
                                    <div class="price-new col-12 text-center"><span style="color: rgb(93, 93, 93); font-size: small;"
                                            id="prize{{Product.id}}">
                                            ₹ {{Product.Selling_Prize}} ({{Product.Varient_Values}})
                                        </span>
                                    </div>
                                </div>
                                <div class="prd-action">
                                    <div class="prd-action-left">
                                        {% if Product.id in CartExistance %}
                                        <a href="" id="CartBtn{{Product.id}}" class="btn btn--sm AddToCart disabled"
                                            data-id="{{Product.id}}">Add To Cart</a>
                                        {% else %}
                                        <a href="" id="CartBtn{{Product.id}}"
                                            class="btn btn--sm AddToCart {%if Product.Product_stock == 0 %}disabled{%endif%}"
                                            data-id="{{Product.id}}">Add To Cart</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}                
            </div>
        </div>
    </div>
    <br>
    <br>
    {% endif %}
    {% endfor %}


    <!-- Category products -->

    {% for Parent in Categories_Parent %}
    {% if Parent.product_set.all or Parent.category_table_set.all.first.product_set.all %}

    <div class="holder" id="{{Parent}}">
        <div class="container">
            <div class="title-wrap text-center">
                <h2 class="h1-style">{{Parent}} </h2>
                <div class="h-sub maxW-825" style="text-align: -webkit-center;">
                    <div class="wrapper">
                        <div class="box">
                        <a href="/Categories/?pk={{Parent.id}}" class="view-more" style="text-decoration: none;">View More</a>
                        </div>
                    </div>

                </div>
                <div class="carousel-arrows carousel-arrows--center"></div>
            </div>
            
            <div class="prd-grid prd-carousel js-prd-carousel slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2"
                data-slick='{"slidesToShow": 6, "slidesToScroll": 1, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 3, "slidesToScroll": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 2, "slidesToScroll": 1}},{"breakpoint": 480,"settings":{"slidesToShow": 2, "slidesToScroll": 1}}]}'>
                
                {% with counter="1" %}
                {% for Product in Products %}
                {% if Product.Product_Category == Parent or Product.Product_Category.Parent == Parent %}
                    {% define counter|add:"1" as counter %}
                    {% if counter|to_int <= 10 %}
                    <div class="prd prd--style2 prd-labels--max prd-labels-shadow listProduct">
                        <div class="prd-inside">
        
                            <div class="prd-img-area">
        
                                <a href="/Categories/viewProduct/?id={{Product.id}}&cat={{Product.Product_Category.id}}"
                                    class="prd-img image-hover-scale image-container">
                                    <img src="{{Product.Thumbnail_image.url}}"
                                        data-src="{{Product.Thumbnail_image.url}}" alt="Oversize Cotton Dress"
                                        class="js-prd-img lazyload fade-up">
                                        <div class="prd-big-squared-labels" id="offPercent{{Product.id}}">
                                                    
                                            {% with ProductPriceDiff=Product.Product_Items.first.Display_Prize|sub:Product.Product_Items.first.Selling_Prize%}
                                            {% with numerator=ProductPriceDiff|mul:100 denominator=Product.Product_Items.first.Display_Prize %}
                                            {% load post_tag %}
                                            {% with percent_offer=numerator|div:denominator|to_int %}
                                            {% if percent_offer > 20|to_int %}
                                            <div class="label-sale" style="background-color: #17c6aa;" ><span>{{ numerator|div:denominator|floatformat:0 }}%<span class="sale-text">off</span></span>
                                                <div class="countdown-circle">	
                                                </div>
                                            </div>
                                            {% endif %}
        
                                            {% endwith %}
                                            {% endwith %}
                                            {% endwith %}
                                    
                                            
                                        </div>
                                </a>
                                <div class="prd-circle-labels">
                                    <div class="pb-2 wishlistClass">
                                        <a href="#" class="circle-label-compare mt-0 Wishlist_add"
                                            data-id="{{Product.id}}" title="Add To Wishlist">
                                            {% if Product.id in wishlist %}
                                            <i class="icon-heart-hover"></i>
                                            {% else %}
                                            <i class="icon-heart-stroke"></i>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div
                                    class="colorswatch-label colorswatch-label--variants js-prd-colorswatch">
                                    <i class="icon-palette"><span class="path1"></span><span
                                            class="path2"></span><span class="path3"></span><span
                                            class="path4"></span><span class="path5"></span><span
                                            class="path6"></span><span class="path7"></span><span
                                            class="path8"></span><span class="path9"></span><span
                                            class="path10"></span></i>
                                    <ul>
                                        {% for i in Product.Product_Items.all %}
                                        <li>
                                            <a class="getPrice btn-light btn--sm p-1" data-toggle="tooltip"
                                                data-placement="left" title="{{i.Varient_Values}}" data-id="{{i.id}}" data-product="{{Product.id}}"><span>{{i.Varient_Values}}</span></a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                </div>
                            </div>
                            <div class="prd-info">
                                <div class="prd-info-wrap">
                                    {%if Product.Product_Items.first.Product_stock == 0 %}<div class="prd-tag" style="color: crimson;">Out Of Stock</div>{%else%}<div class="prd-tag"><br></div> {% endif %}
                                    <h2 class="prd-title" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap; text-align: center;font-weight: unset;"><a href="/Categories/viewProduct/?id={{Product.id}}&cat={{Product.Product_Category.id}}" >{{Product}} </a>
                                    </h2>
                                    <div class="row" style="padding: auto; text-align: center;">
                                    </div>
                                    <div class="prd-action">
                                        <form action="#">
                                            <button class="btn js-prd-addtocart"
                                                data-product='{"name": "Leather Pegged Pants", "path":"/static/User/images/skins/fashion/products/product-01-1.jpg", "url":"product.html", "aspect_ratio":0.778}'>Add
                                                To Cart</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="prd-hovers">
                                    <div class="prd-circle-labels">
                                        <div class="prd-hide-mobile"><a href="#"
                                                class="circle-label-qview js-prd-quickview"
                                                data-src="ajax/ajax-quickview.html"><i
                                                    class="icon-eye"></i><span>QUICK VIEW</span></a></div>
                                    </div>
                                    <div class="prd-price row">
        
                                        <div class="price-old col-12 text-center"><span
                                                style="color: rgb(190, 167, 167); font-size: small;" id="prizeD{{Product.id}}">
                                                ₹ {{Product.Product_Items.first.Display_Prize}}
                                            </span>
                                        </div>
                                        <div class="price-new col-12 text-center"><span
                                                style="color: rgb(93, 93, 93); font-size: small;" id="prize{{Product.id}}">
                                                ₹ {{Product.Product_Items.first.Selling_Prize}} ({{Product.Product_Items.first.Varient_Values}})
                                            </span>
                                        </div>
                                    </div>
                                    <div class="prd-action">
                                        <div class="prd-action-left">
                                            {% if Product.Product_Items.first.id in CartExistance %}
                                            <a href="" id="CartBtn{{Product.id}}" class="btn btn--sm AddToCart disabled" data-id="{{Product.Product_Items.first.id}}">Add To Cart</a>
                                            {% else %}
                                            <a href="" id="CartBtn{{Product.id}}" class="btn btn--sm AddToCart {%if Product.Product_Items.first.Product_stock == 0 %}disabled{%endif%}" data-id="{{Product.Product_Items.first.id}}">Add To Cart</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                {% endfor %}
                {% endwith %}

            </div>
        </div>
    </div>
    <br>
    <br>

    {% endif %}
    {% endfor %}

    <!-- offer_banner -->


    <div class="page-content">

        <div class="holder fullwidth full-nopad mb-0">
            <div class="container">
                <div class="bnslider-wrapper">
                    <div class="bnslider bnslider--lg keep-scale" id="bnslider-002" data-slick='{"arrows": true, "dots": true}'
                        data-autoplay="false" data-speed="12000" data-start-width="1917" data-start-height="450"
                        data-start-mwidth="1550" data-start-mheight="564">
                        {% for offer in Offers %}
                        <a href="{% url 'offerWise' offer.pk %} ">
                            <div class="bnslider-slide">
                                <div class="bnslider-image-mobile lazyload" data-bgset="{{offer.image.url}}" ></div>
                                <div class="bnslider-image lazyload" data-bgset="{{offer.image.url}}"></div>
                                <div class="bnslider-text-wrap bnslider-overlay ">
                                    <div class="bnslider-text-content txt-middle txt-right txt-middle-m txt-center-m">
                                        <div class="bnslider-text-content-flex ">
                                            <div class="bnslider-vert w-s-60 w-ms-100" style="padding: 0px">
                                                <div class="bnslider-text order-1 mt-sm bnslider-text--md text-center data-ini"
                                                    data-animation="fadeInUp" data-animation-delay="800"
                                                    data-fontcolor="#ffff" data-fontweight="700" data-fontline="1.5">
                                                    {{offer.offer_name}}
                                                </div>
                                                <div class="bnslider-text order-2 mt-sm bnslider-text--xs text-center data-ini"
                                                    data-animation="fadeInUp" data-animation-delay="1000"
                                                    data-fontcolor="#7c7c7c" data-fontweight="400" data-fontline="1.5"></div>
                                                <div class="btn-wrap text-center  order-4 mt-md" data-animation="fadeIn"
                                                    data-animation-delay="2000" style="opacity: 1;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                    <div class="bnslider-arrows container-fluid">
                        <div></div>
                    </div>
                    <div class="bnslider-dots container-fluid"></div>
                </div>
            </div>
        </div>
        </div>

    <!-- new arivals -->
    <div class="holder">
        <div class="container">
            {% if Products %}
            <div class="title-wrap text-center">
                <h2 class="h1-style">New arrival</h2>
                <div class="h-sub maxW-825">Hurry up! Limited</div>
                <div class="carousel-arrows" style="margin:0 auto 65px; width:50px;"></div>
            </div>
            
            <div class="prd-grid prd-carousel js-prd-carousel slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2"
                data-slick='{"slidesToShow": 5, "slidesToScroll": 2, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 3, "slidesToScroll": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 2, "slidesToScroll": 1}},{"breakpoint": 480,"settings": {% if Products_count == 1 %}{"slidesToShow": 2, "slidesToScroll": 1}{% else %}{"slidesToShow": 2, "slidesToScroll": 1}{% endif %}}]}'>
                {% if Products %}
                    {% for Product in Products|slice:":10" %}
                        <div class="prd prd--style2 prd-labels--max prd-labels-shadow listProduct">
                            <div class="prd-inside">
                                <div class="prd-img-area">
                                    <a href="/Categories/viewProduct/?id={{Product.id}}&cat={{Product.Product_Category.id}}"
                                        class="prd-img image-hover-scale image-container">
                                        <img src="{{Product.Thumbnail_image.url}}"
                                            data-src="{{Product.Thumbnail_image.url}}" alt="Oversize Cotton Dress"
                                            class="js-prd-img lazyload fade-up">
                                            <div class="prd-big-squared-labels" id="offPercent{{Product.id}}">     
                                                {% with ProductPriceDiff=Product.Product_Items.first.Display_Prize|sub:Product.Product_Items.first.Selling_Prize%}
                                                    {% with numerator=ProductPriceDiff|mul:100 denominator=Product.Product_Items.first.Display_Prize %}
                                                    {% load post_tag %}
                                                        {% with percent_offer=numerator|div:denominator|to_int %}
                                                            {% if percent_offer > 20|to_int %}
                                                            <div class="label-sale" style="background-color: #17c6aa;" ><span>{{ numerator|div:denominator|floatformat:0 }}%<span class="sale-text">off</span></span>
                                                                <div class="countdown-circle">	
                                                                </div>
                                                            </div>
                                                            {% endif %}

                                                        {% endwith %}
                                                    {% endwith %}
                                                {% endwith %}
                                        
                                                
                                            </div>
                                    </a>
                                    <div class="prd-circle-labels">
                                        <div class="pb-2 wishlistClass">
                                            <a href="#" class="circle-label-compare mt-0 Wishlist_add"
                                                data-id="{{Product.id}}" title="Add To Wishlist">
                                                {% if Product.id in wishlist %}
                                                <i class="icon-heart-hover"></i>
                                                {% else %}
                                                <i class="icon-heart-stroke"></i>
                                                {% endif %}
                                            </a>
                                        </div>
                                        <div
                                        class="colorswatch-label colorswatch-label--variants js-prd-colorswatch">
                                        <i class="icon-palette"><span class="path1"></span><span
                                                class="path2"></span><span class="path3"></span><span
                                                class="path4"></span><span class="path5"></span><span
                                                class="path6"></span><span class="path7"></span><span
                                                class="path8"></span><span class="path9"></span><span
                                                class="path10"></span></i>
                                        <ul>
                                            {% for i in Product.Product_Items.all %}
                                            <li>
                                                <a class="getPrice btn-light btn--sm p-1" data-toggle="tooltip"
                                                    data-placement="left" title="{{i.Varient_Values}}" data-id="{{i.id}}" data-product="{{Product.id}}"><span>{{i.Varient_Values}}</span></a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                                <div class="prd-info">
                                    <div class="prd-info-wrap">
                                        {%if Product.Product_Items.first.Product_stock == 0 %}<div class="prd-tag" style="color: crimson;">Out Of Stock</div>{%else%}<div class="prd-tag"><br></div> {% endif %}
                                        <h2 class="prd-title" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap; text-align: center;font-weight: unset;"><a href="/Categories/viewProduct/?id={{Product.id}}&cat={{Product.Product_Category.id}}" >{{Product}} </a>
                                        </h2>
                                        <div class="row" style="padding: auto; text-align: center;">
                                        </div>
                                        <div class="prd-action">
                                            <form action="#">
                                                <button class="btn js-prd-addtocart"
                                                    data-product='{"name": "Leather Pegged Pants", "path":"/static/User/images/skins/fashion/products/product-01-1.jpg", "url":"product.html", "aspect_ratio":0.778}'>Add
                                                    To Cart</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="prd-hovers">
                                        <div class="prd-circle-labels">
                                            <div class="prd-hide-mobile"><a href="#"
                                                    class="circle-label-qview js-prd-quickview"
                                                    data-src="ajax/ajax-quickview.html"><i
                                                        class="icon-eye"></i><span>QUICK VIEW</span></a></div>
                                        </div>
                                        <div class="prd-price row">

                                            <div class="price-old col-12 text-center"><span
                                                    style="color: rgb(190, 167, 167); font-size: small;" id="prizeD{{Product.id}}">
                                                    ₹ {{Product.Product_Items.first.Display_Prize}}
                                                </span>
                                            </div>
                                            <div class="price-new col-12 text-center"><span
                                                    style="color: rgb(93, 93, 93); font-size: small;" id="prize{{Product.id}}">
                                                    ₹ {{Product.Product_Items.first.Selling_Prize}} ({{Product.Product_Items.first.Varient_Values}})
                                                </span>
                                            </div>
                                        </div>
                                        <div class="prd-action">
                                            <div class="prd-action-left">
                                                {% if Product.Product_Items.first.id in CartExistance %}
                                                <a href="" id="CartBtn{{Product.id}}" class="btn btn--sm AddToCart disabled" data-id="{{Product.Product_Items.first.id}}">Add To Cart</a>
                                                {% else %}
                                                <a href="" id="CartBtn{{Product.id}}" class="btn btn--sm AddToCart {%if Product.Product_Items.first.Product_stock == 0 %}disabled{%endif%}" data-id="{{Product.Product_Items.first.id}}">Add To Cart</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                
                {% endif %}

                    
            </div>
            {% endif %}
        </div>
    </div>
    <br>

    <div class="container" >
        <div class="title-wrap text-center" style="margin-bottom: 100px;">
            <h2 class="h1-style">Daily needs</h2>
            <div class="h-sub maxW-825">Hurry up! Limited</div>
            <div class="carousel-arrows" style="margin:0 auto 65px; width:50px;"></div>
        </div>
        

        <div class="collection-grid-2 data-slick" 
        data-slick='{"slidesToShow": 3, "responsive": [{"breakpoint": 1200,"settings": {"slidesToShow": 5}},{"breakpoint": 992,"settings": {"slidesToShow": 4}},{"breakpoint": 768,"settings": {"slidesToShow": 3}},{"breakpoint": 480,"settings": {"slidesToShow": 1}}]}'>
        {% for Catagory in Categories_child %}
        <div class="col" style="width: max-content;">
            <a href="/Categories/?pk={{Catagory.id}}">
            <div class="profile-card-2"><img src="{{Catagory.Category_img.url}}" width="100%" height="100%" class="img img-responsive">
                <div class="profile-name">{{Catagory.Category_Name}}</div>
                <div class="profile-username">@momooz</div>
                <div class="profile-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
            </div>
        </a>
        </div>
        {% endfor %}
    
        </div>

                
        
    </div>
    <br><br>

{% endblock contents %}



{%block script%}
    <script src="/static/User/js/index/custom.js"></script>
{%endblock script%}