{% extends 'main.html' %}
{% block title%} Customer Report {% endblock title%}
{% block contents %}
<div class="col-lg-12 grid-margin stretch-card" id="filterContent">
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'Customer_report' %}">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Customer</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Name" name="byCustomer">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <button type="reset"  class="btn btn-primary ml-auto"><i class="fas fa-undo-alt" style="font-size: small;"></i></button>
                            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title=""
                                data-original-title="Apply">Filter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Customer Report</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <a href="#" id="filter" class="btn btn-primary ml-auto"><i class="fas fa-filter"
                            style="font-size: small;"></i></a>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>CUSTOMER</th>
                            <th>PHONE</th>
                            <th>PLATFORM</th>
                            <th>JOINED AT</th>
                            <th>NUMBER OF ORDER</th>
                            <th>TOTAL AMOUNT OF ORDER</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if Customer_Report %}
                        {% for report in Customer_Report %}
                        <tr {% if report.status %}style="color:green"{% else %}style="color: crimson;"{% endif %}>
                            <td>{{forloop.counter}}</td>
                            <td>{{report.name}}</td>
                            <td>{{report.phone}}</td>
                            <td>{%if report.Platform == '0' %}Web{% elif report.Platform == '1' %}App{% endif %}</td>
                            <td>{{report.registered_date}}</td>
                            <td>{{report.Total_Orders}}</td>
                            <td>{{report.Total_Order_amount}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Nothing Find</th>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <hr>
                {% if Customer_Report.paginator.num_pages > 1 %}
                <div class="row" style="text-align: center;">
                    <div class="col-sm-12">
                        {% if Customer_Report.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{Customer_Report.previous_page_number}}">Previous</a>
                        {% endif %}
                        Page {{Customer_Report.number}} of {{ Customer_Report.paginator.num_pages }}
                        {% if Customer_Report.has_next %}
                        <a href="?page={{Customer_Report.next_page_number}}">Next</a>
                        <a href="?page={{Customer_Report.paginator.num_pages}}">Last &raquo; </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock contents %}