{% extends 'main.html' %}
{% block title%} Order Report {% endblock title%}
{% block contents %}
<div class="col-lg-12 grid-margin stretch-card" id="filterContent">
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'Order_report' %}">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Order Id</label>
                            <input type="text" class="form-control form-control-sm" placeholder="MZID#####"
                                name="byorderID">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Customer</label>
                            <input type="text" class="form-control form-control-sm" placeholder="Name" name="byCustomer">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Order Status</label>
                            <select id="ostatus" class="form-control form-control-sm" name="byOrderStatus">
                                <option value="">Select</option>
                                <option value="pending">pending</option>
                                <option value="processing">processing</option>
                                <option value="shipped">shipped</option>
                                <option value="out for delivery">out for delivery</option>
                                <option value="delivered">delivered</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Payment Status</label>
                            <select id="pstatus" class="form-control form-control-sm" name="byPaymentStatus">
                                <option value="">Select</option>
                                <option value="pending">pending</option>
                                <option value="received">received</option>
                            </select>
                        </div>
                    </div>
                    <!-- <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">From</label>
                            <input type="date" class="form-control form-control-sm" placeholder="Name" name="fromDate">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">To</label>
                            <input type="date" class="form-control form-control-sm" placeholder="Name" name="ToDate">
                        </div>
                    </div> -->
                    <div class="col-sm-2">
                        <div class="form-group">
                            <button type="reset"  class="btn btn-primary ml-auto"><i class="fas fa-undo-alt" style="font-size: small;"></i></button>
                            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title=""
                                data-original-title="Apply">Filter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Order Report</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <a href="#" id="filter" class="btn btn-primary ml-auto"><i class="fas fa-filter"
                            style="font-size: small;"></i></a>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ORDER ID</th>
                            <th>CUSTOMER</th>
                            <th>CONTACT</th>
                            <th>PAYMENT MODE</th>
                            <th>AMOUNT</th>
                            <th>ORDER STATUS</th>
                            <th>PAYMENT</th>
                            <th>PLATFORM</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if Order_Report %}
                        {% for report in Order_Report %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{report.order_id_m}}</td>
                            <td>{{report.user.name}}</td>
                            <td>{{report.user.phone}}</td>
                            <td>{{report.order_details_set.first.mode}}</td>
                            <td>{{report.order_total}}</td>
                            <td>
                               <label class="badge {% if report.order_status == 'delivered' %}badge-success{% elif report.order_status == 'shipped' or report.order_status == 'out for delivery' %}badge-warning{%else%}badge-danger{%endif%}">{{report.order_status}}</label>
                            </td>
                            <td>
                                <label class="badge {% if report.payment_status == 'received' %}badge-success{%else%}badge-danger{%endif%}">{{report.payment_status}}</label>
                            </td>
                            <td>{%if report.platform == '0' %}Web{% elif report.platform == '1' %}App{% endif %}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Nothing Find</th>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <hr>
                {% if Order_Report.paginator.num_pages > 1 %}
                <div class="row" style="text-align: center;">
                    <div class="col-sm-12">
                        {% if Order_Report.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{Order_Report.previous_page_number}}">Previous</a>
                        {% endif %}
                        Page {{Order_Report.number}} of {{ Order_Report.paginator.num_pages }}
                        {% if Order_Report.has_next %}
                        <a href="?page={{Order_Report.next_page_number}}">Next</a>
                        <a href="?page={{Order_Report.paginator.num_pages}}">Last &raquo; </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

{% endblock contents %}