{% extends 'main.html' %}
{% block title %}Add Brand{% endblock title %}
{% block contents %}
<div class="col-lg-12 grid-margin stretch-card">
<form  method="POST" class="card" name="add"  enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-header">
      <h3 class="card-title">Add Brand</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-lg-6">
         
          <div class="form-group">
            <label class="form-label">Brand<span class="danger" style="color: red;"> *</span></label>
            {{form.brand}}
            <input type="hidden" class="error" id="brand_name-error" value="0">
            <div class="invalid-feedback">Name already exist</div>
          </div>
          </div>
       
        <div class="col-md-6 col-lg-6">
           <div class="form-group">
            <label class="form-label">Image<span class="danger" style="color: red;"> *</span><span style="font-size: smaller;font-style: italic;color: crimson;"> (Upload image of 128*128px for better performance.)</span> </label>
            <div class="input-group">
              {{form.icon}}

            </div>
             
        </div>
      </div>
      </div>
      </div>

    <!-- <div class="card-footer text-right">
      <div class="d-flex">
        {{form.status.as_hidden}}
        <a href="https://momooz.com/primal_momooz/admin/brand" class="btn btn-link">Cancel</a>
        <button type="submit" class="btn btn-primary ml-auto">Add</button>
      </div>
    </div> -->
    <div class="card-footer " style="text-align: center;background-color: white;">
      {{form.status.as_hidden}}
      <div class="col-sm-12" style="text-align: center;">
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <a href="{% url 'brands' %}" class="btn btn-light">Cancel</a>
      </div>
     
  </div>
    </form>
</div>
    {% endblock contents %}