{% extends 'main.html' %}
{% block title %}Brands{% endblock title %}
{% block contents %}
<script>
  $(document).ready(function () {
    $('#filter-btn').click(function () {
      $('#filter').toggle(400)
    })
  })
</script>
<div class="col-lg-12 grid-margin stretch-card" id="filter">
<form action="{% url 'brands' %}" method="post" class="card filter">{% csrf_token %}
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Brand</label>
            <input type="text" class="form-control" name="byBrand" id="filter_name" placeholder="">
          </div>
        </div>
        <div class="col-lg-2">
          <div class="form-group">
            <label class="form-label">Status</label>
            <select class="form-control" name="byStatus" id="filter_type">
              <option value="">Select</option>
              <option value="True">Active</option>
              <option value="False">Suspended</option>
            </select>
          </div>
        </div>

        <div class=" col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class=" col-lg-2"></div>

        <div class=" col-lg-2">
          <div class="form-group" style="margin-top: 1.5rem;text-align: right;">
            <button type="reset" class="btn btn-secondary" data-toggle="tooltip" title="" data-original-title="Reset"><i
                class="fas fa-undo-alt"></i></button>
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="" data-original-title="Apply"><i
                class="fa fa-check"></i></button>
          </div>
        </div>

      </div>
    </div>
  </form>
</div>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-4">
          <h3 class="card-title" style="float: left;">Brands</h3>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
          <div class="ml-auto" style="float: right;">
            <a href="" class="btn btn-primary btn-sm"><i
              class="fa fa-filter"></i></a>

            <a href="{% url 'add_brand' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Brands</a>
          </div>
        </div>


      </div>
      <!-- <a href="#" id="add-role-btn" class="btn btn-primary ml-auto">Add Tag</a> -->
    </div>
    {% include 'messages.html' %}
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap">
        <thead>
          <tr>
            <th class="w-1"><b>#</b></th>
            <th><b>Brand</b></th>
            <th><b>Image</b></th>

            <!-- <th>Expiry</th> -->
            <th><b>Status</b></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% if brand %}
          {% for i in brand %}
          <tr>
            <td><span class="text-muted">{{forloop.counter}}</span></td>

            <td>{{i.brand}}</td>
            <td style="width: 20%;">
              <img src="{{i.icon.url}}" style="width: 25%;height:25%">
            </td>
            <td>{% if i.status %}<label class="badge badge-success">active</label>{% else %}<label
                class="badge badge-danger">suspended{% endif %}</label></td>
            <td class="text-right">
              <a href="{% url 'edit_brand' i.pk %}" class="btn btn-secondary btn-sm">Edit</a>
              {% if i.status %}
              <!-- disable -->
              <a href="" class="dis btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Disable"
              data-description="{{i.id}}">Disable</a>
              {% else %}
              <!-- enable -->
              <a href="" class="ena btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Enable"
              data-description="{{i.id}}">
              Enable</a>
              {% endif %}
            </td>
          </tr>
            {% endfor %}
          {% else %}
          <tr><td></td><td>Nothin Find!!!</td></tr>
          {% endif %}
        </tbody>
      </table>
      <hr>
      {% if brand.paginator.num_pages > 1 %}
      <div class="row" style="text-align: center;">
          <div class="col-sm-12">
              {% if brand.has_previous %}
              <a href="?page=1">&laquo; First</a>
              <a href="?page={{brand.previous_page_number}}">Previous</a>
              {% endif %}
              Page {{brand.number}} of {{ brand.paginator.num_pages }}
              {% if brand.has_next %}
              <a href="?page={{brand.next_page_number}}">Next</a>
              <a href="?page={{brand.paginator.num_pages}}">Last &raquo; </a>
              {% endif %}
          </div>
      </div>
      {% endif %}
    </div>
    <div class="pagination">
      <ul>
      </ul>
    </div>
  </div>
</div>

<div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'delete_brand' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'delete_brand' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contents %}