{% extends 'main.html' %}
{% block title%} Customer Report {% endblock title%}
{% block contents %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'addDistrict' %}">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="eg: Kozhikode" name="byName">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Short code</label>
                            <input type="text" class="form-control form-control-sm" placeholder="eg: KD" name="byScode">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Country</label>
                            <select name="byCountry" id="" class="form-control">
                                <option value="">Country</option>
                                <option value="India"> india</option>
                                <option value="Australia"> Australia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Zone</label>
                            <select name="byCountry" id="" class="form-control">
                                <option value="">Country</option>
                                <option value="India"> india</option>
                                <option value="Australia"> Australia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Sub zone</label>
                            <select name="byCountry" id="" class="form-control">
                                <option value="">Country</option>
                                <option value="India"> india</option>
                                <option value="Australia"> Australia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Status</label>
                            <select name="byCountry" id="" class="form-control">
                                <option value="">Country</option>
                                <option value="India"> india</option>
                                <option value="Australia"> Australia</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Customer Report</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <a href="#" id="add-role-btn" class="btn btn-primary ml-auto"><i class="fas fa-filter"
                            style="font-size: small;"></i></a>
                    <a href="" id="add-role-btn" class="btn btn-primary ml-auto">Generate</a>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>ORDER NUMBER</th>
                            <th>CUSTOMER</th>
                            <th>VENDOR</th>
                            <th>PAYMENT MODE/AMOUNT</th>
                            <th>ORDER STATUS</th>
                            <th>PAYMENT STATUS</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if salesReport %}
                        {% for sales in salesReport %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{sales.Order_Number}}</td>
                            <td>{{sales.Customer_Name}}</td>
                            <td>{{sales.Vendor_Name}}</td>
                            <td>{{sales.Payment_mode}} / {{sales.Order_Amount}}</td>
                            <td>{{sales.Order_status}}</td>
                            <td>{{sales.Payment_status}}</td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Nothing Find</th>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <hr>
                {% if salesReport.paginator.num_pages > 1 %}
                <div class="row" style="text-align: center;">
                    <div class="col-sm-12">
                        {% if salesReport.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{salesReport.previous_page_number}}">Previous</a>
                        {% endif %}
                        Page {{salesReport.number}} of {{ salesReport.paginator.num_pages }}
                        {% if salesReport.has_next %}
                        <a href="?page={{salesReport.next_page_number}}">Next</a>
                        <a href="?page={{salesReport.paginator.num_pages}}">Last &raquo; </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock contents %}