{% extends 'UserMain.html' %}
{% load static %}
{% block title %}My Address{% endblock title %}
{% block contents %}
<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><span>My account</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="row">
                <div class="col-md-3 aside aside--left">
                    <div class="list-group">
                        <a href="{% url 'my_account' %}" class="list-group-item">Account Details</a>
                        <a href="{% url 'address' %}" class="list-group-item active">My Addresses</a>
                        <a href="{% url 'my_wishlist' %}" class="list-group-item">My Wishlist</a>
                        <a href="{% url 'my_orders' %}" class="list-group-item">My Order History</a>
                        <!-- <a href="#" class="list-group-item disabled">My Reviews</a>
                        <a href="#" class="list-group-item disabled">My Saved Tags</a>
                        <a href="#" class="list-group-item disabled">Compare Products</a> -->
                    </div>
                </div>
                <div class="col-md-9 aside">
                    <div class="row">
                        <div class="col-3">
                            <h1 class="mb-3">My Addresses</h1>
                        </div>

                    </div>
                    
                    <button class="btn btn-primary btn-sm" id="addaddress_id" style="width: 95%;margin:20px;">add a new
                        address<b>+</b></button>
                    <div class="card mt-3 " id="add_address" style="display: none;">
                        <form method="POST" action="{% url 'address' %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <h3>Add Address</h3>
                                <div class="form-group">
                                    {{form.username.as_hidden}}
                                </div>
                                <label class="text-uppercase">Address:</label>
                                <div class="form-group">
                                    {{form.address}}
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">City:</label>
                                        <div class="form-group">
                                            {{form.locality}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">Distict:</label>
                                        <div class="form-group">
                                            {{form.district}}
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label class="text-uppercase">landmark:</label>
                                        <div class="form-group">
                                            {{form.landmark}}
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="text-uppercase">zip/postal code:</label>
                                        <div class="form-group">
                                            {{form.pin}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">

                                        <label class="text-uppercase">State:</label>
                                        <div class="form-group">
                                            {{form.state}}
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">country:</label>
                                        <div class="form-group">
                                            {{form.country}}
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="clearfix">
                                            <label for="formCheckbox1">Address Type</label>


                                        </div>
                                        <div class="clearfix">
                                            <input id="formcheckoutRadio2" value="home" name="address_type" type="radio"
                                                class="radio" checked>
                                            <label for="formcheckoutRadio2">Home</label>
                                            <input id="formcheckoutRadio1" value="work" name="address_type" type="radio"
                                                class="radio">
                                            <label for="formcheckoutRadio1">Work</label>
                                        </div>
                                        <!-- <div class="clearfix">
										<input type="radio" name="sayen" value="dad">
									</div> -->

                                    </div>
                                </div><br>
                                <!-- <div class="clearfix">
                                
                                {{form.default}}
                                <label for="formCheckbox1">Set address as default</label>
                            </div> -->
                                <div class="clearfix">
                                    <input id="formcheckoutCheckbox2" name="default" type="checkbox">
                                    <label for="formcheckoutCheckbox2">Set address as default</label>
                                </div>
                                <!-- <div class="clearfix">
								<input id="checkbox1" name="checkbox1" type="checkbox" checked="checked">

								<label for="checkbox1">Set address as default </label>
							</div> -->

                                <div class="mt-2">
                                    <button type="reset" class="btn btn--alt js-close-form"
                                        id="addAddress_cancel">Cancel</button>
                                    <button type="submit" class="btn ml-1">Add Address</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% include 'messages.html' %}
                    <div class="row">
                        {% if address %}
                        {% for i in address %}
                        <div class="col-sm-6">

                            <div class="card"
                                style="margin-bottom:15px;border-radius: 10px;background-color: rgb(228, 248, 228);">
                                <div class="card-body">
                                    <h3>Address {{forloop.counter}}{% if i.default %}(Default){% endif %}&nbsp;<span
                                            style="width: max-content;height: max-content;background-color: rgb(215, 223, 215);border-radius: 5px;padding-top: 2px;padding-bottom: 2px;padding-right:5px;padding-left: 5px;">{{i.address_type}}</span>
                                    </h3>
                                    <p>{{i.username.name}}
                                        <br> {{i.address}},{{i.pin}},<br>{% if i.landmark %}near&nbsp;{{i.landmark}}
                                        {%endif%},{{i.locality}}
                                        <br> {{i.district}},{{i.state}},{{i.country}}
                                    </p>

                                    <div class="mt-2 clearfix">
                                        <a href="#" class="editaddress link-icn js-show-form" data-form="#updateAddress"
                                            value="{{i.id}}"><i class="icon-pencil"></i>Edit</a>
                                        <a href="{% url 'delete_address' i.pk  %}" class=" link-icn ml-1 float-right"><i
                                                class="icon-cross"></i>delete</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                        {% endif %}
                        <!-- <div class="col-sm-6">
						<div class="card" style="margin-bottom:15px;border-radius: 10px;background-color: rgb(228, 248, 228);height:200px;">
							<div class="card-body">
								<h3 style="text-align: center;">Add a new Address <b>+</b></h3>
								<p style="text-align: center;"><button class="btn btn-primary" id="addaddress_id">ADD</button></p>
								
							</div>
						</div>
					</div> -->

                    </div>
                    <div class="card mt-3 d-none" id="updateAddress">
                        <form method="POST" action="{% url 'edit_address' %}">
                            {% csrf_token %}
                            <div class="card-body">
                                <h3>Edit Address</h3>
                                <label class="text-uppercase">Address:</label>
                                <div class="form-group">
                                    <textarea name="address1" cols="40" rows="10" maxlength="200"
                                        class="form-control form-control-sm" required="" id="id_address_Edit"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">City:</label>
                                        <div class="form-group">
                                            <input type="text" name="locality1" maxlength="100"
                                                class="form-control form-control-sm" required="" id="id_locality_Edit">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">Distict:</label>
                                        <div class="form-group">
                                            <select name="district1" class="form-control form-control-sm" required=""
                                                id="id_district_Edit">
                                                <option value="kozhikode">kozhikode</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <input type="hidden" name="addId" id="address_Id" value="">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <label class="text-uppercase">Landmark:</label>
                                        <div class="form-group">
                                            <textarea name="landmark1" cols="40" rows="10" maxlength="200"
                                                class="form-control form-control-sm" required=""
                                                id="id_landmark_Edit"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-sm-4">
                                        <label class="text-uppercase">zip/postal code:</label>
                                        <div class="form-group">
                                            <select name="pin1" class="form-control form-control-sm" required=""
                                                id="id_pin_Edit">
                                                <option value="" selected="">Select</option>
                                                {% for i in pin %}
                                                <option value="{{i.id}}">{{i}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">

                                        <label class="text-uppercase">State:</label>
                                        <div class="form-group">
                                            <select name="state1" class="form-control form-control-sm" required=""
                                                id="id_state_Edit">
                                                <option value="kerala">kerala</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">Country:</label>
                                        <div class="form-group">
                                            <select name="country1" class="form-control form-control-sm" required=""
                                                id="id_country_Edit">
                                                <option value="india">india</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="clearfix">
                                            <label for="formCheckbox1">Address Type</label>
                                            <div class="clearfix">
                                                <input id="formcheckoutRadio2_Edit" value="home" name="address_type1" type="radio" class="radio" checked="">
                                                <label for="formcheckoutRadio2_Edit">Home</label>
                                                <input id="formcheckoutRadio1_Edit" value="work" name="address_type1" type="radio" class="radio">
                                                <label for="formcheckoutRadio1_Edit">Work</label>
                                            </div>

                                        </div>
                                    </div>
                                </div><br>
                                <div class="form-group">
                                    <input id="formcheckoutCheckbox3_Edit" name="default1" type="checkbox">
                                    <label for="formcheckoutCheckbox3_Edit">Set address as default</label>
                                </div>

                                <div class="mt-2">
                                    <button type="reset" class="btn btn--alt js-close-form"
                                        data-form="#updateAddress">Cancel</button>
                                    <button type="submit" class="btn ml-1">Edit Address</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#addaddress_id').click(function () {
            $('#add_address').show(400)

        })
        $('#addAddress_cancel').click(function () {
            $('#add_address').hide(400)
        })
        $('.editaddress').click(function () {

            value_id = $(this).attr('value')
            $.ajax({
                url: "{% url 'address' %}",
                data: { 'id': value_id },
                success: (res) => {
                    
                    console.log(String(res['pin']['id']))
                    $('#id_address_Edit').val(res['address'])
                    $('#id_locality_Edit').val(res['locality'])
                    $('#id_district_Edit').val(res['district']).attr({'selected':'selected'})
                    $('#id_landmark_Edit').val(res['landmark'])
                    $('#id_pin_Edit').val(res['pin']['id']).attr({'selected':'selected'})
                    $('#id_state_Edit').val(res['state']).attr({'selected':'selected'})
                    $('#id_country_Edit').val(res['country']).attr({'selected':'selected'})
                    if(res['address_type'] == 'home'){
                        $('#formcheckoutRadio2_Edit').attr({'checked':"checked"})
                    }else{
                        $('#formcheckoutRadio2_Edit').attr({'checked':"checked"})
                    }
                    if(res['default']){
                        $('#formcheckoutCheckbox3_Edit').attr({'checked':"checked"})
                    }
                    $('#address_Id').val(res['id'])
                }
            })
        })
    })

</script>
{% endblock contents %}