{% extends 'UserMain.html' %}
{% load static %}
{% load humanize %}

{% block title %}Checkout{% endblock title %}
{% block contents %}
<style>
	#mydiv {
    position:fixed;
    top: 50%;
    left: 50%;
    width:24em;
    height:26em;
    margin-top: -13em; /*set to a negative number 1/2 of your height*/
    margin-left: -12em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
	z-index: 10;
	border-radius: 5px;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
#card-body{
	overflow: scroll;
	border-radius: 5px;
	background-color: #f3f3f3;
	border: none;
	height: 20rem;
}
#card-body::-webkit-scrollbar {
    display: none;
}
#rzp-button2{
	background-color: #17c6aa;
	border: none;
	border-radius: 3px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top:3px;
	padding-bottom: 3px;
	height:max-content;
	color:#d1faf3;
	font-size: medium;
}
#rzp-button2:hover{
	background-color: black;
}
</style>
<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="/">Home</a></li>
			<li><span>Checkout</span></li>
		</ul>
	</div>
</div>
	<div class="holder">
	<div class="container">
		
		<h1 class="text-center">Checkout wizard</h1>
		{% include 'messages.html' %}
		<div class="row">
			<div class="col-sm-6">
				<div class="steps-progress">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#step1" data-step="1"><span>01.</span><span>Shipping Address</span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#step2" data-step="2"><span>02.</span><span>Payment Method</span></a>
						</li>
					</ul>
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="2" style="width: 25%;"></div>
					</div>
				</div>
                <form method="POST" action="{% url 'cart_checkout' %}">
                    {% csrf_token %}
				<div class="tab-content">
					<div class="tab-pane fade show active" id="step1">
                        <div class="tab-pane-inside">
                            <div class="form-group  ">
									<div class="form-group select-wrapper">
										<select class="form-control" name="address">
											{% for i in address %}
                                            <option value="{{i.id}}" id="address_id">{{i.address}},{{i.pincode}}</option>
                                            {% endfor %}
										</select>
									</div>
                                <!-- </div> -->

								
								
                                
							</div>
                            
                        
                        
                        </div>
						
                        
                        
                        <div class="text-right">
                            <button type="button" class="btn btn-sm step-next">Continue</button>
                        </div>
					</div>        
					<div class="tab-pane fade" id="step2">
						<div class="tab-pane-inside">
							
                            <div class="form-group">
                                <input hidden type="text" name="customer" value="{{customerlogin}}" class="form-control form-control--sm">
                            </div>
                            
							<div class="clearfix">
								<input id="formcheckoutRadio2" value="COD" name="mode" type="radio" class="radio" checked>
								<label for="formcheckoutRadio2">COD</label>
							
								<input id="formcheckoutRadio3" value="online" name="mode" type="radio" class="radio" >
								<label for="formcheckoutRadio3">Razorpay</label>
							</div>

						</div>
						
						<div class="text-right">
							<button type="submit" class="btn btn--lg w-50" name="place_order" id="place_order">Place Order</button>
							<button type="button" class="btn btn--lg w-50" name="place_order" style="display: none;" id="place_order_pay" >Place Order</button>
						</div>
					</div>
					</div>
            
                
			</div>
			<div class="col-sm-5">
				<h2 class="custom-color">Order Summary</h2>
				<div class="cart-table cart-table--sm pt-3 pt-md-0">
	<div class="cart-table-prd cart-table-prd--head py-1  d-md-flex">
		<div class="cart-table-prd-image text-center">
			Image
		</div>
		<div class="cart-table-prd-content-wrap">
			<div class="cart-table-prd-info">Name</div>
			<div class="cart-table-prd-qty">Qty</div>
			<div class="cart-table-prd-price">Price</div>
		</div>
	</div>
    {% for i in CartProductVar %}
    {% if i.product_id.Product_stock >= i.cart_quantity %}
	<div class="cart-table-prd">
		<div class="cart-table-prd-image">
			<a href="#" class="prd-img"><img class="lazyload fade-up" src="{{i.product_id}}" data-src="{{i.product_id.product_set.first.Thumbnail_image.url}}" alt=""></a>
		</div>
		<div class="cart-table-prd-content-wrap">
			<div class="cart-table-prd-info">
				<h2 class="cart-table-prd-name"><a href="/Categories/viewProduct/?id={{i.product_id.product_set.first.id}}&cat={{i.product_id.product_set.first.Product_Category.id}}">{{i.product_id.product_set.first.Name}}</a></h2>
                <input hidden type="text" value="{{i.product_id.id}}" name="product[]">
			</div>
            
			<div class="cart-table-prd-qty">

               
				<div class="qty qty-changer">
					
					<input disabled type="text" class="qty-input "  value="{{i.cart_quantity}}" data-min="0" data-max="1000">
					
				</div>
				<input hidden type="text" value="{{i.cart_quantity}}" name="counts[]">
				
			</div>
            
			<div class="cart-table-prd-price-total">
				₹{{i.Cart_Total_Price|intcomma}}
				<input hidden type="text" value="{{i.Cart_Total_Price}}" name="product_amount[]">
			</div>
			
		</div>
	</div>
	
	{% endif %}
	{% endfor %}
	{% if apply_promo %}
	<input hidden type="text" value="{{grandtotal}}" name="order_total" id="total_promo">
	{% else %}
	<input hidden type="text" value="{{total}}" name="order_total">
	{% endif %}
	<input hidden type="text" value="{{promo_code}}" name="promo_code" id="promo_code_js">
</div>
<div class="card" id="mydiv" style="display: none;">
	<div class="card-header pt-2" style="height: min-content;background-color: #f3f3f3;border-radius: 5px;border:none;background-color: #d1faf3;">
		<!-- <table>
			<thead>
				<tr>
					<th>images</th>
					<th colspan="0">Name</th>
					<th>quantity</th>
					<th>price</th>
				</tr>
			</thead>
		</table> -->
		<div class="row">
			<div class="col-3"><h4>images</h4></div>
			<div class="col-3"><h4>Name</h4></div>
			<div class="col-3"><h4>Qty</h4></div>
			<div class="col-3"><h4>price</h4></div>
		</div>
	</div>
	<div class="card-body" id="card-body">	
		<table>
			<tbody>
				{% for i in CartProductVar %}
    			{% if i.product_id.Product_stock >= i.cart_quantity %}
				<tr>
					<td><img src="{{i.product_id.product_set.first.Thumbnail_image.url}}" width="50px" height="50px"></td>
					<td colspan="2">{{i.product_id.product_set.first.Name}}</td>
					<td>{{i.cart_quantity}}</td>
					<td>₹{{i.Cart_Total_Price|intcomma}}</td>
				</tr>
				
				{% endif %}
				{% endfor %}
			</tbody>
		</table>

	</div>
	<div class="card-footer" style="background-color: #d1faf3;border:none;">
		<button type="button" id="rzp-button2" style="float: right;">pay now</button>
	</div>

</div>
{% if apply_promo %}
				<div class="card">
					<div class="card-body">
						<h3>Promocode Applied</h3>
						<p>you got the savings!</p><br>
						<form method="POST" action="{% url 'cart_checkout' %}">
							{% csrf_token %}
							<div >
								<p>continue without promocode ?&nbsp;&nbsp;<button type="submit" class=" btn-sm btn-primary" style="background-color: #17c6aa;border: none;width: 70px;" id="promo_check" name="cancel">Yes</button></p>
								
							</div>
						</form>
						
						
					</div>
					
				</div>
				<div class="cart-total-sm">
					<span>Subtotal</span>
					<p><span class="card-total-price" > ₹{{grandtotal|intcomma}}.00</span></p>
                    
				</div>
				<div class="mt-2"></div>
				
				{% else %}

				<div class="mt-2"></div>
				<div class="card">
					<div class="card-body">
						<h3>Apply Promocode</h3>
						<p>Got a promo code? Then you're a few randomly combined numbers & letters away from fab savings!</p>
						<form method = "POST" action="{% url 'cart_checkout' %}">
							<div class="form-inline mt-2">
								<input type="text" class="form-control form-control--sm" name="promo_code" placeholder="Promotion/Discount Code" id="promo_code_js">
								<input hidden type="text" name="product_amount" value="{{total}}" id="product_amount">
								<button type="submit" class="btn" name="promo_btn">Apply</button>
							</div>
						</form>
							
					</div>
				</div>

				<div class="mt-2"></div>
				<div class="cart-total-sm">
					<span>Subtotal</span>
					<span class="card-total-price">₹{{total|intcomma}} .00</span>
                    
				</div>
				<div class="mt-2"></div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
	$(document).ready(function(){
		
	$('#rzp-button2').click(function(){
		var radio_list = document.getElementsByClassName('clearfix')[0]
		var radio_buttons = document.getElementsByTagName('input')
		var radio_values
		for(i=0;i<radio_buttons.length;i++){
			if(radio_buttons[i].type==="radio"&&radio_buttons[i].checked==true){
				var radio_values = radio_buttons[i].value
				
			}
		}
		
		var x = $('#total_promo').val()
		var y = $('#address_id').val();
		var promo =$('#promo_code_js').val()
		
		
		
		$.ajax({
			url : "{% url 'razorpay_values' %}",
			data :{'amount_promo':x,'address':y,'promo_code':promo,'mode':radio_values},
			success :function(data){
			console.log(data.amount)	
	var options = {
		"key": `${data.razor_key}`,
		"amount": `${data.amount}`,
		"currency": "INR",
		"name": `${data.Details}`,
		"description": "Test Transaction",
		"image": `${data.logo}`,
		"order_id": `${data.payment.id}`,
        "callback_url":`${data.callback_url}`,

		"prefill": {
			"name": `${data.Details}`,
			"email": `${data.email}`,
			"contact": `${data.phone}`
		},
		"notes": {
			"address": "Razorpay Corporate Office"
		},
		"theme": {
			"color": "#3399cc"
		}
	};
	var rzp1 = new Razorpay(options); rzp1.on('payment.failed', function (response) {
		alert(response.error.code);
		alert(response.error.description);
		alert(response.error.source);
		alert(response.error.step);
		alert(response.error.reason);
		alert(response.error.metadata.order_id);
		alert(response.error.metadata.payment_id);
	});

	$(document).ready(function(){
		rzp1.open(); 
		e.preventDefault();
	})
	
}																																																																													
})
})
})
</script>
<script>
    $('#add_address').click(function(){
        $('#address_form').fadeToggle(400)
    })
    $('#addAddress_cancel').click(function(){
        $('#address_form').hide(400)   
    })
</script>
<script>
	$('#formcheckoutRadio3').click(function(){
		$('#place_order').hide()
		$('#place_order_pay').show()
		var mode = $('[name="mode"]').val()
		
	})
	$('#place_order_pay').click(function(){
		$('#mydiv').show(200)
	})
	$('#formcheckoutRadio2').click(function(){
		$('#place_order').show()
		$('#place_order_pay').hide()
		$('#mydiv').hide(200)
		
	})

	
</script>
{% endblock contents %}																																																																													