{% extends 'UserMain.html' %}
{% load static %}
{% load humanize %}
{% block title %}Checkout{% endblock title %}
{% block contents %}
<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
		<div class="container">
			<ul class="breadcrumbs">
				<li><a href="/">Home</a></li>
				<li><span>Checkout</span></li>
			</ul>
		</div>
	</div>
	<div class="holder">
		<div class="container">
			<h1 class="text-center">Checkout wizard</h1>
			{% include 'messages.html' %}
			<div class="row p-1">
				<div class="col-sm-4">
					<div class="steps-progress">
						<ul class="nav nav-tabs">

								<li class="nav-item" style="max-width: 100%;">
									<a class="nav-link active" id="nav_1" data-toggle="tab" href="#step2"
										data-step="2"><span>01.</span><span>Delivery Address</span></a>
								</li>
								<li class="nav-item" style="max-width: 100%;">
									<a class="nav-link" id="nav_2" data-toggle="tab" href="#step3"
										data-step="4"><span>02.</span><span>Delivery Method</span></a>
								</li>
						
							
						</ul>
						<div class="progress">
							<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="1"
								aria-valuemin="1" aria-valuemax="4" style="width: 50%;"></div>
						</div>
					</div>
					<form method="POST" action="{% url 'checkout' %}">
						{% csrf_token %}
						<div class="tab-content">

							<div class="tab-pane fade show active" id="step2">
								<div class="tab-pane-inside">
									<div class="form-group  ">
										<div class="form-group select-wrapper">
											<select class="form-control form-control--sm " name="address">
												{% for i in address %}
												<option value="{{i.id}}">{{i.address}},{{i.pincode}}</option>
												{% endfor %}
											</select>
										</div>
										<!-- <div class="col-4">
                                        <button class="btn" id="add_address" type="button">add a new</button>
                                    </div> -->
									</div>
								</div>
								<div class="text-right">
									<button type="button" class="btn btn-sm step-next">Continue</button>
								</div>
							</div>
							<div class="tab-pane fade" id="step3">
								<div class="tab-pane-inside">
									<div class="form-group">
										<input hidden type="text" name="customer" value="{{customerlogin}}"
											class="form-control form-control--sm">
									</div>
									<div class="form-group">
										<input hidden type="text" name="product" value="{{object.id}}"
											class="form-control form-control--sm">
										{% if change_price %}
										<input hidden type="text" name="product_amount" value="{{total}}"
											id="product_amount">
										{% else %}
										<input hidden type="text" name="product_amount" value="{{grandtotal}}"
											id="product_amount">
										{% endif %}
										<input hidden type="text" name="promo_code" value=""
											id="promo-checkout-placeOdr">
										<input hidden type="text" name="discount" value="{{discount}}">
										<input hidden type="text" class="qty-input disabled" name="count"
											value="{{quantity}}" data-min="0" data-max="1000">
									</div>
									<div class="clearfix">
										<input id="COD" value="COD" name="mode" type="radio"
											class="radio" checked>
										<label for="COD">COD</label>
										<input id="Payment" value="Payment" name="mode" type="radio"
											class="radio" checked>
										<label for="Payment">Payment</label>
									</div>
									<div class="clearfix">
										<!-- <input id="formcheckoutRadio3" value="" name="mode" type="radio" class="radio">
								<label for="formcheckoutRadio3">Same-Day $20.00 (Evening Delivery)</label> -->
									</div>
									<input type="hidden" value="" name="promo_checkout_id_hidden"
										id="promo-checkout-placeOdr">
									<div class="clearfix mt-1 mt-md-2">
										<button type="submit" class="btn btn--lg w-100" name="place_order">Place
											Order</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-sm-4">
					<h2 class="custom-color">Order Summary</h2>
					<div class="cart-table cart-table--sm pt-3 pt-md-0">
						<div class="cart-table-prd cart-table-prd--head py-1  d-md-flex">
							<div class="cart-table-prd-image text-center">
								Image
							</div>
							<div class="cart-table-prd-content-wrap">
								<div class="cart-table-prd-info">Name</div>
								<div class="cart-table-prd-qty">Qty</div>
								<div class="cart-table-prd-price">Price</div>
							</div>
						</div>

						<div class="cart-table-prd">
							<div class="cart-table-prd-image">
								<a href="#" class="prd-img"><img class="lazyload fade-up"
										src="{{products.Thumbnail_image.url}}"
										data-src="{{products.Thumbnail_image.url}}" alt=""></a>
							</div>
							<div class="cart-table-prd-content-wrap">
								<div class="cart-table-prd-info">
									<h2 class="cart-table-prd-name"><a
											href="/Categories/viewProduct/?id={{products.id}}&cat={{products.Product_Category.id}}">{{products.Name}}</a>
									</h2>
									<!-- <input  type="text" value="{{object}}" name="product"> -->

								</div>

								<div class="cart-table-prd-qty">
									<div class="qty qty-changer">
										<input disabled type="text" class="qty-input " name="count" value="{{quantity}}"
											data-min="0" data-max="1000">
									</div>
								</div>
								<div class="cart-table-prd-price-total">
									₹{{total|intcomma}}.00

								</div>
							</div>

						</div>

					</div>


				</div>
				<div class="col-sm-4">

					<div class="card">
						<div class="card-body" id="promo-activations">
							<h3>Apply Promocode</h3>
							<p style="font-size: small;font-style: italic;">Got a promo code? Then you're a few randomly combined numbers & letters away from fab
								savings!</p>
							<div class="form-inline mt-2">
								<input type="text" name="promo_code" class="form-control form-control--sm"
									placeholder="Promotion/Discount Code" id="promo-code">
								<a class="btn btn-sm text-center" id="promo-check">Apply</a>
							</div>
						</div>
					</div>
					<div class="cart-total-sm ml-2">
						<span class="">Subtotal</span>
						<p><span class="card-total-price" id="total_promo"> ₹{{total|intcomma}}.00</span></p>
						<input type="hidden" value="{{total}}" id="total_promo_hidden">

					</div>


					<div class="mt-2"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$('#add_address').click(function () {
		$('#address_form').fadeToggle(400)
	})
	$('#addAddress_cancel').click(function () {
		$('#address_form').hide(400)
	})

	$('#')
</script>
<script>
	$(document).ready(function () {
		$('#promo_check').click(function () {
			promo_code = document.getElementById('promo_code').value;
			product_amount = document.getElementById('product_amount').value;
			$.ajax({
				url: "{% url 'Apply_promo' %}",
				data: { 'product_amount': product_amount, 'promo_code': promo_code },
				success: function (data) {

					document.getElementById('total_promo').innerHTML = data.last_price, .00
					document.getElementById('product_amount').value = data.last_price, .00
				}
			})
		})

		$(document).on('click', "#promo-cancel", function () {
			var amount = $("#total_promo_hidden").val()
			var html_data = `<h3>Apply Promocode</h3>
						<p>Got a promo code? Then you're a few randomly combined numbers & letters away from fab savings!</p>
						<div class="form-inline mt-2">
							<input type="text" name="promo_code" class="form-control form-control--sm" placeholder="Promotion/Discount Code" id="promo-code">
							<a class="btn btn-sm text-center" id="promo-check">Apply</a>
						</div>`
			$('#promo-checkout-placeOdr').val('')
			$("#total_promo").html(`₹${amount}.00`)
			$('#promo-activations').html(html_data)
		});

		$(document).on('click', "#promo-check", function () {
			console.log('hi')
			var promo_code = $("#promo-code").val()
			var amount = $("#total_promo_hidden").val()
			console.log(amount)
			$.ajax({
				url: "/checkout_set_promo/",
				data: { "code": promo_code },
				success: (res) => {
					console.log(res)
					if (res.status) {
						var prize = amount - res.data[0]['discount']
						var html_data = `<h3>Promocode is activated</h3>
						<p>Your Promocode is Valid However you can also cancel</p>
						<div class="form-inline mt-2">
							<a class="btn btn-sm text-center" id="promo-cancel">Cancel</a>
						</div>`
						console.log(prize)
						$("#total_promo").html(`₹${prize}.00`)
						$('#promo-checkout-placeOdr').val(res.data[0]['coupon_code'])
						$('#promo-activations').html(html_data)
					} else {
						$('#promo-checkout-placeOdr').val('')
						alert('promocode is not valid')
					}
				},
				error: (err) => {
					alert(err)
				}
			})
		});
	})

</script>

{% endblock contents %}