{% extends 'UserMain.html' %}
{% load static %}
{% block title %}My Account{% endblock title %}
{% block contents %}
<style>
    	#mydiv {
    position:fixed;
    top: 50%;
    left: 50%;
    width: 19rem;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -10em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #fff;
	height: max-content;background-color: black;color: cadetblue;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	
}
.btn-order-cancel{
	width: 100%;
	height: 50px;
	border:none;
	color: black;
	text-transform: uppercase;
	background-color: #17c6aa;
	font-weight: bold;
}
.btn-order-continue{
	width: 100%;
	height: 50px;
	border:none;
	color: black;
	text-transform: uppercase;
	background-color: #17c6aa;
	font-weight: bold;
}
.body{
	
	filter: blur(8px);
  -webkit-filter: blur(2px);
 
}
</style>
<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><span>My account</span></li>
            </ul>
        </div>
    </div>
	<div class="holder">
        <div class="container">
            <div class="row">
                <div class="col-md-3 aside aside--left">
                    <div class="list-group">
                        <a href="{% url 'my_account' %}" class="list-group-item active">Account Details</a>
                        <a href="{% url 'address' %}" class="list-group-item">My Addresses</a>
                        <a href="{% url 'my_wishlist' %}" class="list-group-item">My Wishlist</a>
                        <a href="{% url 'my_orders' %}" class="list-group-item">My Order History</a>
                        <!-- <a href="#" class="list-group-item disabled">My Reviews</a>
                        <a href="#" class="list-group-item disabled">My Saved Tags</a>
                        <a href="#" class="list-group-item disabled">Compare Products</a> -->
                    </div>
                </div>
                <div class="col-sm-8 aside">
                    
                    <h3 class="mb-3" style="font-size: 29px;">Account Details</h3>
                    <div class="row vert-margin">
                        <div class="col-sm-12">
                            <div class="card" style="margin-bottom:15px;border-radius: 10px;background-color: rgb(228, 248, 228) ;">
                                <div class="card-body">
                                    {% include 'messages.html' %}
                                    <h3>Personal Info  <a href="{% url 'logoutcustomer' %}" style="float:right;color: white;background-color: #17c6aa;border-radius: 5px;padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;" class="link-icn " ><i class="icon-login"></i>Log Out</a></h3>
                                    <p><b>First Name:</b> {{customer_obj.name}}<br>
                                        <b>E-mail:</b> {{customer_obj.mail}}<br>
                                        <b>Phone:</b> {{customer_obj.phone}}</p>
                                    <div class="mt-2 clearfix">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <a href="#" style="color: red;" class="link-icn " id="delete_acc"><i class="icon-recycle"></i>Delete My Account</a>
                                            </div>
                                           
                                        </div>
                                       
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card mt-3 d-none" id="updateDetails">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="card-body">
                                <h3>Update Account Details</h3>
                                <div class="row mt-2">
                                    <div class="col-6">
                                        <label class="text-uppercase">User Name:</label>
                                        <div class="form-group">
                                            {{form.name}}
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="text-uppercase">Mail ID:</label>
                                        <div class="form-group">
                                            {{form.mail}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-sm-6">
                                        <label class="text-uppercase">Phone:</label>
                                        <div class="form-group">
                                            {{form.phone}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        
                                        <div class="form-group">
                                            {{form.password.as_hidden}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        
                                        <div class="form-group">
                                            {{form.password_confirmation.as_hidden}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        
                                        <div class="form-group">
                                           {{form.status.as_hidden}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        
                                        <div class="form-group">
                                            {{form.registered_date.as_hidden}}
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <button type="reset" class="btn btn--alt js-close-form" data-form="#updateDetails">Cancel</button>
                                    <button type="submit" class="btn ml-1">Update</button>
                                </div>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card"  id="mydiv" style="display: none;">
	<div class="card-body">
		<p style="color: #fff;">Are you sure you want to delete your account?</p>
	</div>
	<div class="card-footer">
		<div class="row">
			<div class="col-6">
				<button class="btn-order-cancel" id="btn-cancel">cancel</button>
			</div>
			<div class="col-6" >
				
				<button   class="btn-order-continue" id="btn-continue" >continue</button>
			</div>
		</div>
		
	</div>
</div>
<script>
    $('#delete_acc').click(function(){
        $('#mydiv').show(200)
    })
    $('#btn-cancel').click(function(){
        $('#mydiv').hide(200) 
    })
    $('#btn-continue').click(function(){
        window.location.href = "{% url 'delete_account' %}"
    })
</script>
{% endblock contents %}