{% extends 'UserMain.html' %}
{% load static %}
{% load humanize %}
{% block title %}My Orders{% endblock title %}
{% block contents %}

<style>
	.page-info{


		border-radius: 20px;
		background: rgb(218, 218, 218);
		padding: 3px; 
		width: 20px;
		height:10px;  
		animation-name: example;
		animation-duration: 4s;
	}
	

	@keyframes example {
		0%   {background-color: rgb(160, 158, 158);}
		25%  {background-color: rgb(187, 187, 187);}
		50%  {background-color: rgb(197, 197, 197);}
		100% {background-color: rgb(218, 218, 218)	;}
	}

	#mydiv {
    position:fixed;
    top: 50%;
    left: 50%;
    width: 19rem;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -10em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #fff;
	height: max-content;background-color: black;color: cadetblue;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	
}
.btn-order-cancel{
	width: 100%;
	height: 50px;
	border:none;
	color: black;
	text-transform: uppercase;
	background-color: #17c6aa;
	font-weight: bold;
}
.btn-order-continue{
	width: 100%;
	height: 50px;
	border:none;
	color: black;
	text-transform: uppercase;
	background-color: #17c6aa;
	font-weight: bold;
}
.body{
	
	filter: blur(8px);
  -webkit-filter: blur(2px);
 
}

</style>

<div  id="body-div" class="body-div">
<div class="page-content">
	<div class="holder breadcrumbs-wrap mt-0">
	<div class="container">
		<ul class="breadcrumbs">
			<li><a href="/">Home</a></li>
			<li><span>My account</span></li>
		</ul>
	</div>
</div>
	<div class="holder" >
	<div class="container">
		<div class="row">
			<div class="col-md-3 aside aside--left">
				<div class="list-group">
					<a href="{% url 'my_account' %}" class="list-group-item">Account Details</a>
					<a href="{% url 'address' %}" class="list-group-item">My Addresses</a>
					<a href="{% url 'my_wishlist' %}" class="list-group-item">My Wishlist</a>
					<a href="{% url 'my_orders' %}" class="list-group-item active">My Order History</a>
					<!-- <a href="#" class="list-group-item disabled">My Reviews</a>
					<a href="#" class="list-group-item disabled">My Saved Tags</a>
					<a href="#" class="list-group-item disabled">Compare Products</a> -->
				</div>
			</div>
			<div class="col-md-9 aside">
			<h3 style="font-size: 25px;" class="mb-3">Order History</h1>
			
			{% if order_det %}
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-order-history">
						<thead>
						<tr>
							<th scope="col"># </th>
							<th scope="col">Order Number</th>
							<th scope="col">Order Date </th>
							<th scope="col">Status</th>
							<th scope="col">Total Price</th>
							<th scope="col"></th>
						</tr>
						</thead>
						<tbody>
						{% for i in  order_det %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td><b>{{i.order_id_m}}</b> <a href="{% url 'view_orders' i.order_id_m %}" class="ml-1">View Details</a></td>
							<td>{{i.order_date}}</td>
							<td>{{i.order_status}}</td>
							<td><span class="color">{{i.order_total}}</span></td>
							{% if 'delivered' in i.order_status %}
							<td><a href="#" class="btn btn--grey btn--sm">rate this</a></td>
							{% else %}
							<td><button class="btn btn--grey btn--sm btn-cancel-order +'{{i.id}}'" name="cancel_order" value="{{i.id}}"  id="cancel-button{{i.id}}">Cancel Order</button></td>
							{% endif %}
						</tr>
						{% endfor %}
						</tbody>
					</table>
					<hr>
					{% if order_det.paginator.num_pages > 1 %}
					<div class="row" style="text-align: center;">
						<div class="col-sm-12">
							{% if order_det.has_previous %}
							<a href="?page=1">&laquo; First</a>
							<a href="?page={{order_det.previous_page_number}}">Previous</a>
							{% endif %}
							<span class="page-info"> {{order_det.number}} of {{ order_det.paginator.num_pages }} </span>
							{% if order_det.has_next %}
							<a href="?page={{order_det.next_page_number}}">Next</a>
							<a href="?page={{order_det.paginator.num_pages}}">Last &raquo; </a>
							{% endif %}
						</div>
					</div>
					{% endif %}
				</div>

				{% else %}
				<div class="empty-wishlist js-empty-wishlist text-center py-3 py-sm-5"style="opacity: .5;">
					<h3>You don't have any history</h3>
					<div class="mt-5">
						<a href="/" class="btn">Continue shopping</a>
					</div>
				</div>
				
				{% endif %}
				
			</div>
			
		</div>
		
	</div>
	
</div>

</div>
</div>
<div class="card"  id="mydiv" style="display: none;">
	<div class="card-body">
		<p style="color: #fff;">Are you sure you want to cancel this order?</p>
	</div>
	<div class="card-footer">
		<div class="row">
			<div class="col-6">
				<button class="btn-order-cancel" id="btn-cancel">cancel</button>
			</div>
			<div class="col-6" >
				
				<button   class="btn-order-continue" id="btn-continue" >continue</button>
			</div>
		</div>
		
	</div>
</div>
	


<script>
	$('.btn-cancel-order').click(function(){
		$('#mydiv').show(200)
		
	})
	$('#btn-cancel').click(function(){
		$('#mydiv').hide(200)
		
	})
	$('.btn-cancel-order').click(function(){
	id_val = $(this).attr('value');	
	
	$('#btn-continue').val(id_val) 
	document.getElementById('id_val_field').innerHTML = 'id_val'
	
	})
	$('#btn-continue').click(function(){
		x = $(this).attr('value')
		console.log(x,"id")
		window.location.href= `/cancel_order/${parseInt(x)}`
	})


</script>
{% endblock contents %}