{% extends 'UserMain.html' %}
{% load static %}
{% block title %}Order{% endblock title %}
{% block contents %}
<style type="text/css">
    



    body
    {
        background:#f2f2f2;
    }

    .payment
	{
		border:1px solid #f2f2f2;
		height:350px;
        border-radius:20px;
        background:#fff;
	}
   .payment_header
   {
	   background:#17c6aa;
	   padding:20px;
       border-radius:20px 20px 0px 0px;
	   
   }
   
   .check
   {
	   margin:0px auto;
	   width:50px;
	   height:50px;
	   border-radius:100%;
	   background:#fff;
	   text-align:center;
   }
   
   .check i
   {
	   vertical-align:middle;
	   line-height:50px;
	   font-size:30px;
   }

    .content 
    {
        text-align:center;
    }

    .content  h1
    {
        font-size:25px;
        padding-top:25px;
    }

    .content a
    {
        width:100px;
        height:10px;
        color:#fff;
        border-radius:5px;
        padding:5px 10px 10px;
        background:#17c6aa;
        
    }

    .content a:hover
    {
        text-decoration:none;
        background:#000;
    }
   

</style>


<div class="container">
    <div class="row">
       <div class="col-md-6 mx-auto mt-5">
          <div class="payment">
             <div class="payment_header">
                <div class="check"><i class="icon-check" aria-hidden="true"></i></div>
             </div>
             <div class="content">
                <h1>Order Placed !  </h1>
                <h3>Thank you for shopping with us</h3>
                <p>We received your purchase request;
                    we'll be in touch shortly!</p>
               <div class="row">
                   <div class="col-5 pl-2">
                   
                    <a href="{% url 'my_orders' %}" >view orders</a>   
                   </div>
                   <!--      -->
                   <div class="col-7 pr-2">
                    <a href="{% url 'userIndex' %}" >continue shopping</a>
                   </div>
               </div>
                
             </div>
             
          </div>
       </div>
    </div>
 </div>

{% endblock contents %}

