{% extends 'UserMain.html' %}
{% load static %}
{% load humanize %}
{% block title %}Checkout{% endblock title %}
{% block contents %}

<div class="page-content">
	<div class="holder">
		<div class="container">
			<h1 class="text-center">Payment Summary</h1>
			<div class="row">
				<div class="col-sm-6">
					<h2 class="custom-color">Order</h2>
					<div class="cart-table cart-table--sm pt-3 pt-md-0">
						<div class="cart-table-prd cart-table-prd--head py-1  d-md-flex">
							<div class="cart-table-prd-image text-center">
								Image
							</div>
							<div class="cart-table-prd-content-wrap">
								<div class="cart-table-prd-info">Name</div>
								<div class="cart-table-prd-qty">Qty</div>
								<div class="cart-table-prd-price">Price</div>
							</div>
						</div>

						<div class="cart-table-prd">
							<div class="cart-table-prd-image">
								<a href="#" class="prd-img"><img class="lazyload fade-up"
										src="{{item.product_set.first.Thumbnail_image.url}}"
										data-src="{{item.product_set.first.Thumbnail_image.url}}" alt=""></a>
							</div>
							<div class="cart-table-prd-content-wrap">
								<div class="cart-table-prd-info">
									<h2 class="cart-table-prd-name"><a
											href="/Categories/viewProduct/?id={{item.product_set.first.id}}&cat={{item.product_set.first.Product_Category.id}}">{{item.product_set.first.Name}}</a>
									</h2>
								</div>
								<div class="cart-table-prd-qty">
									<div class="qty qty-changer">
										<input disabled type="text" class="qty-input " name="count" value="{{quantity}}"
											data-min="0" data-max="1000">
									</div>
								</div>
								<div class="cart-table-prd-price-total">
									₹{{total|intcomma}}.00
								</div>
							</div>

						</div>

					</div>
					<div class="mt-2">
					</div>

					<div class="mt-2"></div>

				</div>
				<div class="col-sm-4 m-5">
					<div class="clearfix m-5 mt-md-2" style="text-align: center;">
							<div class="mt-2 "style="text-align: center;"><button id="rzp-button1" class="btn btn--lg w-100">Pay Now</button></div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>



<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
	var options = {
		"key": "{{payment.razor_key}}",
		"amount": "{{payment.amount}}",
		"currency": "INR",
		"name": "{{Details.name}}",
		"description": "Test Transaction",
		"image": "{% static logo %}",
		"order_id": "{{payment.id}}",
        "callback_url":"{{payment.callback_url}}",

		"prefill": {
			"name": "{{Details.name}}",
			"email": "{{Details.mail}}",
			"contact": "+91"+"{{Details.phone}}"
		},
		"notes": {
			"address": "Razorpay Corporate Office"
		},
		"theme": {
			"color": "#3399cc"
		}
	};
	var rzp1 = new Razorpay(options); rzp1.on('payment.failed', function (response) {
		alert(response.error.code);
		alert(response.error.description);
		alert(response.error.source);
		alert(response.error.step);
		alert(response.error.reason);
		alert(response.error.metadata.order_id);
		alert(response.error.metadata.payment_id);
	});

	document.getElementById('rzp-button1').onclick = function (e) {
		rzp1.open(); e.preventDefault();
	}

</script>

{% endblock contents %}