{% extends 'UserMain.html' %}
{% load static %}
{% load humanize %}
{% load post_tag %}
{% block title %}Order view{% endblock title %}
{% block contents %}
<style>
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    background-color: #eeeeee;
    font-family: 'Open Sans', serif
}



.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.10rem
}

.card-header:first-child {
    border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

.track .step {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -18px;
    text-align: center;
    position: relative
}

.track .step.active:before {
    background: #17c6aa
}

.track .step::before {
    height: 7px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 18px
}

.track .step.active .icon {
    background: #17c6aa;
    color: #fff
}

.track .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-radius: 100%;
    background: #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 7px
}

.itemside {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%
}

.itemside .aside {
    position: relative;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.img-sm {
    width: 80px;
    height: 80px;
    padding: 7px
}

ul.row,
ul.row-sm {
    list-style: none;
    padding: 0
}

.itemside .info {
    padding-left: 15px;
    padding-right: 7px
}

.itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}




</style>
<style>
    body {
    background-color: #eee
}

.date {
    font-size: 11px
}

.divider {
    height: 0px !important;
    background-color: blue
}

.track-line {
    height: 4px !important;
    background-color: #17c6aa
}
.track-line-none {
    height: 4px !important;
    background-color: rgb(187, 184, 184);
}

.dot {
    height: 10px;
    width: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0px;
    background-color: rgb(187, 184, 184);
    border-radius: 50%;
    display: inline-block
}

.big-dot {
    height: 25px;
    width: 25px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #17c6aa;
    border-radius: 50%;
    display: inline-block
}

.big-dot i {
    font-size: 12px
}
</style>

<div class="container" style="margin-top: 50px;">
    <article class="card">
        <header class="card-header"> My Orders / Tracking </header>
        <div class="card-body">
            <h6>Order ID: {{id}}</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Estimated Delivery time:</strong> <br>29 nov 2019 </div>
                    <div class="col"> <strong>Delivery Address:</strong> <br> {{order.order_details_set.first.address.address}}</div>
                    <div class="col"> <strong>Status:</strong> <br> {{order.order_status}}</div>
                    <div class="col"> <strong>Payment status:</strong> <br> {{order.payment_status}} </div>
                    <div class="col"> <strong>Payment mode:</strong> <br> {{order.order_details_set.first.mode}} Mode</div>
                </div>
            </article>
           
           
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-white p-2 border rounded px-3">
                            <div class="d-flex flex-row justify-content-between align-items-center order">
                                <div class="d-flex flex-column order-details"><span>Your order has been delivered</span><span class="date">by DHFL on 21 Jan, 2020</span></div>
                                <!-- <div class="tracking-details"><button class="btn btn-outline-primary btn-sm" type="button">Track order details</button></div> -->
                            </div>
                            <hr class="divider mb-4">
                            {% if order.order_status == "processing" %}
                            <div class="d-flex flex-row justify-content-between align-items-center align-content-center"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"><i class="fa fa-check text-white"></i></span></div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <div class="d-flex flex-column align-items-start"><span>Order placed</span></div>
                                <div class="d-flex flex-column justify-content-center"><span>Order confirmed</span></div>
                                <div class="d-flex flex-column justify-content-center align-items-center"><span>Shipped</span></div>
                                <div class="d-flex flex-column align-items-center"><span>Out for delivery</span></div>
                                <div class="d-flex flex-column align-items-end"><span>Delivered</span></div>
                            </div>
                            {% elif order.order_status == "shipped" %}
                            <div class="d-flex flex-row justify-content-between align-items-center align-content-center"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"><i class="fa fa-check text-white"></i></span></div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <div class="d-flex flex-column align-items-start"><span>Order placed</span></div>
                                <div class="d-flex flex-column justify-content-center"><span>Order confirmed</span></div>
                                <div class="d-flex flex-column justify-content-center align-items-center"><span>Shipped</span></div>
                                <div class="d-flex flex-column align-items-center"><span>Out for delivery</span></div>
                                <div class="d-flex flex-column align-items-end"><span>Delivered</span></div>
                            </div>
                            {% elif order.order_status == "failed" %}
                            <div class="d-flex flex-row justify-content-between align-items-center align-content-center"><span class="d-flex justify-content-center align-items-center big-dot icon-close-bold" style="background-color: red;"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"><i class="fa fa-check text-white"></i></span></div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <div class="d-flex flex-column align-items-start"><span>Order cancelled</span></div>
                                <div class="d-flex flex-column justify-content-center"><span>Order confirmed</span></div>
                                <div class="d-flex flex-column justify-content-center align-items-center"><span>Shipped</span></div>
                                <div class="d-flex flex-column align-items-center"><span>Out for delivery</span></div>
                                <div class="d-flex flex-column align-items-end"><span>Delivered</span></div>
                            </div>
                            {% elif order.order_status == "out for delivery" %}
                            <div class="d-flex flex-row justify-content-between align-items-center align-content-center"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"><i class="fa fa-check text-white"></i></span></div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <div class="d-flex flex-column align-items-start"><span>Order placed</span></div>
                                <div class="d-flex flex-column justify-content-center"><span>Order confirmed</span></div>
                                <div class="d-flex flex-column justify-content-center align-items-center"><span>Shipped</span></div>
                                <div class="d-flex flex-column align-items-center"><span>Out for delivery</span></div>
                                <div class="d-flex flex-column align-items-end"><span>Delivered</span></div>
                            </div>
                            {% elif order.order_status == "delivered" %}
                            <div class="d-flex flex-row justify-content-between align-items-center align-content-center "><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"><i class="fa fa-check text-white"></i></span></div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <div class="d-flex flex-column align-items-start"><span>Order placed</span></div>
                                <div class="d-flex flex-column justify-content-center"><span>Order confirmed</span></div>
                                <div class="d-flex flex-column justify-content-center align-items-center"><span>Shipped</span></div>
                                <div class="d-flex flex-column align-items-center"><span>Out for delivery</span></div>
                                <div class="d-flex flex-column align-items-end"><span>Delivered</span></div>
                            </div>
                            {% else %}
                            <div class="d-flex flex-row justify-content-between align-items-center align-content-center"><span class="d-flex justify-content-center align-items-center big-dot icon-check1"></span>
                                <hr class="flex-fill track-line-none"><span class=" dot"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"></span>
                                <hr class="flex-fill track-line-none"><span class="dot"><i class="fa fa-check text-white"></i></span></div>
                            <div class="d-flex flex-row justify-content-between align-items-center">
                                <div class="d-flex flex-column align-items-start"><span>Order placed</span></div>
                                <div class="d-flex flex-column justify-content-center"><span>Order confirmed</span></div>
                                <div class="d-flex flex-column justify-content-center align-items-center"><span>Shipped</span></div>
                                <div class="d-flex flex-column align-items-center"><span>Out for delivery</span></div>
                                <div class="d-flex flex-column align-items-end"><span>Delivered</span></div>
                            </div>

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            
            <ul class="row">
                {% for i in view_order_obj %}
                <li class="col-md-4">
                    <figure class="itemside mb-3">
                        <div class="aside"><img src="{{i.product.product_set.first.Thumbnail_image.url}}" class="img-sm border"></div>
                        <figcaption class="info align-self-center">
                            <p class="title">{{i.product.product_set.first.Name}} <br> {{i.product.Varient_name}}<br>{{i.count}},Nos</p> <span class="text-muted">${{i.product.Selling_Prize|intcomma}}  </span><hr><span class="text-muted">${{i.product.Selling_Prize|intcomma}} x {{i.count}} = {% multiply i.product.Selling_Prize i.count %}</span><br>
                        </figcaption>
                    </figure>
                </li>
                {% endfor %}
                <li class="col">
                <div class="container">
                    <div class="card" style="float: right;">
                        <div class="card-body">
                            <!-- <span>Total :{% for i in view_order_obj %}{% multiply i.product.Selling_Prize i.count %}{% endfor %}</span><br> -->
                            {% if order.discount %}<span class="text-muted">Discount : -{{order.discount}}</span>{% endif %}
                            <h3>Sub Total : {{order.order_total}}</h3>
                        </div>
                       
                    </div>
                </div>
                 </li>   
                    
               
            </ul>
            
            <hr> <a href="{% url 'my_orders' %}" class="btn btn-primary" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to orders</a>
        </div>
    </article>
</div>
{% endblock contents %}