
@import url("https://fonts.googleapis.com/css?family=Raleway:400");

@property --angle {
  syntax: '<angle>';
  initial-value: 45deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}


.view-more {
  margin: 0;
  color: rgb(87, 87, 87);
  font-family: Raleway, sans-serif;
  text-decoration: none;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
  max-width: 150px;
  text-align: center;
}

.box {
  font-size: 15px;
  margin: 1px;
  border: 0.4rem solid;
  padding: 15px;
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.5turn) 30;
}
.box:hover{
    animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 400deg;
  }
}
