{% extends 'main.html' %}
{% block title %}Admin Logs{% endblock title %}
{% block contents %}
<script>
  $(document).ready(function(){
    $('#filter-btn').click(function(){
      $('#filter').toggle(400)
    })
  })
</script>
<div class="col-lg-12 grid-margin stretch-card" id="filter" style="display: none;">
<form action="https://momooz.com/primal_momooz/admin/tags-filter" method="post" class="card filter" style="">
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Offer Name</label>
            <input type="text" class="form-control" name="filter_name" id="filter_name" placeholder="eg: admin">
          </div>
        </div>
        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Type</label>
            <select class="form-control" name="filter_type" id="filter_type">
              <option value="">All</option>
                      <option style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">


  


value="product"&gt;Product</option>
                      <option <div="" style="border:1px solid #990000;padding-left:20px;margin:0 0 10px 0;">


value="1"&gt;Flat</option>
            </select>
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Zone</label>
            <select class="form-control" name="filter_zone" id="filter_zone">
              <option selected="selected" value="">All</option>
              



  


            </select>
          </div>
        </div>
        
        <div class="col-md-2 col-lg-2">
          <div class="form-group" style="margin-top: 1.5rem;text-align: right;">

            
<button type="reset" class="btn btn-secondary" data-toggle="tooltip" title="" data-original-title="Reset"><i class="fas fa-undo-alt" ></i></button>



           
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="" data-original-title="Apply"><i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
              <h3 class="card-title" style="float: left;">Logs</h3>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <div class="ml-auto" style="float: right;">
                <button id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter"><i class="fa fa-filter"></i></button>
                
              </div>
            </div>
            
            
          </div>
      <!-- <a href="#" id="add-role-btn" class="btn btn-primary ml-auto">Add Tag</a> -->
    </div>
    {% include 'messages.html' %}
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap">
        <thead>
          <tr>
            <th class="w-1">#</th>
            <th>User</th>
            
             <th colspan="1" style="text-align: center;">Activity</th>
            <!-- <th>Expiry</th> -->
            <th>Date</th>
            <th>Time</th>
            <th>IP</th>
          </tr>
        </thead>
        <tbody>
            {% for i in log_obj %}
           <tr>
               <td>{{forloop.counter}}</td>
               <td colspan="-1">{{i.user}}</td>
               <td colspan="1" ><p style="color: black;">{{i.activity}}</p></td>
               <td>{{i.date}}</td>
               <td>{{i.date}}</td>
               <td>{{i.ip_address}}</td>
           </tr>
           {% endfor %}
                        </tbody>
      </table>
    </div>
    <div class="pagination">
      <ul>
                    </ul>  
    </div>
  </div>
</div>
{% endblock contents %}