{% extends 'main.html' %}
{% block title %}Add Coupons{% endblock title %}
{% block contents %}
<div id="add-role-form" class="col-12" style="">
    <form  enctype="multipart/form-data" method="POST" class="card" name="add" id="add">
      {% csrf_token %}
        <div class="card-header">
        <h3 class="card-title">Add Coupon Code</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 col-lg-6">
            <div class="form-group">
              <label class="form-label">Coupon Code<span class="danger" style="color: red;"> *</span></label>
              {{form.coupon_code}}
            </div>
             <div class="form-group">
                <label class="form-label">Date From<span class="danger" style="color: red;"> *</span></label>
                {{form.from_date}}
              </div>


                
              <div class="form-group">
                <label class="form-label">Date To<span class="danger" style="color: red;"> *</span></label>
                {{form.to_date}}
              </div>

            
            <div class="form-group">
              <label class="form-label">Coupon Code Type<span class="danger" style="color: red;"> *</span></label>
              {{form.type}}
            </div>
          

               <div class="form-group">
                <label class="form-label">Discount<span class="danger" style="color: red;"> *</span></label>
                 {{form.discount}}
              </div>

               <div class="form-group">
                <label class="form-label">User Count<span class="danger" style="color: red;"> *</span></label>
                 {{form.user_count}}
              </div>

              <div class="form-group">
                <label class="form-label">Minimum Amount<span class="danger" style="color: red;"> *</span></label>
                 {{form.min_amount}}
              </div>
              <div class="form-group">
                
                 {{form.status.as_hidden}}
              </div>
          </div>
          
        </div>
      </div>
      
      <div class="card-footer " style="text-align: center;background-color: white;">
        <div class="col-sm-12" style="text-align: center;">
            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <a href="{% url 'coupons' %}" class="btn btn-light">Cancel</a>
        </div>
       
    </div>
    </form>
  </div>
  {% endblock contents %}