{% extends 'main.html' %}
{% block title %}Coupons{% endblock title %}
{% block contents %}
<script>
  $(document).ready(function(){
    $('#filter-btn').click(function(){
      $('#filter').toggle(400)
    })
  })
</script>
<div class="col-lg-12 grid-margin stretch-card" style="display: none;" id="filter">
<form action="https://momooz.com/primal_momooz/admin/admin-filter" method="post" class="card filter" style="">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label class="form-label">Coupon Code</label>
          <input type="text" class="form-control" name="filter_name" id="filter_name" placeholder="coupon code">
        </div>
      </div>
      
      <div class="col-md-2 col-lg-2">
        <div class="form-group" style="margin-top: 1.5rem;text-align: right;">

          
<button type="reset" style="height: 46px;" class="btn btn-secondary" data-toggle="tooltip" title="" data-original-title="Reset"><i class="fa fa-undo-alt"></i></button>



         
          <button type="submit" style="height: 46px;" class="btn btn-primary" data-toggle="tooltip" title="" data-original-title="Apply"><i class="fa fa-check"></i></button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>

<div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        {% include 'messages.html' %}
        <div class="card-header">
          <div class="row">
            <div class="col-4">
              <h3 class="card-title" style="float: left;">Coupons</h3>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <div class="ml-auto" style="float: right;">
                <button  id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter"><i class="fa fa-filter"></i></button>
     
              </div>
            </div>
            
            
          </div>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr>
                <th><b>#</b></th>
                <th><b>COUPON CODE</b></th>
                <th><b>CUSTOMER ID</b></th>
                <th><b>ORDER ID</b></th>
                <th><b>APPLIED DATE</b></th>
                
              </tr>
            </thead>
            <tbody>
              {% for i in coupon_obj %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.coupon_code }}</td>
                                <td>{{ i.type }}</td>
                                <td>{{ i.discount }}</td>
                                <td>{{ i.user_count }}</td>
                                <td>{{ i.min_amount }}</td>
                                <td>{{ i.from_date }}</td>
                                <td>{{ i.to_date }}</td>
                                <td>{% if i.status == 'active' %}<label class="badge badge-success">{{ i.status }}</label>{% else %}<label class="badge badge-warning">{{ i.status }}{% endif %}</label></td>
                                      
                
              </tr>
                 
              {% endfor %}
               
            </tbody>
          </table>
        </div>
        <div class="pagination">
          <ul>
                        </ul>  
        </div>
      </div>
    
    
   

{% endblock contents %}