{% extends 'main.html' %}
{% block title %}Coupons{% endblock title %}
{% block contents %}
<script>
  $(document).ready(function(){
    $('#filter-btn').click(function(){
      $('#filter').toggle(400)
    })
  })
</script>
<div class="col-lg-12 grid-margin stretch-card" id="filter" style="display: none;">
<form action="https://momooz.com/primal_momooz/admin/admin-filter" method="post" class="card filter" style="">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" name="filter_name" id="filter_name" placeholder="eg: admin">
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label class="form-label">Email</label>
          <input type="text" class="form-control" name="filter_email" id="filter_email" placeholder="eg: admin@example.com">
        </div>
      </div>
      
    <!--  <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label class="form-label">Code</label>
          <input type="text" class="form-control" name="filter_code" id="filter_code" placeholder="eg: Adm001">
        </div>
      </div>-->
      
      <div class="col-md-2 col-lg-2">
        <div class="form-group">
          <label class="form-label">Role</label>
          <select class="form-control" name="filter_role" id="filter_role" style="height: 46px;">
            <option selected="selected" value="">All</option>
            










			




<option value="2" style="text-transform:capitalize">Sub Admin</option>





<option value="3" style="text-transform:capitalize">Superadmin</option>






<option value="4" style="text-transform:capitalize">Test roles</option>


		




<option value="8" style="text-transform:capitalize">AdminBanglore</option>





<option value="9" style="text-transform:capitalize">Vendor</option>







<option value="20" style="text-transform:capitalize">testrole</option>                  </select>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="form-group">
          <label class="form-label">Status</label>
          <select class="form-control" name="filter_status" id="filter_status" style="height: 46px;">
            <option value="">All</option>
                    <option value="1">Active</option>
                    <option value="2">Suspended</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="form-group" style="margin-top: 1.5rem;text-align: right;">

          
<button type="reset" style="height: 46px;" class="btn btn-secondary" data-toggle="tooltip" title="" data-original-title="Reset"><i class="fa fa-undo-alt"></i></button>



         
          <button type="submit" style="height: 46px;" class="btn btn-primary" data-toggle="tooltip" title="" data-original-title="Apply"><i class="fa fa-check"></i></button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>

<div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        {% include 'messages.html' %}
        <div class="card-header">
          <div class="row">
            <div class="col-4">
              <h3 class="card-title" style="float: left;">Coupons</h3>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <div class="ml-auto" style="float: right;">
                <button  id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter"><i class="fas fa-filter" ></i></button>
                <a href="{% url 'add_coupon' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Coupons</a>
              </div>
            </div>
            
            
          </div>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr>
                <th><b>#</b></th>
                <th><b>COUPON CODE</b></th>
                <th><b>DISCOUND TYPE</b></th>
                <th><b>DISCOUNT</b></th>
                <th><b>USER COUNT</b></th>
                <th><b>MINIMUM AMOUNT</b></th>
                <th><b>DATE FROM</b></th>
                <th><b>DATE TO</b></th>
                <th><b>STATUS</b></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for i in coupon_obj %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.coupon_code }}</td>
                                <td>{{ i.type }}</td>
                                <td>{{ i.discount }}</td>
                                <td>{{ i.user_count }}</td>
                                <td>{{ i.min_amount }}</td>
                                <td>{{ i.from_date }},{{today}}</td>
                                <td>{{ i.to_date }}</td>
                                <td>{% if i.to_date >= today  %}<label class="badge badge-success">valid</label>{% else %}<label class="badge badge-danger">expired</label>{% endif %}</td>
                                <td class="text-right">
                              
                                  <a href="{% url 'edit_coupons' i.pk %}" class="btn btn-secondary btn-sm">Edit</a>
                                  <a href="{% url 'delete_coupons' i.pk %}" class="btn btn-secondary btn-sm">Delete</a>
                                  
                                </td>   
                
              </tr>
                 
              {% endfor %}
               
            </tbody>
          </table>
        </div>
        <div class="pagination">
          <ul>
                        </ul>  
        </div>
      </div>
    <script>
     
      $(document).ready(function(){
        $("#filter-btn").click(function(){
          $("filter").show();
        });
       
      });
    </script>

{% endblock contents %}