{% extends 'main.html' %}
{% block title%} Add Items {% endblock title%}
{% block contents %}
<div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Add Items</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'addItems' ProId %}">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Varient_name.label}}</label>
                            {{form.Varient_name}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Selling_Prize.label}}</label>
                            {{form.Selling_Prize}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Product_Offers.label}}</label>
                            {{form.Product_Offers}}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Varient_Values.label}}</label>
                            <select name="Varient_Values" class="form-control form-control-sm" required="" id="id_Varient_Values">
                                <option value="" selected="">select</option>
                                {% for i in VarValues %}
                                <option value="1">{{i}}</option>
                                {% endfor %}
                              </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Display_Prize.label}}</label>
                            {{form.Display_Prize}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Product_stock.label}}</label>
                            {{form.Product_stock}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.status.label}}</label>
                            {{form.status}}
                        </div>

                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Description.label}}</label>
                            {{form.Description}}
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="{% url 'Varient' %}" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>




{% endblock contents %}