{% extends 'main.html' %}
{% block title%} Add Products {% endblock title%}
{% block contents %}
<div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Add Product</h3> 
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'add_ProductView' %}" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Name.label}}</label>
                            {{form.Name}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Thumbnail_image.label}}</label><span style="font-size: smaller;font-style: italic;color: crimson;"> (Upload an image above 1000*1000px size)</span>
                            {{form.Thumbnail_image}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Varient Type</label>
                            <select name="Varient_Type" class="form-control form-control-sm" required=""
                                id="id_Varient_Type">
                                <option value="" selected="">Select</option>
                                {% for i in Types %}
                                <option value="{{i.id}}">{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Product_Category.label}}</label>
                            <select name="Product_Category" class="form-control form-control-sm" required="" id="id_Product_Category">
                                <option value="" selected="">Select</option>
                                {% for cat in Categories %}
                                <option value="{{cat.id}}">{{cat}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Product_Brand.label}}</label>
                            <select name="Product_Brand" class="form-control form-control-sm" required="" id="id_Product_Brand">
                                <option value="" selected="">Select</option>
                                {% for brand in Brands %}
                                <option value="{{brand.id}}">{{brand}}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.status.label}}</label>
                            <select name="Status" class="form-control form-control-sm" id="id_status" disabled>
                                <option value="">{{form.status.value}}</option>
                            </select>
                            {{form.status.as_hidden}}
                            {{form.Product_Items.as_hidden}}
                        </div>

                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Description.label}}</label>
                            {{form.Description}}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card" id="VarientElement" style="display: none;">
                    <div class="card-header" >
                        <div class="row ">
                            <div class="col-sm-4">
                                <div class="ml-auto">
                                    <h3 class="card-title">Varients</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row varient">
                            <div class="col-lg-10 row" id="varientId">
                                <div class="form-group col-3">
                                    <label for="exampleInputUsername1">{{form_1.Varient_name.label}}</label>
                                    <input type="text" name="Varient_name[]" maxlength="255" class="form-control form-control-sm" required="" id="id_Varient_name">
                                </div>
                                <div class="form-group col-3">
                                    <label for="exampleInputUsername1" class="varient_Values1"></label>
                                    <select name="Varient_Values[]" class="form-control form-control-sm VarientSelect"
                                        required="" id="id_Varient_Values">
                                    </select>
                                </div>
                                <div class="form-group col-2">
                                    <label for="exampleInputUsername1">{{form_1.Selling_Prize.label}}</label>
                                    <input type="text" name="Selling_Prize[]" maxlength="255" class="form-control form-control-sm" required="" id="id_Selling_Prize">
                                </div>
                                <div class="form-group col-2">
                                    <label for="exampleInputUsername1">{{form_1.Display_Prize.label}}</label>
                                    <input type="text" name="Display_Prize[]" maxlength="255" class="form-control form-control-sm" required="" id="id_Display_Prize">
                                </div>
                                <div class="form-group col-2">
                                    <label for="exampleInputUsername1">{{form_1.Product_stock.label}}</label>
                                    <input type="number" name="Product_stock[]" class="form-control form-control-sm" required>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group" style="text-align: center;padding-top: 1.3em;" id="but">
                                    <button class="btn btn-link plus-varient-set-type-btn" type="button"
                                        style="margin: 0 auto;padding-top: 8%;"><i class="fas fa-plus-square"
                                            style="font-size: large;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="{% url 'ProductView' %}" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="http://139.59.91.27/dev2/dnb/assets/js/jquery.min.js" type="text/javascript"></script>
<script>
    $(document).on('click', '.plus-varient-set-type-btn', function () {
        var htm1 = $('#varientId').html();
        var minus = '<div class="col-lg-2">\
                <div class="form-group" style="text-align: center;padding-top: 1.3em;" id="but">\
                <button class="btn btn-link minus-varient-btn" type="button"\
                style="margin: 0 auto;padding-top: 8%;"><i class="fa fa-minus"\
                style="font-size: large;"></i></button>\
                </div>\
                </div>'
        var tags = '<div class="row varient" ><div class="col-lg-10 row" id="varientId">' + htm1 + '</div>' + minus + '</div>'
        $('.varient:first').after(tags);
    })
    $(document).on('click', '.minus-varient-btn', function () {
        $(this).parent().parent().parent().remove();
    })


</script>

<script>
    $("#id_Varient_Type").change(function () {
        var typeId = $(this).val();
        if (typeId) {
            $("#VarientElement").show(500)
            $.ajax({
                type: "POST",
                url: '{% url "varientSelect" %}',
                data: {
                    'subject_id': typeId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: (data) => {
                    console.log(data.Type)
                    let html_data = '<option value=0>None</option>';
                    data.values.forEach(function (data) {
                        html_data += `<option value="${data.id}">${data.Varient_Values}</option>`
                    });
                    $(".VarientSelect").html(html_data);
                    $('.varient_Values1').html('<p>' + data.Type + '</p>')
                }
            })
        }
        else{
            $("#VarientElement").hide(500)
        }
    })
</script>

<script>

$('#id_Thumbnail_image').on('change', function () {
        var get_image = getSelectedFile('id_Thumbnail_image')
        isGoodImage(get_image, 1000, 1000, 'id_Thumbnail_image');
    });


    var _URL = window.URL || window.webkitURL;
    function isSupportedBrowser() {
        return window.File && window.FileReader && window.FileList && window.Image;
    }

    function getSelectedFile(subjectId) {
        var fileInput = document.getElementById(subjectId);
        var fileIsSelected = fileInput && fileInput.files && fileInput.files[0];
        if (fileIsSelected)
            return fileInput.files[0];
        else
            return false;
    }

    function isGoodImage(file, cWidth, cHeight, subjectId) {
        var deferred = jQuery.Deferred();
        var Resolution
        var image = new Image();
        image.onload = function () {

            // Check if image is bad/invalid
            if (this.width + this.height === 0) {
                this.onerror();
                return;
            }

            // Check the image resolution
            if (parseInt(this.width) >= parseInt(cWidth) && parseInt(this.height) >= parseInt(cHeight)) {
                deferred.resolve(true);
            } else {
                deferred.resolve(false);
                alert('Image Resolution is not adaptable')
                document.getElementById(subjectId).value = ''
            }
        };

        image.onerror = function () {
            alert("Invalid image. Please select an image file.");
            deferred.resolve(false);
        }

        image.src = _URL.createObjectURL(file);

        return deferred.promise();
    }
</script>


{% endblock contents %}