{% extends 'main.html' %}
{% block title%} Edit Products {% endblock title%}
{% block contents %}
<div class="col-md-12 col-sm-12 col-xl-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Add Product</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'editProduct' product_id %}" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Name.label}}</label>
                            {{form.Name}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">{{form.Thumbnail_image.label}}</label><span style="font-size: smaller;font-style: italic;color: crimson;"> (Upload an image above 1000*1000px size)</span><br>
                            {{form.Thumbnail_image}}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputUsername1">Varient Type</label>
                            {{form.Varient_Type.as_hidden}}
                            <select name="Varient_Type" class="form-control form-control-sm"
                                id="id_Varient_Type" disabled>
                                {% for i in Types %}
                                <option {% if data.Product.Varient_Type == i %} selected {% endif %} value="{{i.id}}">{{i}}</option>
                                {% endfor %}
                            </select>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Product_Category.label}}</label>
                            <!-- {{form.Product_Category}} -->
                            <select name="Product_Category" class="form-control form-control-sm" required="" id="id_Product_Category">
                                <option value="">Select</option>
                                {% for cat in Categories %}
                                <option value="{{cat.id}}" {% if data.Product_Category == cat %} selected {% endif %}>{{cat}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Product_Brand.label}}</label>
                            <select name="Product_Brand" class="form-control form-control-sm" required="" id="id_Product_Brand">
                                <option value="">Select</option>
                                {% for brand in Brands %}
                                <option value="{{brand.id}}" {% if data.Product_Brand == brand %} selected {% endif %}>{{brand}}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.status.label}}</label>
                            {{form.status}}
                        </div>

                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{form.Description.label}}</label>
                            {{form.Description}}
                            {{form.Product_Items.as_hidden}}
                        </div>
                    </div>
                </div>               
                <br>
                <div class="col-sm-12" style="text-align: center;">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <a href="{% url 'Varient' %}" class="btn btn-light">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    $("#id_Varient_Type").change(function () {
        var typeId = $(this).val();
        if (typeId) {
            $("#VarientElement").show(500)
            $.ajax({
                type: "POST",
                url: '{% url "varientSelect" %}',
                data: {
                    'subject_id': typeId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: (data) => {
                    console.log(data.Type)
                    let html_data = '<option value=0>None</option>';
                    data.values.forEach(function (data) {
                        html_data += `<option value="${data.id}">${data.Varient_Values}</option>`
                    });
                    $(".VarientSelect").html(html_data);
                    $('.varient_Values1').html('<p>' + data.Type + '</p>')
                }
            })
        }
        else{
            $("#VarientElement").hide(500)
        }
    })

    $('#id_Category_img').on('change', function () {
        var get_image = getSelectedFile('id_Category_img')
        isGoodImage(get_image, 1200, 600, 'id_Category_img');
    });


    var _URL = window.URL || window.webkitURL;
    function isSupportedBrowser() {
        return window.File && window.FileReader && window.FileList && window.Image;
    }

    function getSelectedFile(subjectId) {
        var fileInput = document.getElementById(subjectId);
        var fileIsSelected = fileInput && fileInput.files && fileInput.files[0];
        if (fileIsSelected)
            return fileInput.files[0];
        else
            return false;
    }

    function isGoodImage(file, cWidth, cHeight, subjectId) {
        var deferred = jQuery.Deferred();
        var Resolution
        var image = new Image();
        image.onload = function () {

            // Check if image is bad/invalid
            if (this.width + this.height === 0) {
                this.onerror();
                return;
            }

            // Check the image resolution
            if (parseInt(this.width) === parseInt(cWidth) && parseInt(this.height) === parseInt(cHeight)) {
                deferred.resolve(true);
            } else {
                deferred.resolve(false);
                alert('Image Resolution is not adaptable')
                document.getElementById(subjectId).value = ''
            }
        };

        image.onerror = function () {
            alert("Invalid image. Please select an image file.");
            deferred.resolve(false);
        }

        image.src = _URL.createObjectURL(file);

        return deferred.promise();
    }
</script>


{% endblock contents %}