{% extends 'main.html' %}
{% block title%} Items {% endblock title%}
{% block contents %}



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Product Items</h3>
                    </div>
                </div>
                <div class="col-xl-2"></div>
                <div class="col-xl-2"></div>
                <div class="col-sm-12 col-12 col-md-12 col-lg-6 col-xl-4">

                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PRODUCTS</th>
                            <th>VARIENT</th>
                            <th>GRP</th>
                            <th>MRP</th>
                            <th>STOCK</th>
                            <th>OFFER</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if Items %}
                        {% for item in Items %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td><img src="{{item.product_set.first.Thumbnail_image.url}}" alt="">{{item.product_set.first.Name}}</td>
                            <td>{{item.Varient_Values}}</td>
                            <td>{{item.Selling_Prize}}</td>
                            <td>{{item.Display_Prize}}</td>
                            <td>{{item.Product_stock}}</td>
                            <td>
                                {%if item.Product_Offers.offer_name%}
                                    <img src="{{item.Product_Offers.image.url}}" alt="">
                                    {{item.Product_Offers.offer_name}}
                                {% else %}
                                    None
                                {% endif %}
                            </td>
                            <td><label
                                    class="badge {% if item.status == 'Active' %}badge-success{% elif Product.status == 'Pending' %}badge-warning{%else%}badge-danger{%endif%}">{{item.status}}</label>
                            </td>
                            <td>
                                <div class='row'>
                                    <div class="col-sm-12 col-xl-12 col-md-12">
                                        {% if item.status == 'Active' %}
                                        <!-- disable -->
                                        <a href="" class="dis btn-sm btn-light" style="text-decoration: none;"
                                            data-toggle="modal" data-target="#Disable"
                                            data-description="{{item.id}}">Disable</a>
                                        {% else %}
                                        <!-- enable -->
                                        <a href="" class="ena btn-sm btn-light" style="text-decoration: none;"
                                            data-toggle="modal" data-target="#Enable" data-description="{{item.id}}">
                                            Enable</a>
                                        {% endif %}
                                    </div>

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Nothing Find</th>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <hr>
                {% if Items.paginator.num_pages > 1 %}
                <div class="row" style="text-align: center;">
                    <div class="col-sm-12">
                        {% if Items.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{Items.previous_page_number}}">Previous</a>
                        {% endif %}
                        Page {{Items.number}} of {{ Items.paginator.num_pages }}
                        {% if Items.has_next %}
                        <a href="?page={{Items.next_page_number}}">Next</a>
                        <a href="?page={{Items.paginator.num_pages}}">Last &raquo; </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableProductItems' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableProductItems' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock contents %}