{% extends 'main.html' %}
{% block title%} Products {% endblock title%}
{% block contents %}
<div class="col-lg-12 grid-margin stretch-card" id="filterContent">
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'ProductView' %}">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Product</label>
                            <input type="text" class="form-control form-control-sm" placeholder="eg: Tomato"
                                name="byProduct">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Varient</label>
                            <select name="byVarient" id="" class="form-control">
                                <option value="">Select</option>
                                {% for j in Varient %}
                                <option value="{{j.id}}">{{j}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Status</label>
                            <select name="byStatus" id="" class="form-control">
                                <option value="">Select</option>
                                <option value="Active">Active</option>
                                <option value="Suspended"> Suspended</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Category</label>
                            <select name="byCategory" id="" class="form-control">
                                <option value="">Select</option>
                                {% for c in cat %}
                                <option value="{{c.id}}">{{c}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2 text-center" style="padding-top: 2em;">
                        <a href="{% url 'export_csv' %}" class="btn btn-primary ml-auto">ProductCSV</a>
                    </div>
                    <div class="col-sm-2 text-center" style="padding-top: 2em;">
                        <div class="form-group">
                            <a href="" class="btn btn-primary ml-auto"><i class="fas fa-undo-alt"
                                style="font-size: small;"></i></a>
                            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title=""
                                data-original-title="Apply">Filter</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Products</h3>
                    </div>
                </div>
                <div class="col-xl-2"></div>
                <div class="col-xl-2"></div>
                <div class="col-sm-12 col-12 col-md-12 col-lg-6 col-xl-4">


                    <a href="" class="btn btn-primary ml-auto" data-target="#deliveryInfo" data-toggle="modal">Bulk Stock Updation</a>
                    <a {% if Filterd %} href="{%  url 'ProductView' %}" {% endif %} id="filter"
                        class="btn btn-primary ml-auto"><i class="fas fa-filter" style="font-size: small;"></i></a>
                    <a href="{% url 'add_ProductView' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add
                        Products</a>

                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>PRODUCTS</th>
                            <th>VARIENT TYPE</th>
                            <th>IMAGE</th>
                            <th>STATUS</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if Products %}
                        {% for Product in Products %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{Product.Name}}</td>
                            <td>{{Product.Varient_Type}}</td>
                            <td><img src="{{Product.Thumbnail_image.url}}" alt=""></td>
                            <td><label
                                    class="badge {% if Product.status == 'Active' %}badge-success{% elif Product.status == 'Pending' %}badge-warning{%else%}badge-danger{%endif%}">{{Product.status}}</label>
                            </td>
                            <td>
                                <div class='row'>
                                    
                                        {% if Product.status == 'Active' %}
                                        <!-- edit -->
                                        <a href="{% url 'editProduct' Product.id %}" class="btn-sm btn-light"
                                            style="text-decoration: none;width: 100;">Edit</a>
                                    
                                    
                                        <a href="{% url 'viewProduct' Product.id %}" class="btn-sm btn-light"
                                            style="text-decoration: none;width: 100;">View</a>
                                   
                                        <!-- disable -->
                                   
                                        <a href="" class="dis btn-sm btn-light" style="text-decoration: none;"
                                            data-toggle="modal" data-target="#Disable"
                                            data-description="{{Product.id}}">Disable</a>
                                        {% else %}
                                        <!-- enable -->
                                        <a href="" class="ena btn-sm btn-light" style="text-decoration: none;"
                                            data-toggle="modal" data-target="#Enable" data-description="{{Product.id}}">
                                            Enable</a>
                                        {% endif %}
                                    

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Nothing Find</th>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <hr>
                {% if Products.paginator.num_pages > 1 %}
                <div class="row" style="text-align: center;">
                    <div class="col-sm-12">
                        {% if Products.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{Products.previous_page_number}}">Previous</a>
                        {% endif %}
                        Page {{Products.number}} of {{ Products.paginator.num_pages }}
                        {% if Products.has_next %}
                        <a href="?page={{Products.next_page_number}}">Next</a>
                        <a href="?page={{Products.paginator.num_pages}}">Last &raquo; </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableProduct' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableProduct' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="deliveryInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'bulkStocks' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title " id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: crimson;font-style: italic;font-size: small;" id="erMsg" ></p>
                    <input type="file" name="getCSV" id="onlyCSV" class="form-control">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#onlyCSV').on('change',function(){

            var fileExt = $(this).val()
            var arrayExtensions = ["csv"];
            var fileSize = $(this)[0].files[0].size;

            fileExt = fileExt.split('.')
            fileExt = fileExt[fileExt.length - 1].toLowerCase();

            if (arrayExtensions.lastIndexOf(fileExt) == -1) {
                alert("Wrong extension type.");
                $(this).val("");
            }

            console.log(arrayExtensions.lastIndexOf(fileExt))
            if(fileSize>2000000){
                alert('file size morethan 2MB')
                $(this).val('')
            }


        });
    });
</script>

{% endblock contents %}