{% extends 'main.html' %}
{% block title%} View Products {% endblock title%}
{% block contents %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Product
                            <label
                                class="badge {% if ProductDetails.status == 'Active' %}badge-success{% elif ProductDetails.status == 'Pending' %}badge-warning{%else%}badge-danger{%endif%}">{{ProductDetails.status}}</label>
                        </h3>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2 col-12 col-md-12 col-lg-12 col-xl-2">

                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-header" style="background: white;">
                            <div class="row">
                                <div class="col-sm-6 col-lg-12" style="text-align: center;">
                                    <div class="ml-auto">
                                        <h3 class="card-title">{{ProductDetails.Name}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-sm-6 col-lg-12" style="text-align: center;">
                                <div class="ml-auto">
                                    <img src="{{ProductDetails.Thumbnail_image.url}}" alt="" width="100%">
                                </div>
                            </div>
                            <div class="row p-3">
                                <div class="col-6 col-md-6 col-lg-6 p-1" style="font-size:small;">
                                    <div class="col-11 text-justify">
                                        <label style="font-weight: bold;">Product Brand:</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6 p-1" style="font-size:small;">
                                    <div class="col-11 text-justify">
                                        <label>{{ProductDetails.Product_Brand}}</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6 p-1" style="font-size:small;">
                                    <div class="col-11 text-justify">
                                        <label style="font-weight: bold;">Product Category:</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6 p-1" style="font-size:small;">
                                    <div class="col-11 text-justify">
                                        <label>{{ProductDetails.Product_Category}}</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6 p-1" style="font-size:small;">
                                    <div class="col-11 text-justify">
                                        <label style="font-weight: bold;">Varient:</label>
                                    </div>
                                </div>
                                <div class="col-6 col-md-6 col-lg-6 p-1" style="font-size:small;">
                                    <div class="col-11 text-justify">
                                        <label>{{ProductDetails.Varient_Type}}</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="card">
                        <div class="card-header" style="background: white;">
                            <div class="row">
                                <div class="col-sm-12" style="text-align: center;">
                                    <div class="ml-auto">
                                        <div class="row">
                                            <div class="col-9 col-lg-9 colxl-9">
                                                <h3 class="card-title">Product Details</h3>
                                            </div>
                                            <div class="col-3 col-lg-3 col-xl-2">
                                                <a href="{% url 'addItems' ProductDetails.id  %}"
                                                    class="btn-sm btn-primary"
                                                    style="text-decoration: none;float: right;">Add Items</a>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="row p-3">
                            <div class="col-sm-12" style="text-align: center;">
                                <div class="ml-auto">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>VARIENT</th>
                                                    <th>SELLING PRIZE</th>
                                                    <th>DISPLAY PRIZE</th>
                                                    <th>OFFER</th>
                                                    <th>STOCK</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for Product in ProductDetails.Product_Items.all %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{Product.Varient_name}}({{Product.Varient_Values}})
                                                        <label
                                                            class="badge {% if Product.status == 'Active' %}badge-success{% elif Product.status == 'Pending' %}badge-warning{%else%}badge-danger{%endif%}">{{Product.status}}</label>

                                                    </td>
                                                    <td>₹ {{Product.Selling_Prize}}</td>
                                                    <td>₹ {{Product.Display_Prize}}</td>
                                                    <td>
                                                        {%if Product.Product_Offers.all%}
                                                        <ol>
                                                            {%for i in Product.Product_Offers.all%}

                                                            <li>{{i}}</li>
                                                            {%endfor%}
                                                        </ol>
                                                        {%else%}
                                                        None
                                                        {%endif%}

                                                    </td>
                                                    <td>{{Product.Product_stock}}</td>
                                                    <td>
                                                        {% if Product.status == 'Active' %}
                                                        <a href="{% url 'editProductVarient' Product.id %}"
                                                            class="btn-sm btn-light"
                                                            style="text-decoration: none;width: 100;">Edit</a>
                                                        <!-- disable -->
                                                        <a href="" class="dis btn-sm btn-light"
                                                            style="text-decoration: none;" data-toggle="modal"
                                                            data-target="#Disable"
                                                            data-description="{{Product.id}}">Disable</a>
                                                        {% else %}
                                                        <!-- enable -->
                                                        <a href="" class="ena btn-sm btn-light"
                                                            style="text-decoration: none;" data-toggle="modal"
                                                            data-target="#Enable" data-description="{{Product.id}}">
                                                            Enable</a>
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header" style="background: white;">
                                <div class="row">
                                    <div class="col-sm-12" style="text-align: center;">
                                        <div class="ml-auto">
                                            <h3 class="card-title">Description</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="col-sm-12" style="text-align: center;">
                                <div class="ml-auto">
                                    <p>{{ ProductDetails.Description }}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header" style="background: white;">
                            <div class="row">
                                <div class="col-sm-12" style="text-align: center;">
                                    <div class="ml-auto">
                                        <div class="row">
                                            <div class="col-12 col-lg-12">
                                                <h3 class="card-title">Thumbnail Images</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="col-sm-12" style="text-align: center;">
                            <div class="ml-auto">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            
                                            <div class="card-body">
                                                <form action="/admin/upload_thumnails/?pro={{ProductDetails.id}}"
                                                    method="POST" class="dropzone" id="my-dropzone">{% csrf_token %}
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple />
                                                    </div>
                                                    <div class="dz-message" data-dz-message><span>Click here or Drop images here to upload</span></div>
                                                </form>
                                                <span style="font-size: small;font-style: italic;color: crimson;">Above 1000x1000 pixel (.png/.jpg)</span>
                                            </div>
                                        </div>
                                        <br>
                                        
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row" id="T-im">
                                                    {% if Thumbnail_images %}
                                                    {% for image in Thumbnail_images %}
                                                    <div class="col-sm-3">
                                                        <div class="card">
                                                            <img class="card-img-top" src="{{image.Images.url}}"
                                                            alt="Card image" style="width:100%;height:10rem;">
                                                            <div class="card-body">
                                                                <a data-product_image="{{image.id}}" data-product="{{ProductDetails.id}}" class="btn btn-danger remove_thumbnail" >Remove</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                    {% else %}
                                                    <div class="col-sm-12 text-center" id="if-not-info">
                                                        <span style="font-size:large;font-style: italic;color: rgb(126, 126, 126);">Additional Thumbnail Images Not Yet</span>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'disableProductItem' %}" method="post">{% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to continue?</p>
                        <input type="hidden" name="getById" id="orgId1">
                        <input type="hidden" name="ProId" id="orgId1" value="{{ProductDetails.id}}">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="{% url 'disableProductItem' %}" method="post">{% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure to continue?</p>
                        <input type="hidden" name="getById" id="orgId">
                        <input type="hidden" name="ProId" id="orgId" value="{{ProductDetails.id}}">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <input class="btn btn-primary" type="submit" name="" id="" value="Confirm">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        Dropzone.autoDiscover = false;
        var minImageWidth = 1000, minImageHeight = 1000;
        var urls = $("#my-dropzone").attr('action');
        console.log(urls)
        const myDropzone = new Dropzone("#my-dropzone",{
            url : urls,
            maxFiles:10,
            acceptedFiles: '.png,.jpg',

            init: function () {
                
                this.on("success", function(file, res) {
                    if(res.status){
                        var html_data = `<div class="col-sm-3">
                                            <div class="card">
                                                <img class="card-img-top" src="/media/${res.item[0]['Images']}"
                                                    alt="Card image" style="width:100%;height:10rem;">
                                                <div class="card-body">
                                                    <a data-product_image="${res.item[0]['id']}" data-product="${res.item[0]['Product_Owner']}" class="btn btn-danger remove_thumbnail" >Remove</a>
                                                </div>
                                            </div>
                                        </div>`
                        $('#T-im').append(html_data);
                        if($('#T-im').children('#if-not-info')){$('#T-im').children('#if-not-info').remove()};
                        
                    }else{
                        file.rejectDimensions('N');
                        alert('only three additiona images are allowed')
                    }
                });
                this.on("thumbnail", function(file) {
                    console.log(file)
                    if (file.accepted !== false) {
                        if (file.width >= minImageWidth && file.height >= minImageHeight) {
                            file.acceptDimensions();
                        }
                        else {
                            file.rejectDimensions('D');
                            alert('Image Resolution is not adaptable')
                        }
                    }
                });   
            },
        accept(file, done) {
            file.acceptDimensions = done;
            file.rejectDimensions = (butWhy) => { 
                if(butWhy=='D'){
                    done("Invalid dimension."); 
                }else if(butWhy=='N'){
                    done("Number of images exceed"); 
                }
            };
        }
        })




        $(document).on('click','.remove_thumbnail',function(){
            console.log('hi')
            var product_id = $(this).attr('data-product')
            var image_id = $(this).attr('data-product_image')
            $.ajax({
                url:"/admin/Thumbnail_remove/",
                data:{
                    'im':image_id,
                    'pm':product_id
                },
                success:(res)=>{
                    if(res.status){
                        var htmlData = ''
                        for(var i = 0; i < res.data.length; i++){
                            htmlData += `<div class="col-sm-3">
                                            <div class="card">
                                                <img class="card-img-top" src="/media/${res.data[i]['Images']}"
                                                    alt="Card image" style="width:100%;height:10rem;">
                                                <div class="card-body">
                                                    <a data-product_image="${res.data[i]['id']}" data-product="${res.data[i]['Product_Owner']}" class="btn btn-danger remove_thumbnail" >Remove</a>
                                                </div>
                                            </div>
                                        </div>`
                        }
                        $('#T-im').html(htmlData);
                    }else{
                        alert('something went wrong not removed data')
                    }
                },
                error:(er)=>{
                    alert(er)
                }
            })
        })

    </script>
    {% endblock contents %}