{% extends 'main.html' %}
{% block title %}Contacts{% endblock title %}
{% block contents %}
<script>
    $(document).ready(function(){
      $('#filter-btn').click(function(){
        $('#filter').toggle(400)
      })
    })
</script>
<div class="col-lg-12 grid-margin stretch-card" id="filter" style="display: none;">
<form action="https://momooz.com/primal_momooz/admin/admin-filter" method="post" class="card filter" style="">
  <div class="card-body">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label class="form-label">Name</label>
          <input type="text" class="form-control" name="filter_name" id="filter_name" placeholder="eg: admin">
        </div>
      </div>
      <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label class="form-label">Email</label>
          <input type="text" class="form-control" name="filter_email" id="filter_email" placeholder="eg: admin@example.com">
        </div>
      </div>
      
    <!--  <div class="col-md-3 col-lg-3">
        <div class="form-group">
          <label class="form-label">Code</label>
          <input type="text" class="form-control" name="filter_code" id="filter_code" placeholder="eg: Adm001">
        </div>
      </div>-->
      
      <div class="col-md-2 col-lg-2">
        <div class="form-group">
          <label class="form-label">Role</label>
          <select class="form-control" name="filter_role" id="filter_role" style="height: 46px;">
            <option selected="selected" value="">All</option>
            










			




<option value="2" style="text-transform:capitalize">Sub Admin</option>





<option value="3" style="text-transform:capitalize">Superadmin</option>






<option value="4" style="text-transform:capitalize">Test roles</option>


		




<option value="8" style="text-transform:capitalize">AdminBanglore</option>





<option value="9" style="text-transform:capitalize">Vendor</option>







<option value="20" style="text-transform:capitalize">testrole</option>                  </select>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="form-group">
          <label class="form-label">Status</label>
          <select class="form-control" name="filter_status" id="filter_status" style="height: 46px;">
            <option value="">All</option>
                    <option value="1">Active</option>
                    <option value="2">Suspended</option>
          </select>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
        <div class="form-group" style="margin-top: 1.5rem;text-align: right;">

          
<button type="reset" style="height: 46px;" class="btn btn-secondary" data-toggle="tooltip" title="" data-original-title="Reset"><i class="fas fa-undo-alt" ></i></button>



         
          <button type="submit" style="height: 46px;" class="btn btn-primary" data-toggle="tooltip" title="" data-original-title="Apply"><i class="fa fa-check"></i></button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
{% include 'messages.html' %}
<div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        
        <div class="card-header">
          <div class="row">
            <div class="col-4">
              <h3 class="card-title" style="float: left;">Contact requests</h3>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <div class="ml-auto" style="float: right;">
                <button  id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter"><i class="fa fa-filter"></i></button>
              </div>
            </div>
            
            
          </div>
        </div>
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr>
                <th><b>#</b></th>
                <th><b>NAME</b></th>
                <th><b>EMAIL</b></th>
                <th><b>PHONE</b></th>
                <th colspan="2"><b>MESSAGES</b></th>
                <th><b>DATE&TIME</b></th>
                
              </tr>
            </thead>
            <tbody>
              {% for i in contact_obj %}
              
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.name }}&nbsp;{{ i.last_name }}</td>
                <td>{{ i.email }}</td>
                <td>{{ i.phone }}</td>
                <td colspan="2">{{ i.message }}</td>
                <td>{{ i.date }}</td>                     
                
              </tr>
                
              {% endfor %}
               
            </tbody>
          </table>
        </div>
        <div class="pagination">
          <ul>
                        </ul>  
        </div>
      </div>
    
    
    <script>
     
      $(document).ready(function(){
        $("#filter-btn").click(function(){
          $("filter").show();
        });
       
      });
    </script>

{% endblock contents %}