{% extends 'main.html' %}
{% block title%} Time slots {% endblock title%}
{% block contents %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <form method="post" action="{% url 'addDistrict' %}">{% csrf_token %}
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Name</label>
                            <input type="text" class="form-control form-control-sm" placeholder="eg: Kozhikode" name="byName">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Short code</label>
                            <input type="text" class="form-control form-control-sm" placeholder="eg: KD" name="byScode">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Country</label>
                            <select name="byCountry" id="" class="form-control">
                                <option value="">Country</option>
                                <option value="India"> india</option>
                                <option value="Australia"> Australia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Zone</label>
                            <select name="byCountry" id="" class="form-control">
                                <option value="">Country</option>
                                <option value="India"> india</option>
                                <option value="Australia"> Australia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Sub zone</label>
                            <select name="byCountry" id="" class="form-control">
                                <option value="">Country</option>
                                <option value="India"> india</option>
                                <option value="Australia"> Australia</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="exampleInputUsername1">Status</label>
                            <select name="byCountry" id="" class="form-control">
                                <option value="">Country</option>
                                <option value="India"> india</option>
                                <option value="Australia"> Australia</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-4">
                    <div class="ml-auto">
                        <h3 class="card-title">Delivery Time Slots</h3>
                    </div>
                </div>
                <div class="col-sm-6">
                </div>
                <div class="col-sm-2">
                    <a href="#" id="add-role-btn" class="btn btn-primary ml-auto"><i class="fas fa-filter"
                            style="font-size: small;"></i></a>
                    <a href="{% url 'addDeleveryTimeSlot' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Slot</a>
                </div>
            </div>
        </div>
        {% include 'messages.html' %}
        <div class="card-body">
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>NAME</th>
                            <th>TIME</th>
                            <th>REGION NAME</th>
                            <th>STATUS</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% if slots %}
                        {% for slot in slots %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{slot.Name}}</td>
                            <td>{{slot.Time}}</td>
                            <td>{{slot.Region}}</td>
                            <td>
                                <label class="badge {% if slot.status == 'Active' %}badge-success{% elif slot.status == 'Pending' %}badge-warning{%else%}badge-danger{%endif%}">{{slot.status}}</label>
                            </td>
                            <td>
                                <div class='row'>
                                    <div class="col-sm-6 col-xl-12">
                                        {% if slot.status == 'Active' %}
                                        <!-- edit -->
                                        <a href="{% url 'editTimeSlot' slot.id %}" class="btn-sm btn-light"
                                            style="text-decoration: none;width: 100;">Edit</a>
                                        <!-- disable -->
                                        <a href="" class="dis btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Disable"
                                        data-description="{{slot.id}}">Disable</a>
                                        {% else %}
                                        <!-- enable -->
                                        <a href="" class="ena btn-sm btn-light" style="text-decoration: none;" data-toggle="modal" data-target="#Enable"
                                        data-description="{{slot.id}}">
                                        Enable</a>
                                        {% endif %}
                                    </div>

                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>Nothing Find</th>
                        </tr>
                        {% endif %}
                    </tbody>

                </table>
                <hr>
                {% if slots.paginator.num_pages > 1 %}
                <div class="row" style="text-align: center;">
                    <div class="col-sm-12">
                        {% if slots.has_previous %}
                        <a href="?page=1">&laquo; First</a>
                        <a href="?page={{slots.previous_page_number}}">Previous</a>
                        {% endif %}
                        Page {{slots.number}} of {{ slots.paginator.num_pages }}
                        {% if slots.has_next %}
                        <a href="?page={{slots.next_page_number}}">Next</a>
                        <a href="?page={{slots.paginator.num_pages}}">Last &raquo; </a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableSlot' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Enable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId1">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="Disable" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'disableSlot' %}" method="post">{% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Disable!</h5>
                    <button class="close" type="button" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure to continue?</p>
                    <input type="hidden" name="getById" id="orgId">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"
                        data-dismiss="modal">Cancel</button>
                    <input class="btn btn-primary" type="submit" name="" id=""
                        value="Confirm">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contents %}