{% extends 'main.html' %}
{% block title %}Edit Notifications{% endblock title %}
{% block contents %}
<div class="col-lg-12 grid-margin stretch-card">
<form  method="POST"  class="card" name="add"  enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-header">
      <h3 class="card-title">Add Notifications</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-lg-6">
         
          <div class="form-group">
            <label class="form-label">Title<span class="danger" style="color: red;"> *</span></label>
            {{form.title}}
            <input type="hidden" class="error" id="brand_name-error" value="0">
            <div class="invalid-feedback">Name already exist</div>
          </div>
          </div>
       
        <div class="col-md-6 col-lg-6">
           
            
        
        <div class="form-group">
            <label class="form-label">App BannerImage<span class="danger" style="color: red;"> *</span></label>
            {{form.image}}
<!--                   <div id="offer_size"></div>
-->                   <span style="font-size: smaller;font-style: italic;color: crimson;"> (Upload an image with 1000*500px)</span>


             
          </div>
      </div>
      
      </div>
      <div class="row">
        <div class="col-6">
         
          <div class="form-group">
            <label class="form-label">Description<span class="danger" style="color: red;"> *</span></label>
            {{form.description}}
            <input type="hidden" class="error" id="brand_name-error" value="0">
            <div class="invalid-feedback">Name already exist</div>
          </div>
          </div>
       
        <div class="col-6 ">
           <div class="form-group">
            <label class="form-label">Region<span class="danger" style="color: red;"> *</span> </label>
            <div class="input-group">
              {{form.region}}

            </div>
             
        </div>
      </div>
      </div>
     
   
    <div class="card-footer " style="text-align: center;background-color: white;">
      {{form.status.as_hidden}}
      {{form.date}}
      <div class="col-sm-12" style="text-align: center;">
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <a href="{% url 'notifications' %}" class="btn btn-light">Cancel</a>
      </div>
     
  </div>
    </form>
</div>
    {% endblock contents %}