{% extends 'main.html' %}
{% block title %}Notifications{% endblock title %}
{% block contents %}
<script>
  $(document).ready(function(){
    $('#filter-btn').click(function(){
      $('#filter').toggle(400)
    })
  })
</script>


<div class="col-lg-12 grid-margin stretch-card" id="filter">
<form action="https://momooz.com/primal_momooz/admin/tags-filter" method="post" class="card filter">{% csrf_token %}
    <div class="card-body">
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Title</label>
            <input type="text" class="form-control form-control-sm" name="filter_title" id="filter_name" placeholder="">
          </div>
        </div>

        <div class="col-md-2 col-lg-2">
          <div class="form-group">
            <label class="form-label">Status</label>
            <select class="form-control" name="filter_status" id="filter_zone">
              <option value="">Select</option>
              <option value="True">Active</option>
              <option value="False">Suspended</option>
            </select>
          </div>
        </div>
        
        <div class="col-md-2 col-lg-2">
          <div class="form-group" style="margin-top: 1.5rem;text-align: right;">

            
<button type="reset" class="btn btn-secondary" data-toggle="tooltip" title="" data-original-title="Reset"><i class="fas fa-undo-alt" ></i></button>



           
            <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="" data-original-title="Apply"><i class="fa fa-check"></i></button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="col-lg-12 grid-margin stretch-card">
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-4">
              <h3 class="card-title" style="float: left;">Notifications</h3>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <div class="ml-auto" style="float: right;">
                <button id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter"><i class="fa fa-filter"></i></button>
                <a href="{% url 'add_notifications' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Notifications</a>
              </div>
            </div>
            
            
          </div>
      <!-- <a href="#" id="add-role-btn" class="btn btn-primary ml-auto">Add Tag</a> -->
    </div>
    {% include 'messages.html' %}
    <div class="table-responsive">
      <table class="table card-table table-vcenter text-nowrap">
        <thead>
          <tr>
            <th class="w-1"><b>#</b></th>
            <th><b>Title</b></th>
            <th><b>Image</b></th>
            
            
            <th style="align-content: center;"><b>Updated on</b></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for i in notification_obj %}
                          <tr>
            <td><span class="text-muted">{{forloop.counter}}</span></td>
            
            <td>{{i.title}}</td>
            <td>
              <img src="{{i.image.url}}" alt="image"> 
            </td>
            <td>{{i.date}}</td>
            <td class="text-right">
                <a href="{% url 'edit_brand' i.pk %}" class="btn btn-secondary btn-sm">view</a>
               <a href="{% url 'send_notification' i.pk %}" class="btn btn-secondary btn-sm">Edit&Resend</a>
              <a href="{% url 'delete_notification' i.pk %}" data-id="2" class="btn btn-secondary btn-sm delete-tag-btn">Delete</a>
            </td>
          </tr>
                          
            
          {% endfor %}
                        </tbody>
      </table>

      <hr>
      {% if notification_obj.paginator.num_pages > 1 %}
      <div class="row" style="text-align: center;">
          <div class="col-sm-12">
              {% if notification_obj.has_previous %}
              <a href="?page=1">&laquo; First</a>
              <a href="?page={{notification_obj.previous_page_number}}">Previous</a>
              {% endif %}
              Page {{notification_obj.number}} of {{ notification_obj.paginator.num_pages }}
              {% if notification_obj.has_next %}
              <a href="?page={{notification_obj.next_page_number}}">Next</a>
              <a href="?page={{notification_obj.paginator.num_pages}}">Last &raquo; </a>
              {% endif %}
          </div>
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock contents %}