{% extends 'main.html' %}

{% block title %}Edit roles{% endblock title %}
{% block contents %}

    <div class="container-fluid">
        <form method=POST class="forms-sample">
            {% csrf_token %}
            <div class="card">
                <div class="card-header" style="background: white;">
                    <div class="card-title">
                        Edit role
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group row">
                                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">role name</label>
                                <div class="col-sm-9">
                                    {{form.role_name}}
                                </div>
                              </div>
                              <div class="form-group row">
                                <label for="exampleInputUsername2" class="col-sm-3 col-form-label">status</label>
                                <div class="col-sm-9">
                                    {{form.status}}
                                </div>
                              </div>
                              
                              
                        </div>
                    </div>
                   
                </div>
               
                <div class="card-footer " style="text-align: center;background-color: white;">
                    <div class="col-sm-12" style="text-align: center;">
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <a href="{% url 'roles' %}" class="btn btn-light">Cancel</a>
                    </div>
                   
                </div>
            </div>
        </form>
    </div>
    


{% endblock contents %}