{% extends 'main.html' %}

{% block title %}Paths{% endblock title %}
{% block contents %}
<br>

<div class="">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mt-3">
        <div class="card-header">
            
              <div class="row">
                <div class="col-lg-4">
                  <h3 class="card-title" style="float: left;">Sub Path</h3>
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                  <div class="ml-auto" style="float: right;">
                    
                    <a href="{% url 'add_sub_path' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Sub Path</a>
                  </div>
                </div>
                
                
              </div>
        </div>
        
      <div class="card-body">
  
        {% include 'messages.html' %}
        
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Main_path_id</th>
                <th>path_name</th>
                
              </tr>
            </thead>
            <tbody>
              {% for i in obj %}
              <tr>
                
                <td>{{ forloop.counter }}</td>
                <td>{{ i.Main_path_id.path_name }}</td>
                <td>{{ i.path_name }}</td>
                

              </tr>
              {% endfor %}
            </tbody>
          </table>
          
        </div>
        
      </div>
      <div class="card-footer" style="background-color: #fff;">
        
        <div class="pagination">
          <span class="step-links">
              {% if obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ obj.previous_page_number }}">previous</a>
              {% endif %}
      
              <span class="current">
                  Page {{ obj.number }} of {{ obj.paginator.num_pages }}.
              </span>
      
              {% if obj.has_next %}
                  <a href="?page={{ obj.next_page_number }}">next</a>
                  <a href="?page={{ obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>
      </div>
    </div>
    </div>
    <div class="col-lg-6">
      <div class="card mt-3">
        <div class="card-header">
            
          <div class="row">
            <div class="col-sm-4">
              <h3 class="card-title" style="float: left;">Main Path</h3>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="ml-auto" style="float: right;">
                <a href="{% url 'add_main_path' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Main Path</a>
              
              </div>
            </div>
            
            
          </div>
    </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>path_name</th>
                  <th>Status</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for i in main %}
                <tr>
                  
                  <td>{{ forloop.counter }}</td>
                  <td>{{ i.path_name }}</td>
                  <td>{{ i.status }}</td>
                  
  
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        
        </div>
        <div class="card-footer" style="background-color: #fff;">
          
          <div class="pagination">
            <span class="step-links">
                {% if main.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ main.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ main.number }} of {{ main.paginator.num_pages }}.
                </span>
        
                {% if main.has_next %}
                    <a href="?page={{ main.next_page_number }}">next</a>
                    <a href="?page={{ main.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        </div>
      </div>
    </div>
  </div>
    
  </div>
{% endblock contents %}