{% extends 'main.html' %}
{% block title %}Admin roles{% endblock title %}
{% block contents %}
<script>
  $(document).ready(function(){
    $('#filter-btn').click(function(){
      $('#filterContent').toggle(400)
    })
  })
</script>

<div class="col-lg-12 grid-margin stretch-card" id="filterContent">
  <div class="card">
      <div class="card-body">
          <form method="post" action="{% url 'roles' %}">{% csrf_token %}
              <div class="row">
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label for="exampleInputUsername1">Role</label>
                          <input type="text" class="form-control form-control-sm" placeholder="" name="byRole">
                      </div>
                  </div>
                  <div class="col-sm-2">
                      <div class="form-group">
                          <label for="exampleInputUsername1">Status</label>
                          <select class="form-control form-control-sm" name="byStatus" id="">
                            <option value="">Select</option>
                            <option value="active">Active</option>
                            <option value="inactive">Suspended</option>
                          </select>
                      </div>
                  </div>
                  <div class="col-sm-6">
                  </div>
                  <div class="col-sm-2 text-center">
                      <div class="form-group">
                          <a href="" class="btn btn-primary ml-auto"><i class="fas fa-undo-alt"
                            style="font-size: small;"></i></a>
                          <button type="submit" class="btn btn-primary" data-toggle="tooltip" title=""
                              data-original-title="Apply">Filter</button>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>


<br>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-header">
            
              <div class="row">
                <div class="col-4">
                  <h3 class="card-title" style="float: left;">Roles</h3>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                  <div class="ml-auto" style="float: right;">
                    <button id="filter-btn" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Filter" ><i class="fa fa-filter"></i></button>
                
                    <a href="{% url 'add_roles' %}" id="add-role-btn" class="btn btn-primary ml-auto">Add Role</a>
                    
                 
                  </div>
                </div>
                
                
              </div>
        </div>
        
      <div class="card-body">
  
        {% include 'messages.html' %}
        
        
        <div class="table-responsive">
          <table class="table card-table table-vcenter text-nowrap">
            <thead>
              <tr>
                <th class="w-1"><b>#</b></th>
                <th><b>Role</b></th>
                <!-- <th width="500px">Privileges</th> -->
                <th><b>Status</b></th>
                <th class="text-right"><b>Actions</b></th>
              </tr>
            </thead>
            <tbody>
              {% if role_list %}
              {% for i in role_list %}
              
              
              <tr>
                <td><span class="text-muted">{{ forloop.counter }}</span></td>
                <td>{{ i.role_name }}</td>
                <td>{% if i.status == 'active' %}<label class="badge badge-success">{{ i.status }}</label>{% else %}<label class="badge badge-warning">Suspended{% endif %}</label></td>
                <td class="text-right">

                  <a href="{% url 'set_permission' i.pk %}" class="btn btn-primary">Set Permissions</a>
                  <a href="{% url 'edit_role' i.pk %}" class="btn btn-secondary btn-sm">Edit</a>
        
                </td>
              </tr>
              {% endfor %}
              {%else%}
              <tr><td></td><td><td>Nothin find!!</td></td></tr>
              {% endif %}
            </tbody>
          </table>

          <hr>
          {% if role_list.paginator.num_pages > 1 %}
          <div class="row" style="text-align: center;">
              <div class="col-sm-12">
                  {% if role_list.has_previous %}
                  <a href="?page=1">&laquo; First</a>
                  <a href="?page={{role_list.previous_page_number}}">Previous</a>
                  {% endif %}
                  Page {{role_list.number}} of {{ role_list.paginator.num_pages }}
                  {% if role_list.has_next %}
                  <a href="?page={{role_list.next_page_number}}">Next</a>
                  <a href="?page={{role_list.paginator.num_pages}}">Last &raquo; </a>
                  {% endif %}
              </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
 
    

{% endblock contents %}