{% extends 'UserMain.html' %}
{% load static %}
{% block title %}{{product}}{% endblock title %}
{% block contents %}

<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><a href="/Categories/?pk={{CatDetails.id}}">{{CatDetails}}</a></li>
                <li><span>{{product.Name}}</span></li>
            </ul>
        </div>
    </div>

    <!--Product Details-->
    <div class="holder">
        <div class="container js-prd-gallery" id="prdGallery">
            <div class="row prd-block prd-block-under prd-block--prv-bottom">
                <div class="col">
                    <div class="js-prd-d-holder">
                        <div class="prd-block_title-wrap">
                            <h1 class="prd-block_title">{{product}}</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row prd-block prd-block--prv-bottom">
                <div class="col-md-6 col-lg-6 col-xl-6 aside--sticky js-sticky-collision">
                    <div class="aside-content">
                        <!-- Product Gallery -->

                        <div class="mb-2 js-prd-m-holder"></div>
                        <div class="prd-block_main-image">
                            <div class="prd-block_main-image-holder" id="prdMainImage">
                                <div class="product-main-carousel js-product-main-carousel"
                                    data-zoom-position="inner">
                                    <div data-value="Beige"><span class="prd-img"><img
                                                src="{{product.Thumbnail_image.url}}"
                                                data-src="{{product.Thumbnail_image.url}}"
                                                class="lazyload fade-up elzoom" alt=""
                                                data-zoom-image="{{product.Thumbnail_image.url}}" /></span>
                                    </div>
                                    {% for i in Thumbnail_image %}
                                    <div data-value="{{forloop.counter}}"><span class="prd-img"><img
                                        src="{{i.Images.url}}"
                                        data-src="{{i.Images.url}}"
                                        class="lazyload fade-up elzoom" alt=""
                                        data-zoom-image="{{i.Images.url}}" /></span>
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- <div class="prd-block_label-sale-squared justify-content-center align-items-center">
                                    <span>Sale</span></div> -->
                            </div>
                            <div class="prd-block_main-image-links">
                                <a href="images/products//product-01.jpg" class="prd-block_zoom-link"><i
                                        class="icon-zoom-in"></i></a>
                            </div>
                        </div>
                        <div class="product-previews-wrapper">
                            <div class="product-previews-carousel js-product-previews-carousel">
                                <a href="#" data-value="Beige"><span class="prd-img"><img
                                            src="{{product.Thumbnail_image.url}}"
                                            data-src="{{product.Thumbnail_image.url}}"
                                            class="lazyload fade-up" alt="" /></span></a>
                            {% for i in Thumbnail_image %}
                                <a href="#" data-value="{{forloop.counter}}"><span class="prd-img"><img
                                            src="{{i.Images.url}}"
                                            data-src="{{i.Images.url}}"
                                            class="lazyload fade-up" alt="" /></span></a>
                            {% endfor %}
                            </div>
                        </div>

                 


                        <!-- /Product Gallery -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6 mt-1 mt-md-0">
                    <div class="prd-block_info prd-block_info--style1"
                        data-prd-handle="/products/copy-of-suede-leather-mini-skirt">
                        <div class="prd-block_info-top prd-block_info_item order-0 order-md-2">
                            <div class="prd-block_price prd-block_price--style2">
                                <div class="prd-block_price--actual">
                                    <p id="SellPri">₹{{product.Product_Items.first.Selling_Prize}}</p>
                                </div>
                                <div class="prd-block_price-old-wrap">
                                    <span class="prd-block_price--old" id="disPrice">
                                        ₹{{product.Product_Items.first.Display_Prize}}
                                    </span>
                                    <span class="prd-block_price--text" id="SavePrice">
                                        {%load mathfilters%}
                                        You Save:
                                        ₹{{product.Product_Items.first.Display_Prize|sub:product.Product_Items.first.Selling_Prize}}
                                    </span>
                                </div>
                            </div>
                            <div class="prd-block_viewed-wrap d-none d-md-flex">
                                <div class="prd-block_viewed">
                                    <div class="two-row">
                                        <p>Availability:
                                            <span class="prd-in-stock" data-stock-status="" id="stockInfo">{{product.Product_Items.first.Product_stock}} more left</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="prd-block_description prd-block_info_item ">
                            <h3>Description</h3>
                            <p>{{product.Description}}</p>
                            <div class="mt-1"></div>
                        </div>
                        <div class="prd-block_info_item prd-block_info-when-arrives d-none" data-when-arrives>
                            <div class="prd-block_links prd-block_links m-0 d-inline-flex">
                                <i class="icon-email-1"></i>
                                <div><a href="#" data-follow-up="" data-name="Oversize Cotton Dress"
                                        class="prd-in-stock" data-src="#whenArrives">Inform me when the item arrives</a>
                                </div>
                            </div>
                        </div>
                        <div class="prd-block_info-box prd-block_info_item">
                            <div class="two-column">
                                <p>Brand:
                                    <span class="prd-in-stock" data-stock-status="" id="stockInfo">{{product.Product_Brand}}</span>
                                </p>
                                <p class="prd-taxes">{{product.Varient_Type}}:
                                    <span id="Varient-Label">{{product.Product_Items.first.Varient_name}}</span>
                                </p>
                                <p>Collection: <span> <a href="/Categories/?pk={{product.Product_Category.id}}" data-toggle="tooltip"
                                            data-placement="top"
                                            data-original-title="View all">{{product.Product_Category}}</a></span></p>
                                <p>Barcode: <span>314363563</span></p>
                            </div>
                        </div>
                        <div class="order-0 order-md-100">

                            <div class="prd-block_options">



                                <div class="prd-size swatches">
                                    <ul class="size-list js-size-list" data-select-id="SingleOptionSelector-1">
                                        {% for i in product.Product_Items.all %}
                                        <li class="{%if i.id == product.Product_Items.first.id%}active{%endif%}"><a
                                                href="#" data-value="Small" class="VarientChange"
                                                data-id="{{i.id}}"><span class="value">{{i.Varient_Values}}</span></a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <form method="GET" action="{% url 'checkout' %}">
                                
                                <div class="prd-block_actions prd-block_actions--wishlist">
                                    <div class="prd-block_qty">
                                        <div class="qty qty-changer">
                                            <button class="decrease js-qty-button" id="decrement"></button>
                                            <input type="number" id="item_quantity" class="qty-input" name="quantity"
                                                value="1" data-min="1" data-max="1000">
                                            <button type="button" class="increase" id="increment"
                                                data-product="{{product.Product_Items.first.id}}"></button>
                                        </div>
                                    </div>
                                    <div class="btn-wrap">
                                        {% if product.Product_Items.first.id in CartExistance %}
                                        <button type="submit" class="btn btn--add-to-cart AddToCart disabled"
                                            id="togleVarient" style="width: 50;margin-left:auto ;border-radius: 10px;  "
                                            data-product='{"name":  "Leather Pegged Pants ",  "url ": "product.html",  "path ": "/static/User/images/skins/fashion/product-page/product-01.jpg",  "aspect_ratio ": "0.78"}'
                                            id="add_to_cart">Add
                                            to cart</button>
                                        {% else %}
                                        <button type="submit" class="btn btn--add-to-cart AddToCart " id="togleVarient"
                                            style="width: 50;margin-left:auto ;border-radius: 10px;  "
                                            data-product='{"name":  "Leather Pegged Pants ",  "url ": "product.html",  "path ": "/static/User/images/skins/fashion/product-page/product-01.jpg",  "aspect_ratio ": "0.78"}'
                                            id="add_to_cart">Add
                                            to cart</button>
                                        {% endif %}
                                        <input hidden type="text" value="{{product.Product_Items.first.id}}"
                                        name="varient" id="pro_id">

                                    
                                    
                                    </div>
                                    <div class="btn-wrap">
                                        <button type="submit"
                                        class="btn btn--add-to-cart js-trigger-addtocart js-prd-addtocart"
                                        style="margin-left:auto ;margin-right:auto;border-radius: 10px;"
                                        id="varient_id" name="buy">
                                        Buy Now</button>
                                        

                                    </div>
                                    <div class="btn-wishlist-wrap">
                                        
                                        <a href="#" class="btn-add-to-wishlist ml-auto js-add-wishlist Wishlist_add"
                                            data-id="{{product.id}}" style="margin-left:20px ;" title="Add To Wishlist">
                                            {% if product.id in wishlist %}
                                            <i class="icon-heart-hover"></i>
                                            {% else %}
                                            <i class="icon-heart-stroke"></i>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </form>
                            <div class="prd-block_agreement prd-block_info_item order-0 order-md-100 text-right"
                                data-agree>

                                <input id="agreementCheckboxProductPage" class="js-agreement-checkbox"
                                    data-button=".shopify-payment-agree" name="agreementCheckboxProductPage"
                                    type="checkbox">
                            </div>
                            <div style="text-align: center;"><span id="StockNotify"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="holder prd-block_links-wrap-bg d-none d-md-block">
        <div class="prd-block_links-wrap prd-block_info_item container mt-2 mt-md-5 py-1">
            <div class="prd-block_link"><span><i class="icon-call-center"></i>24/7 Support</span></div>
            <div class="prd-block_link">
                <!--promo code details-->
                <span></span>
            </div>
            <div class="prd-block_link"><span><i class="icon-delivery-truck"></i> Fast Shipping</span></div>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="title-wrap text-center">
                <h2 class="h1-style">You may also like</h2>
                <div class="carousel-arrows carousel-arrows--center"></div>
            </div>
            
            <div class="prd-grid prd-carousel js-prd-carousel slick-arrows-aside-simple slick-arrows-mobile-lg data-to-show-4 data-to-show-md-3 data-to-show-sm-3 data-to-show-xs-2"
                data-slick='{"slidesToShow": 4, "slidesToScroll": 2, "responsive": [{"breakpoint": 992,"settings": {"slidesToShow": 3, "slidesToScroll": 1}},{"breakpoint": 768,"settings": {"slidesToShow": 2, "slidesToScroll": 1}},{"breakpoint": 480,"settings": {% if Products_count == 1 %}{"slidesToShow": 1, "slidesToScroll": 1}{% else %}{"slidesToShow": 2, "slidesToScroll": 1}{% endif %}}]}'>
                {% if Products %}
                {% for Product in Products %}
                <div class="prd prd--style2 prd-labels--max prd-labels-shadow listProduct">
                    <div class="prd-inside">

                        <div class="prd-img-area">

                            <a href="/Categories/viewProduct/?id={{Product.id}}&cat={{CatDetails.id}}"
                                class="prd-img image-hover-scale image-container">
                                <img src="{{Product.Thumbnail_image.url}}"
                                    data-src="{{Product.Thumbnail_image.url}}" alt="Oversize Cotton Dress"
                                    class="js-prd-img lazyload fade-up">
                                    <div class="prd-big-squared-labels" id="offPercent{{Product.id}}">
                                             
                                        {% with ProductPriceDiff=Product.Product_Items.first.Display_Prize|sub:Product.Product_Items.first.Selling_Prize%}
                                        {% with numerator=ProductPriceDiff|mul:100 denominator=Product.Product_Items.first.Display_Prize %}
                                        {% load post_tag %}
                                        {% with percent_offer=numerator|div:denominator|to_int %}
                                        {% if percent_offer > 20|to_int %}
                                        <div class="label-sale" style="background-color: #17c6aa;" ><span>{{ numerator|div:denominator|floatformat:0 }}%<span class="sale-text">off</span></span>
                                            <div class="countdown-circle">	
                                            </div>
                                        </div>
                                        {% endif %}

                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}
                                
                                        
                                    </div>
                            </a>
                            <div class="prd-circle-labels">
                                <div class="pb-2 wishlistClass">
                                    <a href="#" class="circle-label-compare mt-0 Wishlist_add_like"
                                        data-id="{{Product.id}}" title="Add To Wishlist">
                                        {% if Product.id in wishlist %}
                                        <i class="icon-heart-hover"></i>
                                        {% else %}
                                        <i class="icon-heart-stroke"></i>
                                        {% endif %}
                                    </a>
                                </div>
                                <div
                                class="colorswatch-label colorswatch-label--variants js-prd-colorswatch">
                                <i class="icon-palette"><span class="path1"></span><span
                                        class="path2"></span><span class="path3"></span><span
                                        class="path4"></span><span class="path5"></span><span
                                        class="path6"></span><span class="path7"></span><span
                                        class="path8"></span><span class="path9"></span><span
                                        class="path10"></span></i>
                                <ul>
                                    {% for i in Product.Product_Items.all %}
                                    <li>
                                        <a class="getPrice btn-light btn--sm p-1" data-toggle="tooltip"
                                            data-placement="left" title="{{i.Varient_Values}}" data-id="{{i.id}}" data-product="{{Product.id}}"><span>{{i.Varient_Values}}</span></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div class="prd-info">
                            <div class="prd-info-wrap">
                                {%if Product.Product_Items.first.Product_stock == 0 %}<div class="prd-tag" style="color: crimson;">Out Of Stock</div>{%else%}<div class="prd-tag"><br></div> {% endif %}
                                <h2 class="prd-title"  style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap; text-align: center;font-weight: unset;"><a href="#">{{Product}}</a>
                                </h2>
                                <div class="row" style="padding: auto; text-align: center;">
                                </div>
                                <div class="prd-action">
                                    <form action="#">
                                        <button class="btn js-prd-addtocart"
                                            data-product='{"name": "Leather Pegged Pants", "path":"/static/User/images/skins/fashion/products/product-01-1.jpg", "url":"product.html", "aspect_ratio":0.778}'>Add
                                            To Cart</button>
                                    </form>
                                </div>
                            </div>
                            <div class="prd-hovers">
                                <div class="prd-circle-labels">
                                    <div class="prd-hide-mobile"><a href="#"
                                            class="circle-label-qview js-prd-quickview"
                                            data-src="ajax/ajax-quickview.html"><i
                                                class="icon-eye"></i><span>QUICK VIEW</span></a></div>
                                </div>
                                <div class="prd-price row">

                                    <div class="price-old col-12 text-center"><span
                                            style="color: rgb(190, 167, 167); font-size: small;" id="prizeD{{Product.id}}">
                                            ₹ {{Product.Product_Items.first.Display_Prize}}
                                        </span>
                                    </div>
                                    <div class="price-new col-12 text-center"><span
                                            style="color: rgb(93, 93, 93); font-size: small;" id="prize{{Product.id}}">
                                            ₹ {{Product.Product_Items.first.Selling_Prize}} ({{Product.Product_Items.first.Varient_Values}})
                                        </span>
                                    </div>
                                </div>
                                <div class="prd-action">
                                    <div class="prd-action-left">
                                        {% if Product.Product_Items.first.id in CartExistance %}
                                        <a href="" id="CartBtn{{Product.id}}" class="btn btn--sm AddToCartSimilar disabled" data-id="{{Product.Product_Items.first.id}}">Add To Cart</a>
                                        {% else %}
                                        <a href="" id="CartBtn{{Product.id}}" class="btn btn--sm AddToCartSimilar {%if Product.Product_Items.first.Product_stock == 0 %}disabled{%endif%}" data-id="{{Product.Product_Items.first.id}}">Add To Cart</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-lg aside text-center">
                    <div class="prd-grid-wrap" style="text-align: center;margin-top: 2rem;">
                        <h1>Nothing Find!!</h1>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(() => {
        var VId = $('#pro_id').val()
        $.ajax({
            type: "GET",
            url: '{% url "stockCheck" %}',
            data: {
                'subject_id': VId,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: (res) => {

                if (res.stocks) {
                    if (res.stocks <= 20) {
                        //console.log('Hurry! Stock is limited')
                        $('#StockNotify').html('Hurry! Stock is limited')
                        $('#StockNotify').css({ 'color': 'rgb(245, 164, 13)' })
                    } else if (res.stocks > 20) {
                        $('#StockNotify').html('Enjoy Your Shopping!!')
                        $('#StockNotify').css({ 'color': 'green' })
                    }
                } else {
                    //console.log('Out Of Stocks')
                    $('#StockNotify').html('Out Of Stocks')
                    $('#StockNotify').css({ 'color': 'red' })
                    $('#varient_id').addClass('disabled')
                }
            },
            error: (error) => {
                alert(error)
            }
        })

        $('.VarientChange').click(function () {
            var VarientId = $(this).data('id');
            $.ajax({
                type: "GET",
                url: '{% url "get_Prize" %}',
                data: {
                    'subject_id': VarientId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: (data) => {
                    console.log(data)
                    $('#SellPri').html(`₹${data.sellingPrice}`)
                    $('#disPrice').html(`₹${data.DisplayPrice}`)
                    $('#stockInfo').html(`${data.stocks} more left`)
                    $('#Varient-Label').html(`${data.ProductValueLable}`)
                    $('#SavePrice').html(`You Save: ₹ ${data.saves}`)
                    $('#pro_id').val(VarientId)
                    $('#increment').attr({ 'data-product': VarientId })
                    $('#item_quantity').val(1)
                    if (data.CartAddStatus == true) {
                        $('#togleVarient').removeClass('disabled')
                        // $('#CartBtn'+product).addClass('disabled')
                    } else {
                        $('#togleVarient').addClass('disabled')
                    }
                    if (data.stocks) {
                        console.log('notify')
                        if (data.stocks <= 20) {
                            //console.log('Hurry! Stock is limited')
                            $('#StockNotify').html('Hurry! Stock is limited')
                            $('#StockNotify').css({ 'color': 'rgb(245, 164, 13)' })
                        } else if (data.stocks > 20) {
                            $('#StockNotify').html('Enjoy Your Shopping!!')
                            $('#StockNotify').css({ 'color': 'green' })
                        }
                    } else {
                        //console.log('Out Of Stocks')
                        $('#StockNotify').html('Out Of Stocks')
                        $('#StockNotify').css({ 'color': 'red' })
                        $('#varient_id').addClass('disabled')
                        $('#togleVarient').addClass('disabled')
                    }

                }
            })

        })


        $(document).on('click','.getPrice',function () {
        var VarientId = $(this).data('id');
        var product = $(this).data('product');
        //console.log(product)
            $.ajax({
                type: "GET",
                url: '/get_Prize/',
                data: {
                    'subject_id': VarientId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: (data) => {
                    
                    $('#prize'+product).html(`₹ ${data.sellingPrice} (${data.Value})`);
                    $('#prizeD'+product).html(`₹ ${data.DisplayPrice}`);
                    var off = Number((data.DisplayPrice - data.sellingPrice)/data.DisplayPrice*100).toFixed(0)
                    if(off>=20){
                        $('#offPercent'+product).html(`<div class="label-sale" style="background-color: #17c6aa;" ><span>${off}%<span class="sale-text">off</span></span>
                            <div class="countdown-circle">	
                            </div>
                            </div>`
                        );
                    }
                    // $('#CartBtn'+product).data('id')=data.Varientid;
                    $('#CartBtn'+product).attr("data-id",data.Varientid);
                    $('#CartBtn'+product).attr("data-item",data.Value);
                    //console.log('#CartBtn'+product)

                    if(data.CartAddStatus==false || data.StockStatus==false){
                        // $('#CartBtn'+product).addClass('disabled')
                        $('#CartBtn'+product).addClass('disabled')
                        
                    }else{
                        $('#CartBtn'+product).removeClass('disabled')
                    }

                    //console.log(data)
                }
            })
        })



        $('.AddToCart').click(function (e) {
            e.preventDefault()
            var ProductVarientId = $('#pro_id').val();
            var itemQntity = $('#item_quantity').val()
            console.log(itemQntity)
            console.log(ProductVarientId)
            $.ajax({
                type: "GET",
                url: "{% url 'Add_To_Cart_View' %}",
                data: {
                    'VarientId': ProductVarientId,
                    'qty': itemQntity,
                },
                success: (res) => {
                    console.log(res)
                    if (res.status == true) {
                        $(this).addClass('disabled')
                        console.log()
                        $('#CartCount').html(res.cartCount)
                        $('#finalPrize').html(`₹${res.final}`)
                        $('#CartCount1').html(res.cartCount)
                        $('#finalPrize1').html(`₹${res.final}`)
                    } else {
                        alert('Exist')
                    }
                }
            })
        })

        $('.Wishlist_add').click(function (e) {
            e.preventDefault()
            var DataId = $(this).data('id')
            console.log(DataId)
            $.ajax({
                type: "GET",
                url: '{% url "wishList" %}',
                data: {
                    'subject_id': DataId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: (res) => {
                    console.log(res)
                    if (res.succes == true) {
                        $(this).html('<i class="icon-heart-hover">')
                        $("#W_Count").html(res.count)
                        $("#W_Count1").html(res.count)
                        $(this).attr({ 'title': 'Remove From Cart' })
                    } else {
                        $(this).html('<i class="icon-heart-stroke"></i>')
                        $(this).attr({ 'title': 'Add To Cart' })
                        $("#W_Count").html(res.count)
                        $("#W_Count1").html(res.count)
                    }
                },
                error: (error) => {
                    alert('Need to login')
                }
            })

        })

        //<<<<<< qnty inc >>>>>>>
        $('#increment').click(function () {
            let Qty = $(this).siblings('#item_quantity').val()
            console.log(Qty)
            let PVarient = parseInt($(this).attr('data-product'))
            $.ajax({
                type: 'GET',
                url: "{% url 'stockCheck' %}",
                data: {
                    'subject_id': PVarient
                },
                success: (res) => {
                    console.log(res)
                    if (res.stocks) {
                        var finalQnty = parseInt(Qty) + 1
                        if (res.stocks - finalQnty >= 0) {
                            console.log('enjoy')
                            $(this).siblings('#item_quantity').val(parseInt(Qty) + 1)
                            $(document).load()
                        } else {
                            toastr.error("Sorry We Don't have any more units for this item")
                        }
                    } else {
                        toastr.error("Sorry We Don't have any more units for this item")
                        $(this).siblings('#item_quantity').val(parseInt(Qty))
                    }
                },
                error: (er) => {
                    alert(er)
                }
            })
            console.log(PVarient)

        })


        $(document).on('click','.Wishlist_add_like',function (e) {
            e.preventDefault()
            var DataId = $(this).attr('data-id')
            console.log(DataId)
            $.ajax({
                type: "GET",
                url: '/wishList/',
                data: {
                    'subject_id': DataId,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: (res) => {
                    console.log(res)
                    if (res.succes == true) {
                        $(this).html('<i class="icon-heart-hover">')
                        $(this).attr({'title':'Remove From Cart'})
                        $("#W_Count").html(res.count)
                        $("#W_Count1").html(res.count)
                    } else {
                        $(this).html('<i class="icon-heart-stroke"></i>')
                        $(this).attr({'title':'Add To Cart'})
                        $("#W_Count").html(res.count)
                        $("#W_Count1").html(res.count)
                    }
                },
                error: (error) => {
                    alert('Need to login')
                }
            })

        })

        $(document).on('click','.AddToCartSimilar',function(e){
            e.preventDefault()
            var ProductVarientId=$(this).attr('data-id');
            console.log(ProductVarientId)
            $.ajax({
                type: "GET",
                url:"/Add_To_Cart/",
                data:{
                    'VarientId':ProductVarientId,
                },
                success:(res)=>{
                    console.log(res)
                    if(res.status==true){
                        $(this).addClass('disabled')
                        console.log()
                        $('#CartCount').html(res.cartCount)
                        $('#finalPrize').html(`₹${res.final}`)
                        $('#CartCount1').html(res.cartCount)
                        $('#finalPrize1').html(`₹${res.final}`)
                    }else{
                        alert('Exist')
                    }    
                }
            })
        })
    })
</script>
{% endblock contents %}('input[name="edit_unit_price"]')