{% extends 'UserMain.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block contents %}
<div class="page-content">
    <div class="holder breadcrumbs-wrap mt-0">
        <div class="container">
            <ul class="breadcrumbs">
                <li><a href="/">Home</a></li>
                <li><span>Category</span></li>
            </ul>
        </div>
    </div>
    <div class="holder">
        <div class="container">
            <div class="page-title text-center">
                <h1>{{CatDetails}}</h1>
            </div>
            <div class="row">
                <div class="col-lg-4 aside aside--left filter-col filter-mobile-col filter-col--sticky js-filter-col"
                    data-grid-tab-content>
                    <div class="filter-col-content filter-mobile-content">
                        <div class="sidebar-block">
                            <div class="sidebar-block_content">
                                <div class="selected-filters-wrap">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <a href="/allProducts/" class="clear-filters"><span>Clear All</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- category -->
                        <div class="sidebar-block filter-group-block open" id="catColab">
                            <div class="sidebar-block_title">
                                <span>Categories</span>
                            </div>
                            <div class="sidebar-block_content" style="display: none;" id="catshow">
                                <ul class="category-list">
                                    {% for i in Categories_Parent %}
                                    <li><a href="/Categories/?pk={{i.id}}" title="{{i}}" class="open">{{i}}</a>
                                        <ul class="category-list">
                                            {% for child in Categories%}
                                            {% if child.Parent.id == i.id  %}
                                            <li><a href="/Categories/?pk={{child.id}}" title="{{i}}" class="open">{{child}}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="sidebar-block filter-group-block open" id="Brands">
                            <div class="sidebar-block_title">
                                <span>Brand</span>
                            </div>
                            <div class="sidebar-block_content" style="display: none;" id="brandshow">
                                <ul class="category-list">
                                    {% for brand in brands %}
                                    <li><a href="" title="{{brand}}" class="open">{{brand}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <span style="font-size: large;font-weight: bold;cursor: pointer;" id="VarientCat" >Varients</span>
                        {% for Varient in VarientTypes %}
                        <div class="sidebar-block filter-group-block open varientCollaps VarientShow" style="display: none;">
                            <div class="sidebar-block_title">
                                <span style="margin-left: 10px;">{{Varient}}</span>
                            </div>
                            <div class="sidebar-block_content" style="display: none;">
                                <ul class="category-list">
                                    {% for values in Varients %}
                                    {% if Varient.id == values.Varient_Type.id %}
                                    <li><a href="/Varients/?pk={{values.id}}" title="{{Varient}}" class="open">{{values}}</a>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                                <div style="text-align: center;cursor: pointer;padding: 0;" class="row">
                                    <div class="col-12">
                                        
                                    </div>
                                    <div class="col-12" ><p style="opacity:.2;">{{Varient}}</p></div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        {% endfor %}

                        <!--prize-->
                        <hr>
                        <span style="font-size: large;font-weight: bold;cursor: pointer;" id="VarientCat" >Price</span>


                        <a href="https://bit.ly/3eJX5XE" class="bnr image-hover-scale bnr--bottom bnr--left"
                            data-fontratio="3.95">
                            <div class="bnr-img">
                                <img src="{{CatDetails.Category_img.url}}" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="filter-toggle js-filter-toggle">
                    <div class="loader-horizontal js-loader-horizontal">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%">
                            </div>
                        </div>
                    </div>
                    <span class="filter-toggle-icons js-filter-btn"><i class="icon-filter"></i><i
                            class="icon-filter-close"></i></span>
                    <span class="filter-toggle-text"><a href="#" class="filter-btn-open js-filter-btn">REFINE &
                            SORT</a><a href="#" class="filter-btn-close js-filter-btn">RESET</a><a href="#"
                            class="filter-btn-apply js-filter-btn">APPLY & CLOSE</a></span>
                </div>
                <div class="col-lg aside">
                    <div class="prd-grid-wrap">
                        <!-- Products Grid -->
                        <div class="prd-grid product-listing data-to-show-4 data-to-show-md-4 data-to-show-sm-2 js-category-grid"
                            data-grid-tab-content>
                            {% if Products %}
                            {% for Product in Products %}
                            <div class="prd prd--style2 prd-labels--max prd-labels-shadow ">
                                <div class="prd-inside">
                                    <div class="prd-img-area">
                                        <a href="viewProduct/?id={{Product.id}}&cat={{CatDetails.id}}"
                                            class="prd-img image-hover-scale image-container">
                                            <img src="{{Product.Thumbnail_image.url}}"
                                                data-src="{{Product.Thumbnail_image.url}}"
                                                alt="Oversize Cotton Dress" class="js-prd-img lazyload fade-up">
                                            <div class="prd-big-squared-labels">
                                            </div>
                                        </a>
                                        <div class="prd-circle-labels">
                                            <div class="pb-2 wishlistClass">                                              
                                            <a href="#"
												class="circle-label-compare mt-0 Wishlist_add" data-id="{{Product.id}}"
												title="Add To Wishlist">{% if Product.id in wishlist %}<i class="icon-heart-hover"></i>{% else %}<i class="icon-heart-stroke"></i>{% endif %}
                                            </a>
                                            </div>
                                            <a href="#" class="circle-label-qview js-prd-quickview prd-hide-mobile"
                                                data-src="ajax/ajax-quickview.html"><i class="icon-eye"></i><span>QUICK
                                                    VIEW</span>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="prd-info">
                                        <div class="prd-info-wrap">
                                            <div class="prd-rating justify-content-center"><i
                                                    class="icon-star-fill fill"></i><i
                                                    class="icon-star-fill fill"></i><i
                                                    class="icon-star-fill fill"></i><i class="icon-star-fill fill"></i>
                                                <i class="icon-star-fill fill"></i>
                                            </div>

                                            <div class="prd-tag"><a href="#">Mommoz</a></div>
                                            <h3 class="prd-title" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap; text-align: center;font-weight: unset;"><a href="#" >{{Product}} </a>
                                            </h3>
                                            <div class="prd-action">
                                                <form action="#">
                                                    <button class="btn js-prd-addtocart"
                                                        data-product='{"name": "Leather Pegged Pants", "path":"/static/User/images/skins/fashion/products/product-01-1.jpg", "url":"product.html", "aspect_ratio":0.778}'>Add
                                                        To Cart</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="prd-hovers">
                                            <div class="prd-circle-labels">
                                                <!-- <div>
                                                        <a href="#" data-id="{{Product.id}}"
                                                            class="circle-label-compare circle-label-wishlist--add js-add-wishlist mt-0"
                                                            title="Add To Wishlist"><i class="icon-heart-stroke"></i>
                                                        </a>
                                                        <a href="#" data-id="{{Product.id}}"
                                                            class="circle-label-compare circle-label-wishlist--off js-remove-wishlist mt-0"
                                                            title="Remove From Wishlist">
                                                            <i class="icon-heart-hover"></i>
                                                        </a>
                                                    </div> -->

                                                <div class="prd-hide-mobile"><a href="#"
                                                        class="circle-label-qview js-prd-quickview"
                                                        data-src="ajax/ajax-quickview.html"><i
                                                            class="icon-eye"></i><span>QUICK VIEW</span></a></div>
                                            </div>
                                            <div class="prd-price">

                                                <div class="price-new">
                                                    <span
                                                        style="color: rgb(151, 145, 145); font-size: small;">INR:
                                                    </span>
                                                    {%for i in Product.Product_Items.all%}
                                                        {% if varientConfo == i.Varient_Values.id %}
                                                        {{i.Varient_Values}}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div class="prd-action">
                                                <div class="prd-action-left">
                                                    <form action="#">
                                                        <button class="btn js-prd-addtocart"
                                                            data-product='{"name": "Leather Pegged Pants", "path":"/static/User/images/skins/fashion/products/product-01-1.jpg", "url":"product.html", "aspect_ratio":0.778}'>Add
                                                            To Cart</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% else %}
                            <h1>Nothing Find!!</h1>
                            {% endif %}
                        </div>
                        <div class="loader-horizontal-sm js-loader-horizontal-sm d-none" data-loader-horizontal
                            style="opacity: 0;"><span></span></div>
                        <div class="circle-loader-wrap">
                            <div class="circle-loader">
                                <a href="ajax/ajax-product-category.json" data-total="30" data-loaded="12" data-load="6"
                                    class="lazyload js-circle-loader">
                                    <svg id="svg_d" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="50%" cy="50%" r="63" fill="transparent"></circle>
                                        <circle class="js-circle-bar" cx="50%" cy="50%" r="63" fill="transparent">
                                        </circle>
                                    </svg>
                                    <svg id="svg_m" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="50%" cy="50%" r="50" fill="transparent"></circle>
                                        <circle class="js-circle-bar" cx="50%" cy="50%" r="50" fill="transparent">
                                        </circle>
                                    </svg>
                                    <div class="circle-loader-text">Load More</div>
                                    <div class="circle-loader-text-alt"><span
                                            class="js-circle-loader-start"></span>&nbsp;out of&nbsp;<span
                                            class="js-circle-loader-end"></span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(() => {
        $('#catColab').on('click', () => {
            $('#catshow').toggle(400)
        })
    })
    $(document).ready(() => {
        $('#Brands').on('click', () => {
            $('#brandshow').toggle(400)
        })
    })
    $(document).ready(() => {
        $('#VarientCat').on('click', () => {
            $('.VarientShow').toggle(400)
        })
    })
</script>

<script>
    $(document).ready(()=>{
        $('.varientCollaps').click(function(){
            console.log($(this).children())
            $(this).children().toggle(400)
        })
    })
</script>

<script>
    $('.Wishlist_add').click(function(){
        var DataId = $(this).data('id')
        console.log(DataId)
        $.ajax({
            type: "GET",
            url: '{% url "wishList" %}',
            data: {
                'subject_id': DataId,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success:(res)=>{
                console.log(res)
                if(res.succes==true){
                    $(this).html('<i class="icon-heart-hover">')
                    $("#W_Count").html(res.count)
                }else{
                    $(this).html('<i class="icon-heart-stroke"></i>')
                    $("#W_Count").html(res.count)
                }
            },
            error:(error)=>{
                alert('Need to login')
            }
        })
        
    })
</script>
{% endblock contents %}