<head>
    {% load static %}
<style>
    @page {
        size: a4 portrait;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; width: 512pt; top: 50pt; height: 40pt;
        }
        @frame content_frame {          /* Content Frame */
            left: 50pt; width: 512pt; top: 90pt; height: 632pt;
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; width: 512pt; top: 772pt; height: 20pt;
        }
    }
</style>
</head>

<body>
    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
    	<h3>Momooz Online Supermarket</h3>
        <img src="User/images/logo.png" width="100px" height="30px" style="float: right;">
    </div>

    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">(c) - page <pdf:pagenumber>
        of <pdf:pagecount>
    </div>

    <!-- HTML Content -->
    <table class="border">
    		<tr>
    			<td>2nd floor,jeslu center,westhill,kozhikode</td>
    			<td>9539288508</td>
    		</tr>
    		<tr>
    			<td>kozhikode.kerala</td>
    			<td>Momoozonlinestore@gmail.com</td>
    		</tr>
    		<tr>
    			<td>673555</td>
    			<td>Momoozonline.com</td>
    		</tr>
    </table><hr><br><br>
    <table class="border">
            <tr>
    			<th>Customer details</th>
    			<th>Delivery Address</th>
    		</tr>
    		<tr>
                <td>{{phone}}</td>
    			<td>{{address}}</td>
    			
    		</tr>
    		<tr>
                <td>{{email}}</td>
    			<td>{{city}} {{state}},</td>
    			
    		</tr>
    		<tr>
                <td>{{name}}</td>
    			<td>{{zipcode}}</td>
    			
    		</tr>
    </table>
    
    
    <hr>

    <table>
    	<tr>
 
    		<th>Product</th>
    		<th>Price</th>
    		<th>Quantity</th>
    		<th>Total</th>
    	</tr>
        {% for i in product_name %}
        
        
        
    	<tr>
 
    		<td>{% for j in i.product.product_set.all %} {{j.Name}}{% endfor %}</td>
    		<td>{{i.product.Selling_Prize}}</td>
    		<td>{{i.count}}</td>
    		<td>${{i.amount}}</td>
    	</tr>
    	{% endfor %}
    </table>

    <hr>
    
    <p><strong>Total: ${{total}}</strong></p>
    
</body>
</html>