<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %}</title>
    <!-- base:css -->
    <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- Dropzone js -->
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    
    <!-- inject:css -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/static/images/logo/title.png" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body>
    <div class="container-scroller">
        <div class="horizontal-menu">
            
            <nav class="navbar top-navbar col-lg-12 col-12 p-0">
                <div class="container-fluid">
                    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
                        <ul class="navbar-nav navbar-nav-left">
                            <!-- <li class="nav-item ml-0 mr-5 d-lg-flex d-none">
                                <a href="#" class="nav-link horizontal-nav-left-menu"><i
                                        class="mdi mdi-format-list-bulleted"></i></a>
                            </li> -->
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center"
                                    id="notificationDropdown" href="#" data-toggle="dropdown">
                                    <i class="mdi mdi-bell mx-0"></i>
                                    <span class="count bg-success">2</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                    aria-labelledby="notificationDropdown">
                                    <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>


                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-success">
                                                <i class="mdi mdi-information mx-0"></i>
                                            </div>
                                        </div>

                                        <div class="preview-item-content">
                                            <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                            <p class="font-weight-light small-text mb-0 text-muted">
                                                Just now
                                            </p>
                                        </div>
                                    </a>
                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-warning">
                                                <i class="mdi mdi-settings mx-0"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <h6 class="preview-subject font-weight-normal">Settings</h6>
                                            <p class="font-weight-light small-text mb-0 text-muted">
                                                Private message
                                            </p>
                                        </div>
                                    </a>
                                    <a class="dropdown-item preview-item">
                                        <div class="preview-thumbnail">
                                            <div class="preview-icon bg-info">
                                                <i class="mdi mdi-account-box mx-0"></i>
                                            </div>
                                        </div>
                                        <div class="preview-item-content">
                                            <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                            <p class="font-weight-light small-text mb-0 text-muted">
                                                2 days ago
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </li> -->
                            <li class="nav-item dropdown">
                                {% if message_count is not 0 %}
                                <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center"
                                    id="messageDropdown" href="#" data-toggle="dropdown">
                                    <i class="mdi mdi-email mx-0"></i>
                                    
                                    <span class="count bg-primary">{{message_count}}</span>
                                    
                                </a>
                                {% endif %}
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                    aria-labelledby="messageDropdown">
                                    <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                                    {% for i in contact_obj_render %}
                                    <a class="dropdown-item preview-item" href="{% url 'disappear_msg_render' i.pk %}">
                                        <div class="preview-thumbnail">
                                            <img src="/static/images/faces/face4.jpg" alt="image" class="profile-pic">
                                        </div>
                                        <div class="preview-item-content flex-grow">
                                            <h6 class="preview-subject ellipsis font-weight-normal">{{i.name}}&nbsp;{{ i.last_name }}
                                            </h6>
                                            <p class="font-weight-light small-text text-muted mb-0">
                                                {{i.message}}
                                            </p>
                                        </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </li>
                        </ul>
                        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                            <a class="navbar-brand brand-logo" href="{% url 'index' %}"><img src="/static/images/logo/logo.png"
                                    alt="logo" /></a>
                            <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}"><img
                                    src="/static/images/logo/logo.png" alt="logo" /></a>
                        </div>
                        <ul class="navbar-nav navbar-nav-right">
                            <li class="nav-item dropdown d-lg-flex d-none">
                                <a class="dropdown-toggle show-dropdown-arrow btn {%if Report%}btn-primary{%else%}btn-inverse-primary{%endif%} btn-sm "
                                    id="nreportDropdown" href="#" data-toggle="dropdown">
                                    Reports
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                    aria-labelledby="nreportDropdown">
                                    <p class="mb-0 font-weight-medium float-left dropdown-header">Reports</p>
                                    <a class="dropdown-item" href="/admin/generateReportCSV/?Customer">
                                        <i class="mdi mdi-file-excel text-primary"></i>
                                        Customer Report
                                    </a>
                                    <a class="dropdown-item" href="/admin/generateReportCSV/?Order">
                                        <i class="mdi mdi-file-excel text-primary"></i>
                                        Order Report
                                    </a>
                                </div>
                            </li>
                            <!-- <li class="nav-item dropdown d-lg-flex d-none">
                                <button type="button" class="btn btn-inverse-primary btn-sm">Settings</button>
                            </li> -->
                            <li class="nav-item nav-profile dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                                    id="profileDropdown">
                                    <span class="nav-profile-name">{{loginPesron.username}}</span>
                                    <span class="online-status"></span>
                                    <img src="/static/images/faces/face28.png" alt="profile" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                                    aria-labelledby="profileDropdown">
                                    <!-- <a class="dropdown-item">
                                        <i class="mdi mdi-settings text-primary"></i>
                                        Settings
                                    </a> -->
                                    {% if adminLogin %}
                                    <a class="dropdown-item" href="{% url 'logout' %}">
                                        <i class="mdi mdi-logout text-primary"></i>
                                        Logout
                                    </a>
                                    {% endif %}
                                </div>
                            </li>
                        </ul>
                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                            data-toggle="horizontal-menu-toggle">
                            <span class="mdi mdi-menu"></span>
                        </button>
                    </div>
                </div>
            </nav>
            <style>
                .container-fluid .submenu{margin-top: -1rem;}
            </style>
            <nav class="bottom-navbar">
                <div class="container-fluid">
                    <ul class="nav page-navigation" >
                        {% if adminLogin %}
                        <li class="nav-item {% if indexAct %} active {% endif %}">
                            <a class="nav-link" href="{% url 'index' %}">
                                <i class="fas fa-home"></i>
                                <span class="menu-title" style="font-size: smaller;">
                                    Home
                                </span>
                                <i class="menu-arrow" style="font-size: smaller;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users-cog"></i>
                                <span class="menu-title" style="font-size: smaller;">Admins</span>
                                <i class="menu-arrow" style="font-size: smaller;"></i>
                            </a>
                            <div class="submenu">
                                <ul>
                                    
                                    <li class="nav-item"><a class="nav-link" href="{% url 'roles' %}">Role</a></li>
                               
                                    <li class="nav-item"><a class="nav-link" href="{% url 'admins' %}">Admins</a></li>
                                   {% if is_superuser %}
                                    <li class="nav-item"><a class="nav-link" href="{% url 'path' %}">path</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item {% if Locations %} active {% endif %}">
                            <a href="#" class="nav-link ">
                                <i class="fas fa-location-arrow"></i>
                                <span class="menu-title" style="font-size: smaller;">Locations</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Region' %}" style="font-size: smaller;">Region</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item {% if BannerAct %} active {% endif %}">
                            <a href="#" class="nav-link">
                                <i class="fas fa-ad"></i>
                                <span class="menu-title" style="font-size: smaller;">Banners</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Banner' %}">Banners</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item {% if Inventory %} active {% endif %}">
                            <a href="#" class="nav-link">
                                <i class="fas fa-truck-loading"></i>
                                <span class="menu-title" style="font-size: smaller;">Inventory</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'CategoryView' %}">Category</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Varient' %}">Varient</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'ProductView' %}">Products</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item {% if brand_act %} active {% endif %}">
                            <a href="{% url 'brands' %}" class="nav-link">
                                <i class="fas fa-tags"></i>
                                <span class="menu-title" style="font-size: smaller;">Brand</span>
                                <i class="menu-arrow"></i>
                            </a>
                            
                        </li>
                        <li class="nav-item {% if offer_act %} active {% endif %} ">
                            <a href="{% url 'offers' %}" class="nav-link">
                                <i class="fas fa-percent"></i>
                                <span class="menu-title" style="font-size: smaller;">Offers</span>
                                <i class="menu-arrow"></i>
                            </a>
                            
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">
                                <i class="fas fa-users"></i>
                                <span class="menu-title" style="font-size: smaller;">Customers</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <!-- <li class="nav-item"><a class="nav-link" href="">Unverified Customers</a>
                                    </li> -->
                                    <li class="nav-item"><a class="nav-link" href="{% url 'customers' %}">Customers</a>
                                    </li>
                                    
                                    
                                </ul>
                            </div>
                        </li>   
                        <li class="nav-item">
                            <a href="{% url 'orders' %}" class="nav-link">
                                <i class="fas fa-handshake"></i>
                                <span class="menu-title" style="font-size: smaller;">Orders</span>
                                <i class="menu-arrow"></i>
                            </a>
                           
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">
                                <i class="fas fa-sticky-note"></i>
                                <span class="menu-title" style="font-size: smaller;">Coupon</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'coupons' %}">Coupon Codes</a>
                                        <li class="nav-item"><a class="nav-link" href="{% url 'coupon_code_users' %}">Coupon Code Users</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item ">
                            <a href="#" class="nav-link">
                                <i class="fas fa-clipboard"></i>
                                <span class="menu-title" style="font-size: smaller;">Logs</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'admin_log' %}" >Log</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'User_log' %}">UserLog</a>
                                    </li>
                                    
                                    
                                    
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item {% if Reports %} active {% endif %}">
                            <a href="#" class="nav-link">
                                <i class="fas fa-book"></i>
                                <span class="menu-title" style="font-size: smaller;">Reports</span>
                                <i class="menu-arrow"></i>
                            </a>
                            <div class="submenu">
                                <ul>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Order_report' %}">Order Report</a>
                                    </li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'Customer_report' %}">Customer Report</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item {% if notiAct %} active {% endif %}">
                            <a href="{% url 'notifications' %}" class="nav-link">
                                <i class="fas fa-bell"></i>
                                <span class="menu-title" style="font-size: smaller;">Notice</span>
                                <i class="menu-arrow"></i>
                            </a>
                           
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'contacts' %}" class="nav-link">
                                <i class="fas fa-id-card-alt"></i>
                                <span class="menu-title" style="font-size: smaller;">contact</span>
                                <i class="menu-arrow"></i>
                            </a>
                           
                        </li>
                        {% endif %}
                    </ul>
                
                </div>
            </nav>
        </div>

        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">


                    {% block contents %}
                    {% endblock contents %}

                </div>
            </div>
        </div>
    </div>


    <footer class="footer">
        <div class="footer-wrap">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright ©
                    momooz.com 2022</span>
                
            </div>
        </div>
    </footer>
    <!-- partial -->
    </div>
    <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="/static/vendors/base/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="/static/js/template.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <!-- End plugin js for this page -->
    <script src="/static/vendors/chart.js/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="/static/vendors/chartjs-plugin-datalabels/chartjs-plugin-datalabels.js"></script>
    <script src="/static/vendors/justgage/raphael-2.1.4.min.js"></script>
    <script src="/static/vendors/justgage/justgage.js"></script>
    <!-- Custom js for this page-->
    <script src="/static/js/dashboard.js"></script>
    <script src="/static/js/timeout.js"></script>
    <script src="/static/js/disable.js"></script>
    <script src="/static/js/hideandshow.js"></script>
</body>

</html> 